@charset "utf-8";
@import url(webfont-nanumgothic.css);

/* body css (need!!!) */
html,
body{margin:0;padding:0;border:0;letter-spacing:-0.4px;height:100%}
body{width:100%;height:100%;position:relative;font-size:13px;color:#616161;font-family: "Nanum Gothic","나눔고딕", "맑은고딕", "Malgun Gothic", "돋움", "Dotum";margin:0;padding:0}
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
form,
fieldset,
input,
textarea,
p,
th,
td,
dt,
dd,
dl{margin:0;padding:0}
button{display:inline-block;margin:0;padding:0;width:auto;cursor:pointer;border:none;background:none;overflow:visible}
address,
em,
i{font-style:normal}
li{list-style:none}
a{text-decoration:none;color:#333}
a:hover{color:#00aeeb}
em{font-style:normal}
img,
fieldset{border:0;vertical-align:top}
input[type="text"],
input[type="password"]{text-indent:5px}
select::-ms-expand{/* for IE 11 */ display:none !important}
select{-ms-appearance:none !important;-webkit-appearance:none !important;-moz-appearance:none !important;appearance:none !important}

/*
input[type="checkbox"]{display:none}
input[type="checkbox"] + label span{display:inline-block;width:19px;height:19px;margin:-1px 4px 0 0;vertical-align:middle;background:url(../images/mng/icon_checkbox.png) left top no-repeat;cursor:pointer}
input[type="checkbox"]:checked + label span{background:url(../images/mng/icon_checkbox.png) -19px top no-repeat}
*/
input[type="checkbox"]{-ms-appearance:none !important;-webkit-appearance:none !important;-moz-appearance:none !important;appearance:none !important}
input[type="checkbox"]{width:18px;height:18px;border:1px solid #b4b4b4;cursor:pointer}
input[type="checkbox"]:checked{background:url("../images/mng/icon_checkbox.png") no-repeat}

input[type="radio"]{-ms-appearance:none !important;-webkit-appearance:none !important;-moz-appearance:none !important;appearance:none !important}
input[type="radio"]{width:20px;height:20px;background:url("../images/login/input_radio_off.png") center center no-repeat;cursor:pointer}
input[type="radio"]:checked{background:url("../images/login/input_radio_on.png") no-repeat}

/* calendar */
input.calendar{width:120px;height:26px;display:inline-block;padding-left:10px;border:1px solid #dcdcdc;background:url("../images/mng/icon_calendar.png") #fff right center no-repeat;cursor:pointer}

/* display */
.disNon{display:none !important}
.disIB{display:inline-block !important}

/* z-index */
.zi2{z-index:1002 !important}
.zi3{z-index:1003 !important}
.zi4{z-index:1004 !important}
.zi5{z-index:1005 !important}
.zi10{z-index:1010 !important}
.zi11{z-index:1011 !important}

/* cursor */
.csP{cursor:pointer}
.csD{cursor:default}

/* position */
.poR{position:relative !important}
.poA{position:absolute !important}

/* top */
.top4{top:4px !important}

/* text-align */
.taL{text-align:left !important}
.taR{text-align:right !important}
.taC{text-align:center !important}

/* font-weight */
.fwN{font-weight:normal !important}
.fwB{font-weight:bold !important}

/* flex */
.disFlex{display:flex !important;display:-webkit-flex !important}
.flexN{flex:none !important;-webkit-flex:none !important;-ms-flex:none !important}
.flex1{flex:1 !important;-webkit-flex:1 !important;-ms-flex:1 !important}

/* hidden */
.hdn,
legend,
table caption{font-size:0;height:0;overflow:hidden;position:absolute;visibility:hidden;width:0;line-height:0}

/* border */
.bC_ec7063{border-color:#ec7063 !important}

.bS_dddcdc{border:1px solid #dddcdc !important}

/* background-color */
.bg_fff3f3{background-color:#fff3f3 !important}
.bg_edecec{background-color:#edecec !important}

/* float */
.clB{clear:both !important}
.flL{float:left !important}
.flR{float:right !important}

/* color */
.cl_ff8400{color:#ff8400 !important}
.cl_c76161{color:#c76161 !important}
.cl_3266a5{color:#3266a5 !important}
.cl_339cde{color:#339cde !important}
.cl_ff8400{color:#ff8400 !important}
.cl_839ab5{color:#839ab5 !important}
.cl_ec7063{color:#ec7063 !important}
.cl_009900{color:#009900 !important}
.cl_7f7f7f{color:#7f7f7f !important}
.cl_ff0000{color:#ff0000 !important}

/* padding */
.pA0{padding:0 !important}
.pA5{padding:5px !important}

.pT5{padding-top:5px !important}
.pT20{padding-top:20px !important}
.pT60{padding-top:60px !important}

.pR10{padding-right:10px !important}

.pL20{padding-left:20px !important}
.pL100{padding-left:100px !important}

.pB30{padding-bottom:30px !important}

.pTB25{padding-top:25px !important;padding-bottom:25px !important}
.pLR3{padding-left:3px !important;padding-right:3px !important}

/* margin */
.mA20{margin:20px !important}
.mA0{margin:0 !important}

.mR0{margin-right:0 !important}
.mR5{margin-right:5px !important}
.mR6{margin-right:6px !important}
.mR7{margin-right:7px !important}
.mR8{margin-right:8px !important}
.mR9{margin-right:9px !important}
.mR10{margin-right:10px !important}
.mR12{margin-right:12px !important}
.mR17{margin-right:17px !important}
.mR18{margin-right:18px !important}
.mR20{margin-right:20px !important}
.mR38{margin-right:38px !important}
.mR40{margin-right:40px !important}
.mR47{margin-right:47px !important}
.mR53{margin-right:53px !important}
.mR84{margin-right:84px !important}
.mR110{margin-right:110px !important}

.mL0{margin-left:0 !important}
.mL20{margin-left:20px !important}
.mL40{margin-left:40px !important}
.mL60{margin-left:60px !important}
.mL70{margin-left:70px !important}
.mL100{margin-left:100px !important}
.mL140{margin-left:140px !important}

.mB0{margin-bottom:0 !important}
.mB15{margin-bottom:15px !important}
.mB20{margin-bottom:20px !important}
.mB30{margin-bottom:30px !important}
.mB40{margin-bottom:40px !important}
.mB50{margin-bottom:50px !important}
.mB330{margin-bottom:330px !important}

.mT0{margin-top:0 !important}
.mT20{margin-top:20px !important}
.mT24{margin-top:24px !important}
.mT30{margin-top:30px !important}
.mT60{margin-top:60px !important}

/* vertical-align */
.vaB{vertical-align:bottom !important}

/* width */
.wid7p{width:7% !important}
.wid40p{width:40% !important}
.wid50p{width:50% !important}
.wid60p{width:60% !important}
.wid64p{width:64% !important}
.wid70p{width:70% !important}
.wid80p{width:80% !important}
.wid90p{width:90% !important}
.wid100p{width:100% !important}
.wid59{width:59px !important}
.wid85{width:85px !important}
.wid98{width:98px !important}
.wid100{width:100px !important}
.wid120{width:120px !important}
.wid127{width:127px !important}
.wid128{width:128px !important}
.wid130{width:130px !important}
.wid140{width:140px !important}
.wid150{width:150px !important}
.wid170{width:170px !important}
.wid180{width:180px !important}
.wid198{width:198px !important}
.wid200{width:200px !important}
.wid208{width:208px !important}
.wid220{width:220px !important}
.wid246{width:246px !important}
.wid250{width:250px !important}
.wid276{width:276px !important}
.wid278{width:278px !important}
.wid279{width:279px !important}
.wid284{width:284px !important}
.wid320{width:320px !important}
.wid398{width:398px !important}
.wid495{width:495px !important}
.wid600{width:600px !important}

/* height */
.hei100p{height:100% !important}
.hei36{height:36px !important}

/* line-height */
.lhei25{line-height:25px !important;}

/* chart */
.chartBar278{background:url("../images/au/chart_bar_bg_278.png") no-repeat}
.chartBar322{background:url("../images/au/chart_bar_bg_322.png") no-repeat}
.chartBar362{background:url("../images/au/chart_bar_bg_362.png") no-repeat}
.chartBar{height:20px}
.chartBar.blue{background-color:#3266a5}
.chartBar.red{background-color:#c76161}
.chartBar.green{background-color:#3c9c2c}

/* span a btn */
.saBtn a{display:inline-block;color:#fff;text-align:center}
.saBtn a.btnSurveyResult{width:200px;line-height:40px;font-size:16px;text-indent:26px;background:url("../images/au/btn_survey_result.png") #ec7063 41px center no-repeat;border-top-left-radius:7px;border-top-right-radius:7px;font-weight:normal;top:1px;left:13px}
.saBtn a.btnSurveyStart{width:200px;line-height:40px;font-size:16px;font-weight:600;background:url("../images/au/btn_survey_start.png") #7e99a2 170px center no-repeat}
.saBtn a.btnSurveyEnd{width:200px;line-height:40px;font-size:16px;font-weight:600;background-color:#c5c5c5;pointer-events: none;cursor: default;}
.saBtn a.btnSurveyReady{width:200px;line-height:40px;font-size:16px;font-weight:600;background-color:#9f9f9f}
.saBtn a.btnSurveyLayerStart{width:120px;line-height:46px;font-size:16px;font-weight:600;background-color:#7e99a2}
.saBtn a.btnScaleTmpSave{padding:0 26px;font-size:13px;color:#fff;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background-color:#adadad}
.saBtn a.btnScaleTmpSave:hover{background-color:#01aeeb}
.saBtn a.btnScalePrev{padding:0 38px;font-size:13px;color:#fff;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background-color:#adadad}
.saBtn a.btnScalePrev:hover{background-color:#01aeeb}
.saBtn a.btnScaleNext{padding:0 38px;font-size:13px;color:#fff;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background-color:#7e99a2}
.saBtn a.btnScaleNext:hover{background-color:#01aeeb}
.saBtn a.btnScaleSucces{padding-left:80px;padding-right:50px;font-size:13px;color:#fff;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background:url("../images/au/survey_succes.png") #ff9c00 50px center no-repeat}
.saBtn a.btnScaleSucces:hover{background-color:#01aeeb}
.saBtn a.btnMoreResult{width:200px;font-size:16px;font-weight:600;background-color:#7e99a2;line-height:40px}
.saBtn a.btnAnalysMLayer{width:148px;height:38px;background-color:#7e99a2;border:1px solid #7e99a2;font-size:16px;color:#fff;text-align:center;border-top-left-radius:5px;border-top-right-radius:5px;line-height:38px}
.saBtn a.btnAnalysLLayer{width:148px;height:38px;background-color:#7e99a2;border:1px solid #7e99a2;font-size:16px;color:#fff;text-align:center;border-top-left-radius:5px;border-top-right-radius:5px;line-height:38px}
.saBtn a.btnPresentSearch{width:100px;height:59px;line-height:59px;background-color:#7e99a2;font-size:16px;color:#fff;text-align:center;font-weight:bold}
.saBtn a.btnJoinStateListSearch{width:100px;height:28px;line-height:28px;background-color:#7e99a2;font-size:16px;color:#fff;text-align:center;font-weight:bold}
.saBtn a.btnJoinStateResult{width:120px;height:30px;line-height:30px;background-color:#7e99a2;font-size:13px;color:#fff;text-align:center}
.saBtn a.btnUsrManagePresentSearch{width:100px;height:59px;line-height:59px;background-color:#7e99a2;font-size:16px;color:#fff;text-align:center;font-weight:bold}
.saBtn a.btnUsrManageListSearch{width:100px;height:28px;line-height:28px;background-color:#7e99a2;font-size:16px;color:#fff;text-align:center;font-weight:bold}
.saBtn a.btnUsrManageApp{width:80px;height:30px;line-height:30px;background-color:#50b6d8;font-size:13px;color:#fff;text-align:center}
.saBtn a.btnUsrManageCen{width:80px;height:30px;line-height:30px;background-color:#ec7063;font-size:13px;color:#fff;text-align:center}
.saBtn a.btnUsrManageLayerModify{width:120px;height:46px;line-height:46px;background-color:#7e99a2;font-size:14px;color:#fff;text-align:center}
.saBtn a.btnUsrManageLayerSumbit{width:120px;height:46px;line-height:46px;background-color:#7e99a2;font-size:14px;color:#fff;text-align:center}
.saBtn a.btnUsrManageLayerCancel{width:120px;height:46px;line-height:46px;background-color:#adadad;font-size:14px;color:#fff;text-align:center}
.saBtn a.btnTchInfoModifyApp{width:100px;height:26px;line-height:26px;background-color:#ec7063;font-size:14px;color:#fff;text-align:center}
.saBtn a.btnTchInfoReApp{width:100px;height:26px;line-height:26px;background-color:#7e99a2;font-size:14px;color:#fff;text-align:center}
.saBtn a.btnTchInfoDel{width:100px;height:26px;line-height:26px;background-color:#adadad;font-size:14px;color:#fff;text-align:center}
.saBtn a.btnTchInfoNextClassAdd{width:180px;height:26px;line-height:26px;background-color:#7e99a2;font-size:14px;color:#fff;text-align:center}
.saBtn a.btnTchInfoMdify{width:100px;height:46px;line-height:46px;background-color:#7e99a2;font-size:16px;color:#fff;text-align:center;font-weight:bold}
.saBtn a.btnTchInfoCancel{width:100px;height:46px;line-height:46px;background-color:#adadad;font-size:16px;color:#fff;text-align:center;font-weight:bold}
.saBtn a.btnMngJoinsSearch{font-size:14px;color:#fff;font-weight:bold;background-color:#7e99a2;padding:7px 27px;line-height:14px}
.saBtn a.btnMngJoinsResult{font-size:13px;line-height:22px;color:#fff;background-color:#7e99a2;padding:0 26px}
.saBtn a.btnMngClassChoice{font-size:14px;color:#fff;font-weight:bold;background-color:#7e99a2;padding:7px 7px;line-height:14px}
.saBtn a.btnMngClassDelete{font-size:14px;color:#fff;font-weight:bold;background-color:#7e99a2;padding:7px 17px;line-height:14px}
.saBtn a.btnMngClassTabGray{font-size:13px;color:#fff;width:97px;height:39px;line-height:39px;text-align:center;background-color:#b5b5b5;border:1px solid #b5b5b5;border-top-left-radius:10px;border-top-right-radius:10px}
.saBtn a.btnMngClassTabGreen{font-size:13px;color:#fff;width:97px;height:39px;line-height:39px;text-align:center;background-color:#7e99a2;border:1px solid #7e99a2;border-top-left-radius:10px;border-top-right-radius:10px}
.saBtn a.btnMngTeacherApprove{font-size:13px;color:#fff;width:80px;height:30px;line-height:30px;text-align:center;background-color:#50b6d8}
.saBtn a.btnMngTeacherReturn{font-size:13px;color:#fff;width:80px;height:30px;line-height:30px;text-align:center;background-color:#ec7063}
.saBtn a.btnLayerGreen{font-size:14px;color:#fff;width:120px;height:46px;line-height:46px;text-align:center;background-color:#7e99a2}
.saBtn a.btnLayerGray{font-size:14px;color:#fff;width:120px;height:46px;line-height:46px;text-align:center;background-color:#9f9f9f}
.saBtn a.btnMngGreen{font-size:13px;color:#fff;width:120px;height:30px;line-height:30px;text-align:center;background-color:#7e99a2}
.saBtn a.btnLicenceLoanSearch{font-size:14px;color:#fff;width:80px;height:66px;line-height:66px;text-align:center;background-color:#7e99a2}
.saBtn a.btnGreen{font-size:14px;color:#fff;background-color:#7e99a2;padding:7px 17px}
.saBtn a.btnGray{font-size:14px;color:#fff;background-color:#9f9f9f;padding:7px 17px}
.saBtn a.btnMemGreenSmall{padding:10px 18px;font-size:13px;color:#fff;background-color:#7e99a2}
.saBtn a.btnMemGreenLong{padding:15px 18px;font-size:14px;color:#fff;background-color:#7e99a2}
.saBtn a.btnMemGreenBig{padding:15px 47px;font-size:14px;color:#fff;background-color:#7e99a2}
.saBtn a.btnCouponPublish{width:80px;height:30px;line-height:30px;background-color:#7e99a2;font-size:13px;color:#fff;text-align:center}

/* header */
#header{position:fixed;top:0;width:100%;height:59px;background:#fff;z-index:1000;border-bottom:1px solid #e9e9e9}
#header #logo{position:absolute;top:14px;left:30px;width:130px;height:32px}
#header #gnb{position:absolute;top:0;right:0;height:59px;line-height:59px}
#header #gnb a{float:left;font-size:11px;font-weight:900;padding:0 20px}
#header #gnb a:last-child{background:url("../images/gnb_bar.png") left center no-repeat}
#header #gnb a:first-child{padding-left:25px}
#header #gnb .uicon{background:url("../images/uicon.png") left center no-repeat}

/* lnb */
#header #lnb{width:44%;min-width:850px;height:59px;margin:0 auto;text-align:center}
#header #lnb .lnbTab{width:144px;height:38px;float:left;position:relative;top:10px;background-color:#92b1cb;border:1px solid #6789a5;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}
#header #lnb .lnbTab a{width:68px;height:34px;display:inline-block;line-height:34px;color:#fff;font-size:14px;font-weight:900;text-align:center;margin:1px;float:left;background-color:#92b1cb;border:1px solid #92b1cb;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}
#header #lnb .lnbTab a.on{color:#737373;background-color:#fff;border-color:#fff}
#header #lnb ul{height:59px;display:inline-block}
#header #lnb ul li{width:130px;height:59px;text-align:center;letter-spacing:-1px;align-items:center;justify-content:center;display:table;float:left}
#header #lnb ul li a{font-weight:600;font-size:14px;color:#737373;display:table-cell;vertical-align:middle}
#header #lnb ul li.on a{color:#00aeeb}

/* footer */
#footer{margin:0 auto}
#footer .fcont{text-align:center;font-size:11px;padding:27px 0 20px;color:#b5b5b5}

#wrap{height:100%}

#leftMenu{width:200px;height:100%;background:url("../images/mng/bg_mng_left.png") #d5d5d5 repeat-y;float:left;}
#leftMenu > dl.leftMenu01 > dt > a > span{background:url("../images/mng/icon_mng_left_main01.png") left center no-repeat}
#leftMenu > dl.leftMenu02 > dt > a > span{background:url("../images/mng/icon_mng_left_main02.png") left center no-repeat}
#leftMenu > dl.leftMenu03 > dt > a > span{background:url("../images/mng/icon_mng_left_main03.png") left center no-repeat}
#leftMenu > dl.leftMenu04 > dt > a > span{background:url("../images/mng/icon_mng_left_main04.png") left center no-repeat}

#leftMenu > dl > dt{width:200px;height:39px;border-bottom:1px solid #657a82;background:url("../images/mng/bg_mng_left.png") #7e99a2 repeat-y}
#leftMenu > dl > dt > a{display:inline-block;padding:10px 10px 9px 20px;width:170px;height:20px;font-size:14px;font-weight:600;color:#fff}
#leftMenu > dl > dt > a > span{padding-left:27px;height:20px;line-height:20px}
#leftMenu > dl > dt > a > i{float:right;width:14px;height:16px;display:inline-block;background:url("../images/mng/icon_mng_left_menu_arr_off.png") center 2px no-repeat}
#leftMenu > dl > dt.on > a,
#leftMenu > dl:hover > dt > a{background:none #007bb7}
#leftMenu > dl > dt.on > a > i{background:url("../images/mng/icon_mng_left_menu_arr_on.png") center 2px no-repeat}

#leftMenu > dl > dd > a{display:inline-block;padding:10px 10px 9px 48px;width:142px;height:20px;font-size:12px;font-weight:normal;color:#fff;border-bottom:1px solid #8a8a8a;background:url("../images/mng/bg_mng_left.png") #adadad repeat-y}
#leftMenu > dl > dd > a > span{padding-left:11px;background:url("../images/mng/icon_mng_left_sub_sub_off.png") left center no-repeat}
#leftMenu > dl > dd > a > i{float:right;width:14px;height:16px;display:inline-block;background:url("../images/mng/icon_mng_left_menu_arr_off.png") center 2px no-repeat}
#leftMenu > dl > dd.on > a,
#leftMenu > dl > dd:hover > a{color:#737373;background:none #fff}
#leftMenu > dl > dd:hover > a > span,
#leftMenu > dl > dd.on > a > span{color:#737373;background-image:url("../images/mng/icon_mng_left_sub_sub_on.png");background-color:#fff}

#leftMenu > dl > dd > dl > dd > a{display:inline-block;padding:5px 10px 4px 58px;width:132px;height:20px;color:#fff;font-size:12px;font-weight:normal;border-bottom:1px solid #8a8a8a;background:url("../images/mng/bg_mng_left.png") #959595 repeat-y}
#leftMenu > dl > dd > dl > dd > a > span{padding-left:16px;background:url("../images/mng/icon_mng_left_sub_sub_off.png") left center no-repeat}#leftMenu > dl > dd > dl > dd > a > span{padding-left:16px;background:url("../images/mng/icon_mng_left_sub.png") left center no-repeat}
#leftMenu > dl > dd > dl > dd > a > i{float:right;width:14px;height:16px;display:inline-block;background:url("../images/mng/icon_mng_left_menu_arr_off.png") center 2px no-repeat}
#leftMenu > dl > dd > dl > dd.on > a,
#leftMenu > dl > dd > dl > dd:hover > a{color:#737373;background:none #fff}
#leftMenu > dl > dd > dl > dd:hover > a > span,
#leftMenu > dl > dd > dl > dd.on > a > span{color:#737373;background-image:url("../images/mng/icon_mng_left_sub_sub_sub_on.png");background-color:#fff}

.paging{text-align:center;margin-top:20px}
.paging span{display:inline-block;width:26px;height:26px;line-height:26px;font-weight:bold;margin-right:5px;border:1px solid #e4e4e4;border-radius:1px}
.paging span a{display:inline-block;width:26px;height:26px}
.paging span.on{border-color:#01aeeb;background-color:#01aeeb;color:#fff}
.paging span.prev{margin-right:26px}
.paging span.next{margin-left:26px}


.layerBg{width:100%;height:100%;position:fixed;top:0;left:0;z-index:1000;background:url("../images/layerpopup/bg_layerpopup.png") repeat;display:none}
.layerPopup{position:fixed;top:0;left:0;z-index:1001}

.messagePopupClone{display:none}
.messageBg{width:100%;height:100%;position:fixed;top:0;left:0;z-index:1000;background:url("../images/layerpopup/bg_layerpopup.png") repeat}
.messageLayer{position:fixed;top:0;left:0;z-index:1001;background-color:#ebebeb;padding:10px}
.messageLayer .layerHeader{width:100%;height:40px}
.messageLayer .layerHeader .title{display:inline-block;font-size:18px;font-weight:900;color:#000000;line-height:28px;text-indent:20px;letter-spacing:-0.4px}
.messageLayer .layerHeader .messageClose{float:right;margin:5px 10px 0 0}
.messageLayer .layerContainer{padding:0 40px;background-color:#fff;text-align:center;font-size:16px;color:#000000;margin-bottom:10px}
.messageLayer .layerContainer .message{width:320px;display:table-cell;vertical-align:middle;height:115px;font-weight:bold}
.messageLayer .layerContainer .message span{color:blue}
.messageLayer .layerFooter{clear:both;text-align:center}