@charset "utf-8";

html{height:100%;}
body {position:relative;font-size:12px;font-family:"나눔고딕";color:#666666;margin:0; padding:0;width:100%;height:100%;line-height:1.5em;}
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
form,
fieldset,
input,
textarea,
p,
th,
td,
dt,
dd,
dl {margin:0;padding:0;}
h1
h2,
h3,
h4,
h5,
h6 {font-size:12px;}
li {list-style:none;}
img,
fieldset {border:0;vertical-align:top;}
em {font-style:normal;}
input.radio {width:13px; height:13px; vertical-align:middle;}
a {text-decoration:none; color:#666666;}
a:hover {color:#666666;}
address,
em,
i {font-style:normal;}
.hdn,
legend,
.list_table caption{font-size:0; height:0; overflow:hidden; position:absolute;visibility:hidden; width:0; line-height:0;}
.list_table caption{font-size:0; height:0; overflow:hidden; position:static;visibility:hidden; width:0; line-height:0;}
table caption{font-size:0; height:0; overflow:hidden; position:static;visibility:hidden; width:0; line-height:0;}