@charset "utf-8";

html,
body{width:100%;height:100%;}

#wrap{width:100%;height:100%;position:relative}

#header{min-width:1000px;}

#container{width:100%;height:100%;position:relative;overflow:hidden;padding:0px;}
#container .section{width:100%;position:absolute;overflow:hidden}
#container .section .contentWrap{position:relative;width:100%}
#container .section .bgWrap{position:relative;overflow:hidden;height:100%}
#container .section .bgWrap > img{position:absolute}
#container .section .bgWrap .bg{width:100% !important;left:0 !important;top: 0!important}

.contentSection{height:100%;width:100%;position:relative;display:table}
.contentFlex{display:table-cell;vertical-align:middle}
.contentFlex > .title{font-size:32px;text-align:center;font-weight:bold;height:60px;color:#000}

#mainLoading{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#ffffff;z-index:1001/*;display:none*/}
#mainLoading img{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto}

#section01{top:60px;}

#main01_01 .logo{text-align:center;margin-bottom:15px}
#main01_01 .mainTitle{width:100%;background:url("../images/main/main01_01_05.png") repeat;text-align:center}
#main01_01 .mainTitle span{font-size:32px;font-weight:bold;color:#fff;line-height:84px;text-shadow:0px 0px 30px #000}
#main01_01 .subSectionWrap{width:970px;height:290px;margin:30px auto 0}
#main01_01 .subSectionWrap .subSection{width:310px;float:left;text-align:center;margin-right:20px}
#main01_01 .subSectionWrap .subSection > img{width:125px;height:125px;margin-bottom:25px}
#main01_01 .subSectionWrap .subSection .title{font-size:18px;font-weight:bold;color:#fff;display:block;margin-bottom:20px}
#main01_01 .subSectionWrap .subSection .infoBlue{font-size:12px;font-weight:bold;color:#36cbff;display:block;margin-bottom:23px}
#main01_01 .subSectionWrap .subSection .infoGray{font-size:12px;color:#d3d3d3;display:block}

#section02 .title{height:60px;text-align:center}
#main02_01{clear:both}
/*#main02_01 .title{height:50px;text-align:center}*/
#main02_01 .subSectionWrap{width:740px;height:470px;margin:0 auto}
#main02_01 .info{font-size:16px;color:#878787;line-height:20px;text-align:center;height:60px;margin:0 auto}
#main02_01 .subSection01{height:230px;margin:0 auto 20px}
#main02_01 .subSection01 .subSecCon{width:110px;height:230px;padding:0px 15px;float:left;margin-right:10px}
#main02_01 .subSection01 .subSecCon:last-child{margin:0}
#main02_01 .subSection01 .subSecCon01{background-color:#ffad01}
#main02_01 .subSection01 .subSecCon02{background-color:#924992}
#main02_01 .subSection01 .subSecCon03{background-color:#514077}
#main02_01 .subSection01 .subSecCon04{background-color:#339cde}
#main02_01 .subSection01 .subSecCon05{background-color:#00ba72}
#main02_01 .subSection01 .subSecCon img{margin-top:40px;margin-bottom:15px}
#main02_01 .subSection01 .subSecCon div{width:110px;height:30px;display:table;}
#main02_01 .subSection01 .subSecCon span.name{font-size:14px;color:#fff;text-align:center;display:table-cell;vertical-align:middle;}
#main02_01 .subSection02{padding:20px 20px;width:700px;margin:0 auto;background-color:#f2f2f2}
#main02_01 .subSection02 .subTitle{font-size:16px;font-weight:bold;color:#ff8a00;display:block;margin-bottom:12px}
#main02_01 .subSection02 .content{font-size:12px;color:#373737}

#main02_02{clear:both}
#main02_02 .subSectionWrap{width:750px;height:470px;margin:0 auto}
#main02_02 .subSection{height:140px}
#main02_02 .subSection div{float:left;width:530px}
#main02_02 .subSection .head{width:160px;height:140px}
#main02_02 .subSection .content{width:530px;height:120px;padding:10px 30px;background-color:#f2f2f2;display:flex;display:-webkit-flex;align-items:center}
#main02_02 .subSection .content .subTitle{font-size:16px;color:#000;font-weight:bold;margin-bottom:10px}
#main02_02 .subSection .content li{font-size:12px;line-height:18px;color:#373737;padding-left:14px;background:url("../images/main/main02_02_dot.png") 5px 5px no-repeat}
#main02_02 .subSection01,
#main02_02 .subSection02{margin-bottom:10px}
#main02_02 .subSection01 .head{background:url("../images/main/main02_02_01.png") #339cde center center no-repeat}
#main02_02 .subSection02 .head{background:url("../images/main/main02_01_05.png") #ffad01 center center no-repeat}
#main02_02 .subSection03 .head{background:url("../images/main/main02_02_02.png") #d63376 center center no-repeat}

#main02_03{clear:both}
#main02_03 .subSection{float:left;height:470px}
#main02_03 .subSectionWrap{width:800px;margin:0 auto}
#main02_03 .subSection01{width:300px;background:url("../images/main/main02_03_01.png") center center no-repeat}
#main02_03 .subSection02{width:470px}
#main02_03 .subSection02 .subTitle{font-size:24px;color:#000;margin:10px 0 35px}
#main02_03 .subSection02 .subTitle span{font-size:18px}
#main02_03 .subSection02 .thdSection01{margin-bottom:40px;width:430px}
#main02_03 .subSection02 .thdSection01 .thdTitle{font-size:16px;color:#ff8a00;margin-bottom:10px}
#main02_03 .subSection02 .thdSection01 .thdContent{font-size:12px;line-height:18px}
#main02_03 .subSection02 .thdSection02{background-color:#f2f2f2;padding:30px}
#main02_03 .subSection02 .thdSection02 .thdTitle{font-size:16px;color:#5b8db6;font-weight:bold;margin-bottom:20px}
#main02_03 .subSection02 .thdSection02 li{font-size:12px;line-height:18px;color:#373737;padding-left:14px;background:url("../images/main/main02_02_dot.png") 5px 5px no-repeat;margin-bottom:5px}

#main02_04{clear:both}
#main02_04 .subSection{width:750px;height:470px;margin:0 auto;background:url("../images/main/main02_04_01.png") top center no-repeat}
#main02_04 .subSection .thdSection{width:220px;height:240px;float:left;margin:180px 0 0 20px}
#main02_04 .subSection .thdSection:first-child{padding-right:10px}
#main02_04 .subSection .thdSection:last-child{margin-left:40px}
#main02_04 .subSection .thdSection .thdTitle{font-size:19px;line-height:28px;color:#fefefe;font-weight:bold;text-align:center}
#main02_04 .subSection .thdSection ul{margin-top:70px}
#main02_04 .subSection .thdSection ul li{font-size:12px;line-height:18px;color:#373737;padding-left:14px;background:url("../images/main/main02_02_dot.png") 5px 5px no-repeat;margin-bottom:5px}

#main02_05{clear:both}
#main02_05 .subSection{width:730px;height:470px;margin:0 auto;background:url("../images/main/main02_05_01.png") no-repeat}
#main02_05 .subSection .thdSection01{clear:both;float:right}
#main02_05 .subSection .thdSection02{clear:both;float:left}
#main02_05 .subSection .thdSection{width:500px;height:160px;margin-top:40px}
#main02_05 .subSection .thdSection .thdTitle{font-size:20px;color:#ff8a00;font-weight:bold;margin-bottom:20px}
#main02_05 .subSection .thdSection .thdContent,
#main02_05 .subSection .thdSection .thdInfo{font-size:14px;line-height:18px;margin-bottom:10px}
#main02_05 .subSection .thdSection .thdInfo{padding-left:20px;background:url("../images/main/main02_05_dot.png") 5px 5px no-repeat}

#main02_06{clear:both}
#main02_06{background:url("../images/main/main02_06_bg.png") 50% 50% no-repeat}
#main02_06 .subSectionWrap{width:920px;margin:0 auto}
#main02_06 .subSection{float:left;height:470px;}
#main02_06 .subSection01{width:295px;margin-right:180px}
#main02_06 .subSection02{width:444px}
#main02_06 .subSection .thdSection{width:200px;position:relative}
#main02_06 .subSection .thdSection01{top:40px;left:50px;text-align:right;padding-right:60px;background:url("../images/main/main02_06_01.png") right center no-repeat}
#main02_06 .subSection .thdSection02{top:230px;left:30px;text-align:right;padding-right:60px;background:url("../images/main/main02_06_02.png") right center no-repeat}
#main02_06 .subSection .thdSection03{top:30px;left:120px;text-align:left;padding-left:60px;background:url("../images/main/main02_06_03.png") left center no-repeat}
#main02_06 .subSection .thdSection04{top:180px;left:170px;text-align:left;padding-left:60px;background:url("../images/main/main02_06_04.png") left center no-repeat}
#main02_06 .subSection .thdSection05{top:275px;left:0;text-align:left;padding-left:60px;background:url("../images/main/main02_06_05.png") left center no-repeat;width:300px}
#main02_06 .subSection .thdSection .thdTitle{font-size:16px;font-weight:bold;color:#ff8a00;margin-bottom:7px}
#main02_06 .subSection .thdSection li{font-size:12px;line-height:18px;color:#373737;padding-left:14px;background:url("../images/main/main02_02_dot.png") 5px 5px no-repeat;display:inline-block}

#main03_01{clear:both}
#main03_01 .subSectionWrap{width:750px;height:440px;margin:0 auto}
#main03_01 .subSection01{width:375px;height:380px;float:left;text-align:right}
#main03_01 .subSection02{width:375px;height:400px;float:left;color:#fff}
#main03_01 .subSection02 > .title{font-size:32px;font-weight:bold;margin-bottom:18px}
#main03_01 .subSection02 .info{font-size:16px;margin-bottom:50px;font-weight:normal}
#main03_01 .subSection02 .iconWrap{overflow:hidden}
#main03_01 .subSection02 .icon_title{font-size:20px;font-weight:bold;margin-bottom:10px}
#main03_01 .subSection02 .icon_info{font-size:14px;margin-bottom:50px}
#main03_01 .subSection02 .pgb{width:330px;padding:20px;background:url("../images/main/main03_01_02.png") repeat;display:inline-block}
#main03_01 .subSection02 .pgb .title{font-size:14px;font-weight:bold;color:#ffd200;margin-bottom:10px;display:block}
#main03_01 .subSection02 .pgb .content{font-size:12px}

#main03_02{clear:both}
#main03_02 .subSectionWrap{width:750px;height:470px;margin:0 auto}
#main03_02 .subSection{height:140px}
#main03_02 .title{color:#fff}
#main03_02 .subSection div{float:left;width:530px}
#main03_02 .subSection .head{width:160px;height:140px}
#main03_02 .subSection .content{width:530px;height:120px;padding:10px 30px;background-color:#f2f2f2;display:flex;display:-webkit-flex;align-items:center}
#main03_02 .subSection .content .subTitle{font-size:16px;color:#000;font-weight:bold;margin-bottom:10px}
#main03_02 .subSection .content li{font-size:12px;line-height:18px;color:#373737;padding-left:14px;background:url("../images/main/main02_02_dot.png") 5px 5px no-repeat}
#main03_02 .subSection01,
#main03_02 .subSection02{margin-bottom:10px}
#main03_02 .subSection01 .head{background:url("../images/main/main03_02_01.png") #4f9eff center center no-repeat}
#main03_02 .subSection02 .head{background:url("../images/main/main03_02_02.png") #ffad01 center center no-repeat}
#main03_02 .subSection03 .head{background:url("../images/main/main03_02_03.png") #85b700 center center no-repeat}

#main03_03{clear:both}
#main03_03 .title{color:#fff}
#main03_03 .subSection{width:750px;height:440px;margin:0 auto;padding-top:30px;background:url("../images/main/main03_03_01.png") top center no-repeat}
#main03_03 .subSection .thdSection{width:220px;float:left;margin-top:50px}
#main03_03 .subSection .thdSection:first-child{width:210px;margin-left:20px;padding-right:25px}
#main03_03 .subSection .thdSection:last-child{width:230px;margin-left:25px}
#main03_03 .subSection .thdSection .thdTitle{font-size:20px;line-height:28px;color:#fefefe;font-weight:bold;text-align:center}
#main03_03 .subSection .thdSection ul{margin-top:70px}
#main03_03 .subSection .thdSection ul li{font-size:12px;line-height:18px;color:#fff;padding-left:14px;background:url("../images/main/main02_02_dot.png") 5px 5px no-repeat;margin-bottom:10px}

#main03_04{clear:both}
#main03_04{background:url("../images/main/main03_04_01.png") center center no-repeat}
#main03_04 .title{color:#fff}
#main03_04 .subSectionWrap{width:1000px;height:470px;margin:0 auto;position:relative}
#main03_04 .subSection .roundWrap{float:left;display:table}
#main03_04 .subSection .smallRound{width:130px;height:130px;border:6px solid #fff;border-radius:75px;text-align:center;font-size:24px;font-weight:bold;color:#fff;display:table-cell;vertical-align:middle;}
#main03_04 .subSection01{position:absolute;top:30px;left:107px}
#main03_04 .subSection02{position:absolute;top:268px;left:107px}
#main03_04 .subSection03{position:absolute;top:30px;left:591px}
#main03_04 .subSection04{position:absolute;top:268px;left:591px}
#main03_04 .subSection05{position:absolute;top:119px;left:394px;display:table}
#main03_04 .subSection01 i{background-color:#ffad01}
#main03_04 .subSection02 i{background-color:#514077}
#main03_04 .subSection03 i{background-color:#924992}
#main03_04 .subSection04 i{background-color:#84d31d}
#main03_04 .subSection05 i{background-color:#339cde;width:200px;height:200px;border:6px solid #fff;border-radius:110px;text-align:center;font-size:26px;font-weight:bold;color:#fff;display:table-cell;vertical-align:middle}
#main03_04 .subSection li{font-size:12px;line-height:18px;color:#fff;padding-left:14px;background:url("../images/main/main02_02_dot.png") 5px 5px no-repeat;margin-bottom:10px}
#main03_04 .subSection ul{display:inline-block;float:left;position:relative}
#main03_04 .subSection01 ul{width:170px;top:55px;right:10px}
#main03_04 .subSection02 ul{width:170px;top:55px;right:10px}
#main03_04 .subSection03 ul{width:170px;top:55px;left:10px}
#main03_04 .subSection04 ul{width:170px;top:55px;left:10px}

#main04_01{clear:both}
#main04_01{width:100%;height:100%;background-color:#fff}
#main04_01 .subSection{width:50%;height:100%;float:left}
#main04_01 .subSection01 .thdSection{width:50%;height:50%;display:table;float:left;font-size:28px;line-height:34px;color:#fff;font-weight:bold;text-align:center}
#main04_01 .subSection01 .thdSection span{display:table-cell;vertical-align:middle}
#main04_01 .subSection01 .thdSection01{background-color:#ffad01}
#main04_01 .subSection01 .thdSection02{background:url("../images/main/main04_01_01.jpg") center center no-repeat;background-size:100% 100%}
#main04_01 .subSection01 .thdSection03{background:url("../images/main/main04_01_02.jpg") center center no-repeat;background-size:100% 100%}
#main04_01 .subSection01 .thdSection04{background-color:#5b8db6}
#main04_01 .subSection02 .inner{float:left;width:400px;height:410px;margin:auto;position:absolute;top:0;bottom:0}
#main04_01 .subSection02 .title{margin-left:30px}
#main04_01 .subSection02 .thdSection01{margin-top:20px;margin-left:30px;font-size:16px;line-height:20px;color:#878787}
#main04_01 .subSection02 .thdSection02{margin-top:20px;margin-left:30px;font-size:16px;line-height:33px;color:#5b8db6}
#main04_01 .subSection02 .thdSection03{margin-top:30px;margin-left:30px;color:#fff;width:210px;height:210px;background:url("../images/main/main04_01_04.png") center center no-repeat;cursor:pointer;text-align:center}
#main04_01 .subSection02 .thdSection03 span{display:block}
#main04_01 .subSection02 .thdSection03 .small{font-size:16px;line-height:20px;margin-bottom:20px;padding-top:55px}
#main04_01 .subSection02 .thdSection03 .big{font-size:24px;line-height:20px}

#main04_02{clear:both}
#main04_02{width:100%;background-color:#f3f3f3}
#main04_02 .photoSection{height:470px;text-align:center;}
#main04_02 ul{display:inline-block;margin:0 auto}
#main04_02 ul li{width:176px;height:170px;margin:0 10px 20px;background:url("../images/main/main_photo_bg.png") center center no-repeat;float:left}
#main04_02 ul li:nth-child(5){clear:both}
#main04_02 ul li img{margin:10px;width:150px;height:105px}
#main04_02 ul li p{font-size:16px;margin-top:5px;text-align:center;font-weight:bold}

#main05_01{clear:both}
.bgc_main05_01{background-color:#f3f3f3}
#main05_01 .subSectionWrap{width:100%;height:570px;margin:0 auto}
#main05_01 .subSection01{width:940px;margin:0 auto;padding:50px 0 70px}
#main05_01 .subSection01 .thdSection *{text-align:center;vertical-align:middle}
#main05_01 .subSection01 .thdSection i.icon{width:128px;height:128px;display:inline-block;border-radius:100px}
#main05_01 .subSection01 .thdSection i.icon_main_tel{background:url("../images/main/main05_01_01.png") center center no-repeat;margin-left:20px}
#main05_01 .subSection01 .thdSection i.icon_main_email{background:url("../images/main/main05_01_02.png") center center no-repeat}
#main05_01 .subSection01 .thdSection span{font-size:34px;color:#878787;font-weight:bold;line-height:128px}
#main05_01 .subSection01 .thdSectionSub1 {padding-top:30px;text-align:center;font-size:17px;font-weight:bold;padding-bottom:10px;line-height:25px;}
#main05_01 .subSection01 .thdSectionSub2 {text-align:center;font-size:20px;color:#339cde;font-weight:bold;cursor:pointer;}
#main05_01 .subSection02{width:100%;border-top:1px solid #ccc;padding-top:30px}
#main05_01 .subSection02 .thdSection01{text-align:center;margin-bottom:20px}
#main05_01 .subSection02 .thdSection01 a{font-size:14px;font-weight:bold}
#main05_01 .subSection02 .thdSection01 span{padding:0 20px}
#main05_01 .subSection02 .thdSection02{font-size:11px;text-align:center;margin-bottom:20px;line-height:18px}
#main05_01 .subSection02 .thdSection03{text-align:center}

table.style03{border-collapse:collapse;width:100%;border:0px;font-size:16px;color:#000;text-align:center}
table.style03 th{height:30px;text-align:left;padding-left:45px}
table.style03 th,
table.style03 td{padding-top:7px}
table.style03 th.icon_name{background:url("../images/member/icon_member_name.png") 0px center no-repeat}
table.style03 th.icon_school{background:url("../images/member/icon_member_school.png") 0px center no-repeat}
table.style03 th.icon_comment{background:url("../images/member/icon_member_comment.png") 0px 3px no-repeat;vertical-align:top}
table.style03 th.icon_date{background:url("../images/member/icon_member_date.png") 0px center no-repeat}
table.style03 th.icon_clock{background:url("../images/member/icon_member_clock.png") 0px center no-repeat}
table.style03 th.icon_tel{background:url("../images/member/icon_member_tel.png") 0px center no-repeat}
table.style03 td{text-align:left}
table.style03 td ul li{font-weight:bold;width:100%;height:33px;line-height:33px;text-align:left;text-indent:18px;background:url("../images/member/icon_member_input_bg.png") bottom left no-repeat;border-bottom:1px solid #b4b4b4;margin-top:7px}
table.style03 td input{width:90%;display:block;padding-left:10px;height:26px;border:1px solid #dcdcdc;margin-right:6px}
table.style03 td .info{font-size:12px;color:#ec7063}
table.style03 td .info_ok{font-size:12px;color:#839ab5}
table.style03 td .select{display:inline-block}
table.style03 td select{padding-left:10px;padding-right:30px;height:26px;border:1px solid #dcdcdc;-webkit-appearance:none;appearance:none;background:url("../images/bg_select_arrow.png") #fff right center no-repeat}
table.style03 td .select.calendar{height:28px;flex:none;-webkit-flex:none;-ms-flex:none}
table.style03 td .select.calendar input{width:175px;height:26px;display:inline-block;padding-left:10px;border:1px solid #dcdcdc;background:url("../images/mng/icon_calendar.png") #fff right center no-repeat;cursor:pointer}
table.style03 td textarea{width:90%;height:85px;padding:5px;border:1px solid #dcdcdc;resize:none}

.layerPopup.mainTeacherAdd{width:580px;display:none}
.layerPopup.style01 .layerHeader{width:100%;height:50px;background-color:#56688b}
.layerPopup.style01 .layerHeader .title{display:inline-block;font-size:18px;font-weight:bold;color:#fff;line-height:50px;text-indent:30px}
.layerPopup.style01 .layerHeader .layerClose{float:right;margin:20px 16px 0 0}
.layerPopup.style01 .layerContainer{padding:18px 20px;background-color:#ebebeb}
.layerPopup.style01 .layerContainer h1.title{font-size:20px;color:#010101;text-indent:10px;font-weight:bold;margin-bottom:18px}
.layerPopup.style01 .layerContainer h1.info{display:block;font-size:14px;color:#424242;font-weight:normal;margin-bottom:15px}
.layerPopup.style01 .layerContainer .conContainer{border:1px solid #d7d7d7;padding:40px;background-color:#fff;border-bottom:none;padding-bottom:0px}
.layerPopup.style01 .layerContainer .conContainer .searchWrap{width:100%;height:58px;border:1px solid #dcdcdc;background-color:#edecec;line-height:98px;margin-bottom:20px;display:flex;display:-webkit-flex;margin-bottom:30px}
.layerPopup.style01 .layerContainer .conContainer .searchWrap .section{flex:1;-webkit-flex:1;-ms-flex:1;display:flex;display:-webkit-flex;align-items:center;justify-content:center}
.layerPopup.style01 .layerContainer .conContainer .searchWrap .section:nth-child(3){width:170px;flex:none;-webkit-flex:none;-ms-flex:none}
.layerPopup.style01 .layerContainer .conContainer .searchWrap label{font-size:16px;font-weight:bold;color:#000;margin-right:4px}
.layerPopup.style01 .layerContainer .conContainer .searchWrap .select{display:inline-block}
.layerPopup.style01 .layerContainer .conContainer .searchWrap .select select{padding-left:5px;padding-right:30px;height:26px;border:1px solid #dcdcdc;-webkit-appearance:none;appearance:none;background:url("../images/bg_select_arrow.png") #fff right center no-repeat}
.layerPopup.style01 .layerContainer .conContainer .searchWrap .select input{padding-left:10px;height:26px;border:1px solid #dcdcdc}
.layerPopup.style01 .layerContainer .conContainer .mainTableWrap{padding-bottom:30px;border-bottom:1px solid #d7d7d7}
.layerPopup.style01 .layerContainer .conFooter{clear:both;text-align:center;padding:10px;border:1px solid #d7d7d7;border-top:none;background-color:#fff}
.layerPopup.style01 .layerFooter{clear:both;text-align:center}

.layerPopup.style02{width:400px;display:none;background-color:#ebebeb;padding:10px}
.layerPopup.style02 .layerHeader{width:100%;height:40px}
.layerPopup.style02 .layerHeader .title{display:inline-block;font-size:18px;font-weight:900;color:#000;line-height:28px;text-indent:20px;letter-spacing:-0.4px}
.layerPopup.style02 .layerHeader .layerClose{float:right;margin:5px 10px 0 0}
.layerPopup.style02 .layerContainer{padding:0 40px;background-color:#fff;text-align:center;font-size:16px;color:#000;margin-bottom:10px}
.layerPopup.style02 .layerContainer .message{width:320px;display:table-cell;vertical-align:middle;height:115px;font-weight:bold}
.layerPopup.style02 .layerContainer .selectWrap{width:320px;height:48px}
.layerPopup.style02 .layerFooter{clear:both;text-align:center}
.layerPopup.style02 .layerContainer .selectWrap label{font-size:16px;font-weight:bold;height:28px}
.layerPopup.style02 .layerContainer .selectWrap .select{height:28px;display:inline-block}
.layerPopup.style02 .layerContainer .selectWrap .select select{height:26px;border:1px solid #dcdcdc;-webkit-appearance:none;appearance:none;background:url("../images/bg_select_arrow.png") right center no-repeat}

.layerPopup.cashReceiptAdd{width:580px;display:none}
.layerPopup.style99 .layerHeader{width:100%;height:50px;background-color:#56688b}
.layerPopup.style99 .layerHeader .title{display:inline-block;font-size:18px;font-weight:bold;color:#fff;line-height:50px;text-indent:30px}
.layerPopup.style99 .layerHeader .layerClose{float:right;margin:20px 16px 0 0}
.layerPopup.style99 .layerContainer{padding:18px 20px;background-color:#ebebeb}
.layerPopup.style99 .layerContainer h1.title{font-size:20px;color:#010101;text-indent:10px;font-weight:bold;margin-bottom:18px}
.layerPopup.style99 .layerContainer h1.info{display:block;font-size:14px;color:#424242;font-weight:normal;margin-bottom:15px}
.layerPopup.style99 .layerContainer .conContainer{border:1px solid #d7d7d7;padding:20px;background-color:#fff;border-bottom:none;padding-bottom:0px}
.layerPopup.style99 .layerContainer .conContainer .searchWrap{width:100%;height:58px;border:1px solid #dcdcdc;background-color:#edecec;line-height:98px;margin-bottom:20px;display:flex;display:-webkit-flex;margin-bottom:30px}
.layerPopup.style99 .layerContainer .conContainer .searchWrap .section{flex:1;-webkit-flex:1;-ms-flex:1;display:flex;display:-webkit-flex;align-items:center;justify-content:center}
.layerPopup.style99 .layerContainer .conContainer .searchWrap .section:nth-child(3){width:170px;flex:none;-webkit-flex:none;-ms-flex:none}
.layerPopup.style99 .layerContainer .conContainer .searchWrap label{font-size:16px;font-weight:bold;color:#000;margin-right:4px}
.layerPopup.style99 .layerContainer .conContainer .searchWrap .select{display:inline-block}
.layerPopup.style99 .layerContainer .conContainer .searchWrap .select select{padding-left:5px;padding-right:30px;height:26px;border:1px solid #dcdcdc;-webkit-appearance:none;appearance:none;background:url("../images/bg_select_arrow.png") #fff right center no-repeat}
.layerPopup.style99 .layerContainer .conContainer .searchWrap .select input{padding-left:10px;height:26px;border:1px solid #dcdcdc}
.layerPopup.style99 .layerContainer .conContainer .mainTableWrap{padding-bottom:30px;border-bottom:1px solid #d7d7d7}
.layerPopup.style99 .layerContainer .conContents{clear:both;text-align:left;padding-left:15px;padding-top:20px;padding-bottom:30px;border:1px solid #d7d7d7;border-top:none;background-color:#fff}
.layerPopup.style99 .layerContainer .conContents a{color:#339cde}
.layerPopup.style99 .layerContainer .conFooter{clear:both;text-align:center;padding:10px;border:1px solid #d7d7d7;border-top:none;background-color:#fff}
.layerPopup.style99 .layerFooter{clear:both;text-align:center}

/*table.style99{border-collapse:collapse;width:100%;border:2px solid #878787;font-size:16px;color:#000000;text-align:center}*/
table.style99{border-collapse:collapse;width:100%;font-size:16px;color:#000000;text-align:center}
table.style99 th{height:30px;text-align:center;padding-left:15px;background-color:#edecec}
table.style99 th,
table.style99 td{padding-top:7px}
table.style99 td{padding-left:15px;text-align:left;}
table.style99 td ul li{font-weight:bold;width:100%;height:33px;line-height:33px;text-align:left;text-indent:18px;background:url("../images/member/icon_member_input_bg.png") bottom left no-repeat;border-bottom:1px solid #b4b4b4;margin-top:7px}
table.style99 td input{width:60%;padding-left:10px;height:26px;border:1px solid #dcdcdc;margin-right:6px}
table.style99 td span{font-size:12px;}
table.style99 td .info{font-size:12px;color:#ec7063}
table.style99 td .info_ok{font-size:12px;color:#839ab5}
table.style99 td .select{display:inline-block}
table.style99 td select{padding-left:10px;padding-right:30px;height:26px;border:1px solid #dcdcdc;-webkit-appearance:none;appearance:none;background:url("../images/bg_select_arrow.png") #fff right center no-repeat}
table.style99 td .select.calendar{height:28px;flex:none;-webkit-flex:none;-ms-flex:none}
table.style99 td .select.calendar input{width:175px;height:26px;display:inline-block;padding-left:10px;border:1px solid #dcdcdc;background:url("../images/mng/icon_calendar.png") #fff right center no-repeat;cursor:pointer}
table.style99 td textarea{width:90%;height:85px;padding:5px;border:1px solid #dcdcdc;resize:none}