@charset "utf-8";

html,
body{width:100%;height:100%;}
#wrap{width:100%;height:100%;display:table}
#header{left:0}

/* container */
#container{position:relative;padding-top:60px;height:100%;min-width:1000px}

#admLoginContainer{background:url("../images/login/bg_amd_login.jpg") center center no-repeat;display:table-cell;vertical-align:middle}
#admLoginContent{width:360px;height:430px;margin:0 auto}

h2.title{padding-top:100px;background:url("../images/login/logo_adm_login.png") no-repeat;font-size:12px;color:#616161;font-weight:bold;text-align:center;line-height:18px}
#loginForm{margin-left:15px;margin-top:20px;padding:24px 0 18px 10px;border-top:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5;overflow:hidden}
#loginForm #loginInputWrap{width:215px;margin-right:10px;float:left}
#loginForm #loginInputWrap .loginInputSection{width:215px;height:28px}
#loginForm #loginInputWrap .loginInputSection label{display:inline-block;width:57px;height:28px;line-height:28px;font-size:13px;color:#555555;font-weight:bold}
#loginForm #loginInputWrap .loginInputSection input{width:153px;height:20px;border:1px solid #d3d3d3}
#loginForm #loginInputWrap .idSaveSection{margin-top:4px}
#loginForm #loginInputWrap .idSaveSection input[type="checkbox"]{position:relative;top:2px;margin-left:60px}
#loginForm #loginBtnWrap{width:83px;height:48px;float:left}
#loginForm #loginBtnWrap .btnLogin{width:83px;height:48px;margin-top:4px;color:#fff;border:none;background-color:#00a6e5;font-size:14px}
#admLoginContent .copyright{width:360px;text-align:center;margin-left:25px;margin-top:115px}
#admLoginContent .fcont{width:100%;text-align:center;font-size:11px;padding:30px 0 10px;color:#b5b5b5}

#content{margin:20px 40px 20px 240px;padding:30px 40px;border:1px solid #dcdcdc;}

.adminContainer h1.title{display:inline-block;font-size:28px;color:#000000;font-weight:900;margin-bottom:20px}
.adminContainer h1.subTitle{display:inline-block;font-size:18px;color:#000000;font-weight:900;margin-bottom:20px}
.adminContainer h1.info{display:block;font-size:14px;color:#424242;font-weight:normal;margin-bottom:15px}
.adminContainer .searchWrap{overflow:hidden;padding:15px;border:1px solid #dcdcdc;background-color:#edecec;margin-bottom:20px;margin-bottom:30px;text-align:center}
.adminContainer .searchWrap .searchBlockLeft{float:left;width:80%}
.adminContainer .searchWrap .searchBlockRight{float:left;width:20%}
.adminContainer .searchWrap .section{display:inline-block;margin-right:20px;padding:5px 0}
.adminContainer .searchWrap label{font-size:16px;font-weight:bold;color:#000000;margin-right:10px}
.adminContainer .searchWrap .select{display:inline-block}
.adminContainer .searchWrap .select select{padding-left:10px;padding-right:30px;height:26px;border:1px solid #dcdcdc;-webkit-appearance:none;appearance:none;background:url("../images/bg_select_arrow.png") #fff right center no-repeat}
.adminContainer .searchWrap .select input{padding-left:10px;height:26px;border:1px solid #dcdcdc}

/* joins */
#content.mngJoins .prevList{display:inline-block;width:99px;float:right;height:41px;background:#adadad;line-height:41px;text-align:center;border-top-left-radius:10px;border-top-right-radius:10px;top:11px;position:relative;right:10px;font-size:13px;color:#fff}

#content.mngLicenceInfo .btnArea{text-align:center;padding:10px 0;border-top:1px solid #d7d7d7}
#content.mngLicenceInfo .tabSection{position:relative;bottom:-11px;right:10px}
#content.mngManagePlan .btnArea{text-align:center;padding:50px 0}
.mngManageClass table.style01 tbody td input{width:180px}
@media only screen and (max-width:1500px){
	.mngManageClass table.style01 tbody td input{width:120px}
}



#content .tabSection{float:right}

table.style01{border-collapse:collapse;width:100%;border:0px;font-size:14px;font-weight:normal;color:#000000;text-align:center}
table.style01 thead{border-top:2px solid #b5b5b5;border-bottom:2px solid #b5b5b5}
table.style01 thead th{padding:15px 0;font-weight:bold}
table.style01 tbody th,
table.style01 tbody td{border-bottom:1px solid #dcdcdc}
table.style01 tbody tr:nth-child(2n) td,
table.style01 tbody tr:nth-child(2n) th{background-color:#fcfcfc}
table.style01 tbody th{color:#737373}
table.style01 tbody td{padding:9px 0}
table.style01 td .select.calendar{height:28px;flex:none;-webkit-flex:none;-ms-flex:none}
table.style01 td .select.calendar .info{font-size:12px}
table.style01 td .select.calendar input{width:88px;height:26px;display:inline-block;padding-left:10px;border:1px solid #dcdcdc;background:url("../images/mng/icon_calendar.png") #fff right center no-repeat;cursor:pointer}
table.style01 td .resetWrap{display:inline-block;width:0px;position:relative}
table.style01 td .icon_inputReset{display:inline-block;width:10px;height:10px;position:absolute;left:160px;top:-10px;cursor:pointer;background:url("../images/mng/icon_inputReset.png") center center no-repeat;}
@media only screen and (max-width:1500px){
	table.style01 td .icon_inputReset{display:inline-block;width:10px;height:10px;position:absolute;left:100px;top:-10px;cursor:pointer;background:url("../images/mng/icon_inputReset.png") center center no-repeat;}
}
table.style01 .select.checkbox input[type="checkbox"]{width:18px;height:18px;border:1px solid #b4b4b4;-webkit-appearance:none;appearance:none;cursor:pointer}
table.style01 .select.checkbox input[type="checkbox"]:checked{background:url("../images/mng/icon_checkbox.png") no-repeat}
table.style01 td input[type="text"]{padding-left:10px;height:26px;border:1px solid #dcdcdc;margin-right:5px}
table.style01 td .select{display:inline-block}
table.style01 td select{padding-left:10px;padding-right:30px;height:26px;border:1px solid #dcdcdc;-webkit-appearance:none;appearance:none;background:url("../images/bg_select_arrow.png") #fff right center no-repeat}

table.style02{border-collapse:collapse;width:100%;border:0px;font-size:16px;font-weight:normal;color:#000000;text-align:center}
table.style02 th,
table.style02 td{border:1px solid #b5b5b5}
table.style02 tbody th{background-color:#e3e2e2}
table.style02 tbody td{padding:14px 0}
table.style02 td.disFlex div,
table.style02 td.disFlex label{flex:1;-webkit-flex:1;-ms-flex:1}
table.style02 td .select.calendar{flex:none;-webkit-flex:none;-ms-flex:none}
table.style02 td .select.calendar .info{font-size:12px}
table.style02 td .select.checkbox input[type="checkbox"]{position:relative;top:4px;width:18px;height:18px;border:1px solid #b4b4b4;-webkit-appearance:none;appearance:none;cursor:pointer}
table.style02 td .select.checkbox input[type="checkbox"]:checked{background:url("../images/mng/icon_checkbox.png") no-repeat}
table.style02 td .select.input input{padding-left:10px;height:26px;border:1px solid #dcdcdc}
table.style02 td .select{display:inline-block}
table.style02 td .select select{padding-left:10px;padding-right:30px;height:26px;border:1px solid #dcdcdc;-webkit-appearance:none;appearance:none;background:url("../images/bg_select_arrow.png") #fff right center no-repeat}

table.style03{border-collapse:collapse;width:100%;border:0px;font-size:16px;color:#000000;text-align:center}
table.style03 th{height:30px;text-align:left;padding-left:45px}
table.style03 th,
table.style03 td{padding-top:7px}
table.style03 th.icon_tchName{background:url("../images/member/icon_member_name.png") 0px center no-repeat}
table.style03 th.icon_tchId{background:url("../images/member/icon_member_id.png") 0px center no-repeat}
table.style03 th.icon_tchPass{background:url("../images/member/icon_member_nowpass.png") 0px center no-repeat}
table.style03 th.icon_tchRepassCheck{background:url("../images/member/icon_member_repasscheck.png") 0px center no-repeat}
table.style03 th.icon_tchNextClass{background:url("../images/member/icon_member_nextclass.png") 0px center no-repeat}
table.style03 th.icon_tchRepass{background:url("../images/member/icon_member_repass.png") 0px center no-repeat}
table.style03 th.icon_tchSchool{background:url("../images/member/icon_member_school.png") 0px center no-repeat}
table.style03 th.icon_tchNowClass{background:url("../images/member/icon_member_class.png") 0px center no-repeat}
table.style03 th.icon_member_auth{background:url("../images/member/icon_member_auth.png") 0px center no-repeat}
table.style03 th.icon_member_comment{background:url("../images/member/icon_member_comment.png") 0px center no-repeat}
table.style03 th.icon_member_hp{background:url("../images/member/icon_member_hp.png") 0px center no-repeat}
table.style03 td{text-align:left}
table.style03 td ul li{font-weight:bold;width:100%;height:33px;line-height:33px;text-align:left;text-indent:18px;background:url("../images/member/icon_member_input_bg.png") bottom left no-repeat;border-bottom:1px solid #b4b4b4;margin-top:7px}
table.style03 td input{width:100%;display:block;padding-left:10px;height:26px;border:1px solid #dcdcdc;margin-right:6px}
table.style03 td .info{font-size:12px;color:#ec7063}
table.style03 td .info_ok{font-size:12px;color:#839ab5}
table.style03 td .select{display:inline-block}
table.style03 td select{padding-left:10px;padding-right:30px;height:26px;border:1px solid #dcdcdc;-webkit-appearance:none;appearance:none;background:url("../images/bg_select_arrow.png") #fff right center no-repeat}

table.style04{border-collapse:collapse;width:100%;border:0px;font-size:16px;color:#000000;text-align:center}
table.style04 td{font-weight:bold}
table.style04 td .select.calendar{height:28px;flex:none;-webkit-flex:none;-ms-flex:none}
table.style04 td .select.calendar .info{font-size:12px}
table.style04 td .select.calendar input{width:88px;height:26px;display:inline-block;padding-left:10px;border:1px solid #dcdcdc;background:url("../images/mng/icon_calendar.png") #fff right center no-repeat;cursor:pointer}
table.style04 td .select.checkbox input[type="checkbox"]{position:relative;top:4px;width:18px;height:18px;border:1px solid #b4b4b4;-webkit-appearance:none;appearance:none;cursor:pointer}
table.style04 td .select.checkbox input[type="checkbox"]:checked{background:url("../images/mng/icon_checkbox.png") no-repeat}
table.style04 td .select.input input{padding-left:10px;height:26px;border:1px solid #dcdcdc}
table.style04 td .select{display:inline-block}
table.style04 td .select select{min-width:150px;padding-left:10px;padding-right:30px;height:26px;border:1px solid #dcdcdc;-webkit-appearance:none;appearance:none;background:url("../images/bg_select_arrow.png") #fff right center no-repeat}

table.style05{border-collapse:collapse;width:100%;border:0px;font-size:14px;font-weight:normal;color:#000000;text-align:center}
table.style05 thead{border-top:2px solid #b5b5b5;border-bottom:2px solid #b5b5b5}
table.style05 thead th{padding:22px 0;font-weight:bold}
table.style05 tbody th,
table.style05 tbody td{border-bottom:1px solid #dcdcdc}
table.style05 tbody tr:nth-child(2n) td,
table.style05 tbody tr:nth-child(2n) th{background-color:#fcfcfc}
table.style05 tbody th{color:#737373}
table.style05 tbody td{padding:11px 0}
table.style05 td .select.calendar{height:28px;flex:none;-webkit-flex:none;-ms-flex:none}
table.style05 td .select.calendar .info{font-size:12px}
table.style05 td .select.calendar input{width:88px;height:26px;display:inline-block;padding-left:10px;border:1px solid #dcdcdc;background:url("../images/mng/icon_calendar.png") #fff right center no-repeat;cursor:pointer}
table.style05 .select.checkbox input[type="checkbox"]{width:18px;height:18px;border:1px solid #b4b4b4;-webkit-appearance:none;appearance:none;cursor:pointer}
table.style05 .select.checkbox input[type="checkbox"]:checked{background:url("../images/mng/icon_checkbox.png") no-repeat}
table.style05 td .select.input input{padding-left:10px;height:26px;border:1px solid #dcdcdc}
table.style05 td .select{display:inline-block}
table.style05 td .select select{padding-left:10px;padding-right:30px;height:26px;border:1px solid #dcdcdc;-webkit-appearance:none;appearance:none;background:url("../images/bg_select_arrow.png") #fff right center no-repeat}

table.style06{border-collapse:collapse;width:100%;border:0px;font-size:16px;color:#000000;text-align:center}
table.style06 th{height:30px;text-align:left;padding-left:45px}
table.style06 th,
table.style06 td{padding-top:7px}
table.style06 th.icon_tchName{background:url("../images/member/icon_member_name.png") 0px center no-repeat}
table.style06 th.icon_tchId{background:url("../images/member/icon_member_id.png") 0px center no-repeat}
table.style06 th.icon_tchPass{background:url("../images/member/icon_member_nowpass.png") 0px center no-repeat}
table.style06 th.icon_tchRepassCheck{background:url("../images/member/icon_member_repasscheck.png") 0px center no-repeat}
table.style06 th.icon_tchNextClass{background:url("../images/member/icon_member_nextclass.png") 0px center no-repeat}
table.style06 th.icon_tchRepass{background:url("../images/member/icon_member_repass.png") 0px center no-repeat}
table.style06 th.icon_tchSchool{background:url("../images/member/icon_member_school.png") 0px center no-repeat}
table.style06 th.icon_tchNowClass{background:url("../images/member/icon_member_class.png") 0px center no-repeat}
table.style06 th.icon_member_auth{background:url("../images/member/icon_member_auth.png") 0px center no-repeat}
table.style06 th.icon_member_comment{background:url("../images/member/icon_member_comment.png") 0px center no-repeat}
table.style06 th.icon_member_hp{background:url("../images/member/icon_member_hp.png") 0px center no-repeat}
table.style06 td{text-align:left}
table.style06 td:nth-child(3){font-size:12px}
table.style06 td ul li{font-weight:bold;width:100%;height:33px;line-height:33px;text-align:left;text-indent:18px;background:url("../images/member/icon_member_input_bg.png") bottom left no-repeat;border-bottom:1px solid #b4b4b4;margin-top:7px}
table.style06 td input{width:100%;display:block;padding-left:10px;height:34px;border:1px solid #dcdcdc;margin-right:6px}
table.style06 td .info{font-size:12px;color:#ec7063}
table.style06 td .select{display:inline-block}
table.style06 td select{padding-left:10px;padding-right:34px;height:26px;border:1px solid #dcdcdc;-webkit-appearance:none;appearance:none;background:url("../images/bg_select_arrow2.png") #fff right center no-repeat}

table.tMngTopInfo{border-collapse:collapse;width:100%;border:0px;font-size:14px;font-weight:bold;color:#000000;text-align:center}
table.tMngTopInfo tbody th{color:#fff;font-weight:normal;background-color:#ffad01;height:61px;border-bottom:1px solid #ffad01;border-top:1px solid #ffad01}
table.tMngTopInfo tbody td{height:30px;border-bottom:1px solid #dcdcdc;border-top:1px solid #dcdcdc}
table.tMngTopInfo tbody td:last-child{border-right:1px solid #dcdcdc}
table.tMngTopInfo tbody td.sky{color:#fff;background-color:#339cde;border-bottom:1px solid #339cde;border-top:1px solid #339cde}
table.tMngTopInfo tbody td.blue{color:#fff;background-color:#297db2;border-bottom:1px solid #297db2;border-top:1px solid #297db2}
table.tMngTopInfo tbody td select{padding-left:10px;padding-right:30px;height:26px;border:1px solid #dcdcdc;-webkit-appearance:none;appearance:none;background:url("../images/bg_select_arrow.png") #fff right center no-repeat}

table.tMngClassTopInfo{border-collapse:collapse;width:100%;border:0px;font-size:14px;font-weight:bold;color:#000000;text-align:center}
table.tMngClassTopInfo tbody th{color:#fff;font-weight:normal;background-color:#ffad01;font-size:16px;height:49px;border-bottom:1px solid #ffad01;border-top:1px solid #ffad01}
table.tMngClassTopInfo tbody td{height:30px;border-bottom:1px solid #dcdcdc;border-top:1px solid #dcdcdc}
table.tMngClassTopInfo tbody td:last-child{border-right:1px solid #dcdcdc}
table.tMngClassTopInfo tbody td.sky{color:#fff;background-color:#339cde;border-bottom:1px solid #339cde;border-top:1px solid #339cde;font-size:16px}
table.tMngClassTopInfo tbody td.blue{color:#fff;background-color:#297db2;border-bottom:1px solid #297db2;border-top:1px solid #297db2}
table.tMngClassTopInfo tbody td select{padding-left:10px;padding-right:30px;height:26px;border:1px solid #dcdcdc;-webkit-appearance:none;appearance:none;background:url("../images/bg_select_arrow.png") #fff right center no-repeat}
table.tMngClassTopInfo tbody td .saBtn{float:right;margin-right:20px}



.layerPopup.mngJoins{width:860px;display:none}
.layerPopup.mngManageClassClass{width:860px;display:none}
.layerPopup.mngManageClassTeacher{width:600px;display:none}
.layerPopup.mngManagemngLicenceInfo{width:860px;display:none}
.layerPopup.mngManageTeacherInfoSchool{width:860px;display:none}
.layerPopup.mngManageTeacherAdd{width:620px;display:none}
.layerPopup.mngManageTeacherInfoOrg{width:860px;display:none}
.layerPopup.mngManageMemberPassowrdChange{width:620px;display:none}
.layerPopup.mngLicenceExtensionApp{width:560px;display:none}
.layerPopup.mngLicenceHistory{width:860px;display:none}
.layerPopup.mngSemiInfoDetail{width:620px;display:none}
.layerPopup.mngAccountListInsert{width:700px;display:none}
.layerPopup.mngAccountListDetail{width:700px;display:none}
.layerPopup.mngCouponAddClass{width:700px;display:none}
.layerPopup.mngChoiceSales{width:600px;display:none}
.layerPopup.mngChoiceSales{width:860px;display:none}
.layerPopup.mngCouponAccountDetail{width:700px;display:none}
.layerPopup.mngSurveyHistory{width:700px;display:none}

.layerPopup.style01 .layerHeader{width:100%;height:50px;background-color:#56688b}
.layerPopup.style01 .layerHeader .title{display:inline-block;font-size:18px;font-weight:bold;color:#fff;line-height:50px;text-indent:30px}
.layerPopup.style01 .layerHeader .layerClose{float:right;margin:20px 16px 0 0}
.layerPopup.style01 .layerContainer{padding:18px 20px;background-color:#ebebeb}
.layerPopup.style01 .layerContainer h1.title{font-size:20px;color:#010101;text-indent:10px;font-weight:bold;margin-bottom:18px}
.layerPopup.style01 .layerContainer h1.info{display:block;font-size:14px;color:#424242;font-weight:normal;margin-bottom:15px}
.layerPopup.style01 .layerContainer .conContainer{border:1px solid #d7d7d7;padding:19px;background-color:#fff;border-bottom:none;padding-bottom:0px}
.layerPopup.style01 .layerContainer .conContainer .searchWrap{overflow:hidden;padding:15px;border:1px solid #dcdcdc;background-color:#edecec;margin-bottom:30px;text-align:center}
.layerPopup.style01 .layerContainer .conContainer .searchWrap .section{display:inline-block;margin-right:20px;padding:10px 0;}
.layerPopup.style01 .layerContainer .conContainer .searchWrap .section2{display:inline-block;margin-right:10px;padding:10px 0;}
.layerPopup.style01 .layerContainer .conContainer .searchWrap label{font-size:16px;font-weight:bold;color:#000000;margin-right:4px}
.layerPopup.style01 .layerContainer .conContainer .searchWrap .select{display:inline-block}
.layerPopup.style01 .layerContainer .conContainer .searchWrap .select select{padding-left:5px;padding-right:30px;height:26px;border:1px solid #dcdcdc;-webkit-appearance:none;appearance:none;background:url("../images/bg_select_arrow.png") #fff right center no-repeat}
.layerPopup.style01 .layerContainer .conContainer .searchWrap .select input{padding-left:10px;height:26px;border:1px solid #dcdcdc}
.layerPopup.style01 .layerContainer .conContainer .tableWrap{padding-bottom:30px;border-bottom:1px solid #d7d7d7}
.layerPopup.style01 .layerContainer .conFooter{clear:both;text-align:center;padding:10px;border:1px solid #d7d7d7;border-top:none;background-color:#fff}
.layerPopup.style01 .layerFooter{clear:both;text-align:center}

.layerPopup.style02{width:400px;display:none;background-color:#ebebeb;padding:10px}
.layerPopup.style02 .layerHeader{width:100%;height:40px}
.layerPopup.style02 .layerHeader .title{display:inline-block;font-size:18px;font-weight:900;color:#000000;line-height:28px;text-indent:20px;letter-spacing:-0.4px}
.layerPopup.style02 .layerHeader .layerClose{float:right;margin:5px 10px 0 0}
.layerPopup.style02 .layerContainer{padding:0 40px;background-color:#fff;text-align:center;font-size:16px;color:#000000;margin-bottom:10px}
.layerPopup.style02 .layerContainer .message{width:320px;display:table-cell;vertical-align:middle;height:115px;font-weight:bold}
.layerPopup.style02 .layerContainer .selectWrap{width:320px;height:48px}
.layerPopup.style02 .layerFooter{clear:both;text-align:center}
.layerPopup.style02 .layerContainer .selectWrap label{font-size:16px;font-weight:bold;height:28px}
.layerPopup.style02 .layerContainer .selectWrap .select{height:28px;display:inline-block}
.layerPopup.style02 .layerContainer .selectWrap .select select{height:26px;border:1px solid #dcdcdc;-webkit-appearance:none;appearance:none;background:url("../images/bg_select_arrow.png") right center no-repeat}

/* input date font-size */
.hasDatepicker{font-size:11px}


/* 2016-05-20 coupon function css add */
.adminContainer .functionWrap{overflow:hidden;padding:5px;margin-bottom:10px;text-align:right}
.mouse-type{cursor:pointer;}