@charset "utf-8";

#pdfArea{background-color:#fff;display:none}
#pdfArea .pdfWrap{display:inline-block;background-color:#fff;height:1410px;border:1px solid #dcdcdc;overflow:auto}
#pdfArea .pdfWrap.clonejobInfo{height:1410px}
#pdfArea .pdfWrap #footer{display:none}

/* 탑, 버텀 백그라운드 이미지 제거 */
#pdfArea #content{background:none;padding-top:0px;margin-top:0}
#pdfArea #content .botBg{display:none}

/* 아이콘 동그라미 재배치 */
#pdfArea .tResultIcon i{border-radius:45px;background-position:15px 15px}

/* 가로 100%채우기 */
#pdfArea .persummary #content .section02,
#pdfArea .persummary #content .section03,
#pdfArea .surveyresult #content .section03,
#pdfArea .surveyresult #content .section04{clear:both;width:auto;padding-right:20px;float:none}
#pdfArea #content{border:0px}

/* 인포, 탭 제거 */
#pdfArea .persummary #content > .info,
#pdfArea .persummary #content .tabSection01,
#pdfArea .persummary #content .tabSection02,
#pdfArea .peranalysL1 #content > .info,
#pdfArea .peranalysL1 #content .tabSection01,
#pdfArea .peranalysL1 #content .tabSection02,
#pdfArea .peranalysL2 #content > .info,
#pdfArea .peranalysL2 #content .tabSection01,
#pdfArea .peranalysL2 #content .tabSection02,
#pdfArea .peranalysM #content > .info,
#pdfArea .peranalysM #content .tabSection01,
#pdfArea .peranalysM #content .tabSection02,
#pdfArea .pertrust #content > .info,
#pdfArea .pertrust #content .tabSection01,
#pdfArea .pertrust #content .tabSection02,
#pdfArea .affsummary #content > .info,
#pdfArea .affsummary #content .tabSection01,
#pdfArea .affsummary #content .tabSection02,
#pdfArea .affanalys #content > .info,
#pdfArea .affanalys #content .tabSection01,
#pdfArea .affanalys #content .tabSection02,
#pdfArea .affmajAnalys1 #content > .info,
#pdfArea .affmajAnalys1 #content .tabSection01,
#pdfArea .affmajAnalys1 #content .tabSection02,
#pdfArea .affmajAnalys2 #content > .info,
#pdfArea .affmajAnalys2 #content .tabSection01,
#pdfArea .affmajAnalys2 #content .tabSection02,
#pdfArea .affauGuide #content > .info,
#pdfArea .affauGuide #content .tabSection01,
#pdfArea .affauGuide #content .tabSection02,
#pdfArea .cloneresultInfo #content > .info,
#pdfArea .cloneresultInfo #content .tabSection01,
#pdfArea .cloneresultInfo #content .tabSection02,
#pdfArea .cloneunivInfo #content > .info,
#pdfArea .cloneunivInfo #content .tabSection01,
#pdfArea .cloneunivInfo #content .tabSection02,
#pdfArea .clonejobInfo #content > .info,
#pdfArea .clonejobInfo #content .tabSection01,
#pdfArea .clonejobInfo #content .tabSection02{display:none}

/* 인포, 탭 제거 */
#pdfArea2 .persummary #content > .info,
#pdfArea2 .persummary #content .tabSection01,
#pdfArea2 .persummary #content .tabSection02,
#pdfArea2 .peranalysL1 #content > .info,
#pdfArea2 .peranalysL1 #content .tabSection01,
#pdfArea2 .peranalysL1 #content .tabSection02,
#pdfArea2 .peranalysL2 #content > .info,
#pdfArea2 .peranalysL2 #content .tabSection01,
#pdfArea2 .peranalysL2 #content .tabSection02,
#pdfArea2 .peranalysM #content > .info,
#pdfArea2 .peranalysM #content .tabSection01,
#pdfArea2 .peranalysM #content .tabSection02,
#pdfArea2 .pertrust #content > .info,
#pdfArea2 .pertrust #content .tabSection01,
#pdfArea2 .pertrust #content .tabSection02,
#pdfArea2 .affsummary #content > .info,
#pdfArea2 .affsummary #content .tabSection01,
#pdfArea2 .affsummary #content .tabSection02,
#pdfArea2 .affanalys #content > .info,
#pdfArea2 .affanalys #content .tabSection01,
#pdfArea2 .affanalys #content .tabSection02,
#pdfArea2 .affmajAnalys1 #content > .info,
#pdfArea2 .affmajAnalys1 #content .tabSection01,
#pdfArea2 .affmajAnalys1 #content .tabSection02,
#pdfArea2 .affmajAnalys2 #content > .info,
#pdfArea2 .affmajAnalys2 #content .tabSection01,
#pdfArea2 .affmajAnalys2 #content .tabSection02,
#pdfArea2 .affauGuide #content > .info,
#pdfArea2 .affauGuide #content .tabSection01,
#pdfArea2 .affauGuide #content .tabSection02,
#pdfArea2 .cloneresultInfo #content > .info,
#pdfArea2 .cloneresultInfo #content .tabSection01,
#pdfArea2 .cloneresultInfo #content .tabSection02,
#pdfArea2 .cloneunivInfo #content > .info,
#pdfArea2 .cloneunivInfo #content .tabSection01,
#pdfArea2 .cloneunivInfo #content .tabSection02,
#pdfArea2 .clonejobInfo #content > .info,
#pdfArea2 .clonejobInfo #content .tabSection01,
#pdfArea2 .clonejobInfo #content .tabSection02{display:none}

/* 인포, 탭 제거 */
#pdfArea3 .persummary #content > .info,
#pdfArea3 .persummary #content .tabSection01,
#pdfArea3 .persummary #content .tabSection02,
#pdfArea3 .peranalysL1 #content > .info,
#pdfArea3 .peranalysL1 #content .tabSection01,
#pdfArea3 .peranalysL1 #content .tabSection02,
#pdfArea3 .peranalysL2 #content > .info,
#pdfArea3 .peranalysL2 #content .tabSection01,
#pdfArea3 .peranalysL2 #content .tabSection02,
#pdfArea3 .peranalysM #content > .info,
#pdfArea3 .peranalysM #content .tabSection01,
#pdfArea3 .peranalysM #content .tabSection02,
#pdfArea3 .pertrust #content > .info,
#pdfArea3 .pertrust #content .tabSection01,
#pdfArea3 .pertrust #content .tabSection02,
#pdfArea3 .affsummary #content > .info,
#pdfArea3 .affsummary #content .tabSection01,
#pdfArea3 .affsummary #content .tabSection02,
#pdfArea3 .affanalys #content > .info,
#pdfArea3 .affanalys #content .tabSection01,
#pdfArea3 .affanalys #content .tabSection02,
#pdfArea3 .affmajAnalys1 #content > .info,
#pdfArea3 .affmajAnalys1 #content .tabSection01,
#pdfArea3 .affmajAnalys1 #content .tabSection02,
#pdfArea3 .affmajAnalys2 #content > .info,
#pdfArea3 .affmajAnalys2 #content .tabSection01,
#pdfArea3 .affmajAnalys2 #content .tabSection02,
#pdfArea3 .affauGuide #content > .info,
#pdfArea3 .affauGuide #content .tabSection01,
#pdfArea3 .affauGuide #content .tabSection02,
#pdfArea3 .cloneresultInfo #content > .info,
#pdfArea3 .cloneresultInfo #content .tabSection01,
#pdfArea3 .cloneresultInfo #content .tabSection02,
#pdfArea3 .cloneunivInfo #content > .info,
#pdfArea3 .cloneunivInfo #content .tabSection01,
#pdfArea3 .cloneunivInfo #content .tabSection02,
#pdfArea3 .clonejobInfo #content > .info,
#pdfArea3 .clonejobInfo #content .tabSection01,
#pdfArea3 .clonejobInfo #content .tabSection02{display:none}

/* 인포, 탭 제거 */
#pdfArea4 .persummary #content > .info,
#pdfArea4 .persummary #content .tabSection01,
#pdfArea4 .persummary #content .tabSection02,
#pdfArea4 .peranalysL1 #content > .info,
#pdfArea4 .peranalysL1 #content .tabSection01,
#pdfArea4 .peranalysL1 #content .tabSection02,
#pdfArea4 .peranalysL2 #content > .info,
#pdfArea4 .peranalysL2 #content .tabSection01,
#pdfArea4 .peranalysL2 #content .tabSection02,
#pdfArea4 .peranalysM #content > .info,
#pdfArea4 .peranalysM #content .tabSection01,
#pdfArea4 .peranalysM #content .tabSection02,
#pdfArea4 .pertrust #content > .info,
#pdfArea4 .pertrust #content .tabSection01,
#pdfArea4 .pertrust #content .tabSection02,
#pdfArea4 .affsummary #content > .info,
#pdfArea4 .affsummary #content .tabSection01,
#pdfArea4 .affsummary #content .tabSection02,
#pdfArea4 .affanalys #content > .info,
#pdfArea4 .affanalys #content .tabSection01,
#pdfArea4 .affanalys #content .tabSection02,
#pdfArea4 .affmajAnalys1 #content > .info,
#pdfArea4 .affmajAnalys1 #content .tabSection01,
#pdfArea4 .affmajAnalys1 #content .tabSection02,
#pdfArea4 .affmajAnalys2 #content > .info,
#pdfArea4 .affmajAnalys2 #content .tabSection01,
#pdfArea4 .affmajAnalys2 #content .tabSection02,
#pdfArea4 .affauGuide #content > .info,
#pdfArea4 .affauGuide #content .tabSection01,
#pdfArea4 .affauGuide #content .tabSection02,
#pdfArea4 .cloneresultInfo #content > .info,
#pdfArea4 .cloneresultInfo #content .tabSection01,
#pdfArea4 .cloneresultInfo #content .tabSection02,
#pdfArea4 .cloneunivInfo #content > .info,
#pdfArea4 .cloneunivInfo #content .tabSection01,
#pdfArea4 .cloneunivInfo #content .tabSection02,
#pdfArea4 .clonejobInfo #content > .info,
#pdfArea4 .clonejobInfo #content .tabSection01,
#pdfArea4 .clonejobInfo #content .tabSection02{display:none}

/* 인포, 탭 제거 */
#pdfArea5 .persummary #content > .info,
#pdfArea5 .persummary #content .tabSection01,
#pdfArea5 .persummary #content .tabSection02,
#pdfArea5 .peranalysL1 #content > .info,
#pdfArea5 .peranalysL1 #content .tabSection01,
#pdfArea5 .peranalysL1 #content .tabSection02,
#pdfArea5 .peranalysL2 #content > .info,
#pdfArea5 .peranalysL2 #content .tabSection01,
#pdfArea5 .peranalysL2 #content .tabSection02,
#pdfArea5 .peranalysM #content > .info,
#pdfArea5 .peranalysM #content .tabSection01,
#pdfArea5 .peranalysM #content .tabSection02,
#pdfArea5 .pertrust #content > .info,
#pdfArea5 .pertrust #content .tabSection01,
#pdfArea5 .pertrust #content .tabSection02,
#pdfArea5 .affsummary #content > .info,
#pdfArea5 .affsummary #content .tabSection01,
#pdfArea5 .affsummary #content .tabSection02,
#pdfArea5 .affanalys #content > .info,
#pdfArea5 .affanalys #content .tabSection01,
#pdfArea5 .affanalys #content .tabSection02,
#pdfArea5 .affmajAnalys1 #content > .info,
#pdfArea5 .affmajAnalys1 #content .tabSection01,
#pdfArea5 .affmajAnalys1 #content .tabSection02,
#pdfArea5 .affmajAnalys2 #content > .info,
#pdfArea5 .affmajAnalys2 #content .tabSection01,
#pdfArea5 .affmajAnalys2 #content .tabSection02,
#pdfArea5 .affauGuide #content > .info,
#pdfArea5 .affauGuide #content .tabSection01,
#pdfArea5 .affauGuide #content .tabSection02,
#pdfArea5 .cloneresultInfo #content > .info,
#pdfArea5 .cloneresultInfo #content .tabSection01,
#pdfArea5 .cloneresultInfo #content .tabSection02,
#pdfArea5 .cloneunivInfo #content > .info,
#pdfArea5 .cloneunivInfo #content .tabSection01,
#pdfArea5 .cloneunivInfo #content .tabSection02,
#pdfArea5 .clonejobInfo #content > .info,
#pdfArea5 .clonejobInfo #content .tabSection01,
#pdfArea5 .clonejobInfo #content .tabSection02{display:none}

/* 인포, 탭 제거 */
#pdfArea6 .persummary #content > .info,
#pdfArea6 .persummary #content .tabSection01,
#pdfArea6 .persummary #content .tabSection02,
#pdfArea6 .peranalysL1 #content > .info,
#pdfArea6 .peranalysL1 #content .tabSection01,
#pdfArea6 .peranalysL1 #content .tabSection02,
#pdfArea6 .peranalysL2 #content > .info,
#pdfArea6 .peranalysL2 #content .tabSection01,
#pdfArea6 .peranalysL2 #content .tabSection02,
#pdfArea6 .peranalysM #content > .info,
#pdfArea6 .peranalysM #content .tabSection01,
#pdfArea6 .peranalysM #content .tabSection02,
#pdfArea6 .pertrust #content > .info,
#pdfArea6 .pertrust #content .tabSection01,
#pdfArea6 .pertrust #content .tabSection02,
#pdfArea6 .affsummary #content > .info,
#pdfArea6 .affsummary #content .tabSection01,
#pdfArea6 .affsummary #content .tabSection02,
#pdfArea6 .affanalys #content > .info,
#pdfArea6 .affanalys #content .tabSection01,
#pdfArea6 .affanalys #content .tabSection02,
#pdfArea6 .affmajAnalys1 #content > .info,
#pdfArea6 .affmajAnalys1 #content .tabSection01,
#pdfArea6 .affmajAnalys1 #content .tabSection02,
#pdfArea6 .affmajAnalys2 #content > .info,
#pdfArea6 .affmajAnalys2 #content .tabSection01,
#pdfArea6 .affmajAnalys2 #content .tabSection02,
#pdfArea6 .affauGuide #content > .info,
#pdfArea6 .affauGuide #content .tabSection01,
#pdfArea6 .affauGuide #content .tabSection02,
#pdfArea6 .cloneresultInfo #content > .info,
#pdfArea6 .cloneresultInfo #content .tabSection01,
#pdfArea6 .cloneresultInfo #content .tabSection02,
#pdfArea6 .cloneunivInfo #content > .info,
#pdfArea6 .cloneunivInfo #content .tabSection01,
#pdfArea6 .cloneunivInfo #content .tabSection02,
#pdfArea6 .clonejobInfo #content > .info,
#pdfArea6 .clonejobInfo #content .tabSection01,
#pdfArea6 .clonejobInfo #content .tabSection02{display:none}

/* 인포, 탭 제거 */
#pdfArea7 .persummary #content > .info,
#pdfArea7 .persummary #content .tabSection01,
#pdfArea7 .persummary #content .tabSection02,
#pdfArea7 .peranalysL1 #content > .info,
#pdfArea7 .peranalysL1 #content .tabSection01,
#pdfArea7 .peranalysL1 #content .tabSection02,
#pdfArea7 .peranalysL2 #content > .info,
#pdfArea7 .peranalysL2 #content .tabSection01,
#pdfArea7 .peranalysL2 #content .tabSection02,
#pdfArea7 .peranalysM #content > .info,
#pdfArea7 .peranalysM #content .tabSection01,
#pdfArea7 .peranalysM #content .tabSection02,
#pdfArea7 .pertrust #content > .info,
#pdfArea7 .pertrust #content .tabSection01,
#pdfArea7 .pertrust #content .tabSection02,
#pdfArea7 .affsummary #content > .info,
#pdfArea7 .affsummary #content .tabSection01,
#pdfArea7 .affsummary #content .tabSection02,
#pdfArea7 .affanalys #content > .info,
#pdfArea7 .affanalys #content .tabSection01,
#pdfArea7 .affanalys #content .tabSection02,
#pdfArea7 .affmajAnalys1 #content > .info,
#pdfArea7 .affmajAnalys1 #content .tabSection01,
#pdfArea7 .affmajAnalys1 #content .tabSection02,
#pdfArea7 .affmajAnalys2 #content > .info,
#pdfArea7 .affmajAnalys2 #content .tabSection01,
#pdfArea7 .affmajAnalys2 #content .tabSection02,
#pdfArea7 .affauGuide #content > .info,
#pdfArea7 .affauGuide #content .tabSection01,
#pdfArea7 .affauGuide #content .tabSection02,
#pdfArea7 .cloneresultInfo #content > .info,
#pdfArea7 .cloneresultInfo #content .tabSection01,
#pdfArea7 .cloneresultInfo #content .tabSection02,
#pdfArea7 .cloneunivInfo #content > .info,
#pdfArea7 .cloneunivInfo #content .tabSection01,
#pdfArea7 .cloneunivInfo #content .tabSection02,
#pdfArea7 .clonejobInfo #content > .info,
#pdfArea7 .clonejobInfo #content .tabSection01,
#pdfArea7 .clonejobInfo #content .tabSection02{display:none}

/* 인포, 탭 제거 */
#pdfArea8 .persummary #content > .info,
#pdfArea8 .persummary #content .tabSection01,
#pdfArea8 .persummary #content .tabSection02,
#pdfArea8 .peranalysL1 #content > .info,
#pdfArea8 .peranalysL1 #content .tabSection01,
#pdfArea8 .peranalysL1 #content .tabSection02,
#pdfArea8 .peranalysL2 #content > .info,
#pdfArea8 .peranalysL2 #content .tabSection01,
#pdfArea8 .peranalysL2 #content .tabSection02,
#pdfArea8 .peranalysM #content > .info,
#pdfArea8 .peranalysM #content .tabSection01,
#pdfArea8 .peranalysM #content .tabSection02,
#pdfArea8 .pertrust #content > .info,
#pdfArea8 .pertrust #content .tabSection01,
#pdfArea8 .pertrust #content .tabSection02,
#pdfArea8 .affsummary #content > .info,
#pdfArea8 .affsummary #content .tabSection01,
#pdfArea8 .affsummary #content .tabSection02,
#pdfArea8 .affanalys #content > .info,
#pdfArea8 .affanalys #content .tabSection01,
#pdfArea8 .affanalys #content .tabSection02,
#pdfArea8 .affmajAnalys1 #content > .info,
#pdfArea8 .affmajAnalys1 #content .tabSection01,
#pdfArea8 .affmajAnalys1 #content .tabSection02,
#pdfArea8 .affmajAnalys2 #content > .info,
#pdfArea8 .affmajAnalys2 #content .tabSection01,
#pdfArea8 .affmajAnalys2 #content .tabSection02,
#pdfArea8 .affauGuide #content > .info,
#pdfArea8 .affauGuide #content .tabSection01,
#pdfArea8 .affauGuide #content .tabSection02,
#pdfArea8 .cloneresultInfo #content > .info,
#pdfArea8 .cloneresultInfo #content .tabSection01,
#pdfArea8 .cloneresultInfo #content .tabSection02,
#pdfArea8 .cloneunivInfo #content > .info,
#pdfArea8 .cloneunivInfo #content .tabSection01,
#pdfArea8 .cloneunivInfo #content .tabSection02,
#pdfArea8 .clonejobInfo #content > .info,
#pdfArea8 .clonejobInfo #content .tabSection01,
#pdfArea8 .clonejobInfo #content .tabSection02{display:none}

/* 인포, 탭 제거 */
#pdfArea9 .persummary #content > .info,
#pdfArea9 .persummary #content .tabSection01,
#pdfArea9 .persummary #content .tabSection02,
#pdfArea9 .peranalysL1 #content > .info,
#pdfArea9 .peranalysL1 #content .tabSection01,
#pdfArea9 .peranalysL1 #content .tabSection02,
#pdfArea9 .peranalysL2 #content > .info,
#pdfArea9 .peranalysL2 #content .tabSection01,
#pdfArea9 .peranalysL2 #content .tabSection02,
#pdfArea9 .peranalysM #content > .info,
#pdfArea9 .peranalysM #content .tabSection01,
#pdfArea9 .peranalysM #content .tabSection02,
#pdfArea9 .pertrust #content > .info,
#pdfArea9 .pertrust #content .tabSection01,
#pdfArea9 .pertrust #content .tabSection02,
#pdfArea9 .affsummary #content > .info,
#pdfArea9 .affsummary #content .tabSection01,
#pdfArea9 .affsummary #content .tabSection02,
#pdfArea9 .affanalys #content > .info,
#pdfArea9 .affanalys #content .tabSection01,
#pdfArea9 .affanalys #content .tabSection02,
#pdfArea9 .affmajAnalys1 #content > .info,
#pdfArea9 .affmajAnalys1 #content .tabSection01,
#pdfArea9 .affmajAnalys1 #content .tabSection02,
#pdfArea9 .affmajAnalys2 #content > .info,
#pdfArea9 .affmajAnalys2 #content .tabSection01,
#pdfArea9 .affmajAnalys2 #content .tabSection02,
#pdfArea9 .affauGuide #content > .info,
#pdfArea9 .affauGuide #content .tabSection01,
#pdfArea9 .affauGuide #content .tabSection02,
#pdfArea9 .cloneresultInfo #content > .info,
#pdfArea9 .cloneresultInfo #content .tabSection01,
#pdfArea9 .cloneresultInfo #content .tabSection02,
#pdfArea9 .cloneunivInfo #content > .info,
#pdfArea9 .cloneunivInfo #content .tabSection01,
#pdfArea9 .cloneunivInfo #content .tabSection02,
#pdfArea9 .clonejobInfo #content > .info,
#pdfArea9 .clonejobInfo #content .tabSection01,
#pdfArea9 .clonejobInfo #content .tabSection02{display:none}

/* 인포, 탭 제거 */
#pdfArea10 .persummary #content > .info,
#pdfArea10 .persummary #content .tabSection01,
#pdfArea10 .persummary #content .tabSection02,
#pdfArea10 .peranalysL1 #content > .info,
#pdfArea10 .peranalysL1 #content .tabSection01,
#pdfArea10 .peranalysL1 #content .tabSection02,
#pdfArea10 .peranalysL2 #content > .info,
#pdfArea10 .peranalysL2 #content .tabSection01,
#pdfArea10 .peranalysL2 #content .tabSection02,
#pdfArea10 .peranalysM #content > .info,
#pdfArea10 .peranalysM #content .tabSection01,
#pdfArea10 .peranalysM #content .tabSection02,
#pdfArea10 .pertrust #content > .info,
#pdfArea10 .pertrust #content .tabSection01,
#pdfArea10 .pertrust #content .tabSection02,
#pdfArea10 .affsummary #content > .info,
#pdfArea10 .affsummary #content .tabSection01,
#pdfArea10 .affsummary #content .tabSection02,
#pdfArea10 .affanalys #content > .info,
#pdfArea10 .affanalys #content .tabSection01,
#pdfArea10 .affanalys #content .tabSection02,
#pdfArea10 .affmajAnalys1 #content > .info,
#pdfArea10 .affmajAnalys1 #content .tabSection01,
#pdfArea10 .affmajAnalys1 #content .tabSection02,
#pdfArea10 .affmajAnalys2 #content > .info,
#pdfArea10 .affmajAnalys2 #content .tabSection01,
#pdfArea10 .affmajAnalys2 #content .tabSection02,
#pdfArea10 .affauGuide #content > .info,
#pdfArea10 .affauGuide #content .tabSection01,
#pdfArea10 .affauGuide #content .tabSection02,
#pdfArea10 .cloneresultInfo #content > .info,
#pdfArea10 .cloneresultInfo #content .tabSection01,
#pdfArea10 .cloneresultInfo #content .tabSection02,
#pdfArea10 .cloneunivInfo #content > .info,
#pdfArea10 .cloneunivInfo #content .tabSection01,
#pdfArea10 .cloneunivInfo #content .tabSection02,
#pdfArea10 .clonejobInfo #content > .info,
#pdfArea10 .clonejobInfo #content .tabSection01,
#pdfArea10 .clonejobInfo #content .tabSection02{display:none}

/* 인포, 탭 제거 */
#pdfArea11 .persummary #content > .info,
#pdfArea11 .persummary #content .tabSection01,
#pdfArea11 .persummary #content .tabSection02,
#pdfArea11 .peranalysL1 #content > .info,
#pdfArea11 .peranalysL1 #content .tabSection01,
#pdfArea11 .peranalysL1 #content .tabSection02,
#pdfArea11 .peranalysL2 #content > .info,
#pdfArea11 .peranalysL2 #content .tabSection01,
#pdfArea11 .peranalysL2 #content .tabSection02,
#pdfArea11 .peranalysM #content > .info,
#pdfArea11 .peranalysM #content .tabSection01,
#pdfArea11 .peranalysM #content .tabSection02,
#pdfArea11 .pertrust #content > .info,
#pdfArea11 .pertrust #content .tabSection01,
#pdfArea11 .pertrust #content .tabSection02,
#pdfArea11 .affsummary #content > .info,
#pdfArea11 .affsummary #content .tabSection01,
#pdfArea11 .affsummary #content .tabSection02,
#pdfArea11 .affanalys #content > .info,
#pdfArea11 .affanalys #content .tabSection01,
#pdfArea11 .affanalys #content .tabSection02,
#pdfArea11 .affmajAnalys1 #content > .info,
#pdfArea11 .affmajAnalys1 #content .tabSection01,
#pdfArea11 .affmajAnalys1 #content .tabSection02,
#pdfArea11 .affmajAnalys2 #content > .info,
#pdfArea11 .affmajAnalys2 #content .tabSection01,
#pdfArea11 .affmajAnalys2 #content .tabSection02,
#pdfArea11 .affauGuide #content > .info,
#pdfArea11 .affauGuide #content .tabSection01,
#pdfArea11 .affauGuide #content .tabSection02,
#pdfArea11 .cloneresultInfo #content > .info,
#pdfArea11 .cloneresultInfo #content .tabSection01,
#pdfArea11 .cloneresultInfo #content .tabSection02,
#pdfArea11 .cloneunivInfo #content > .info,
#pdfArea11 .cloneunivInfo #content .tabSection01,
#pdfArea11 .cloneunivInfo #content .tabSection02,
#pdfArea11 .clonejobInfo #content > .info,
#pdfArea11 .clonejobInfo #content .tabSection01,
#pdfArea11 .clonejobInfo #content .tabSection02{display:none}

/* 인포, 탭 제거 */
#pdfArea12 .persummary #content > .info,
#pdfArea12 .persummary #content .tabSection01,
#pdfArea12 .persummary #content .tabSection02,
#pdfArea12 .peranalysL1 #content > .info,
#pdfArea12 .peranalysL1 #content .tabSection01,
#pdfArea12 .peranalysL1 #content .tabSection02,
#pdfArea12 .peranalysL2 #content > .info,
#pdfArea12 .peranalysL2 #content .tabSection01,
#pdfArea12 .peranalysL2 #content .tabSection02,
#pdfArea12 .peranalysM #content > .info,
#pdfArea12 .peranalysM #content .tabSection01,
#pdfArea12 .peranalysM #content .tabSection02,
#pdfArea12 .pertrust #content > .info,
#pdfArea12 .pertrust #content .tabSection01,
#pdfArea12 .pertrust #content .tabSection02,
#pdfArea12 .affsummary #content > .info,
#pdfArea12 .affsummary #content .tabSection01,
#pdfArea12 .affsummary #content .tabSection02,
#pdfArea12 .affanalys #content > .info,
#pdfArea12 .affanalys #content .tabSection01,
#pdfArea12 .affanalys #content .tabSection02,
#pdfArea12 .affmajAnalys1 #content > .info,
#pdfArea12 .affmajAnalys1 #content .tabSection01,
#pdfArea12 .affmajAnalys1 #content .tabSection02,
#pdfArea12 .affmajAnalys2 #content > .info,
#pdfArea12 .affmajAnalys2 #content .tabSection01,
#pdfArea12 .affmajAnalys2 #content .tabSection02,
#pdfArea12 .affauGuide #content > .info,
#pdfArea12 .affauGuide #content .tabSection01,
#pdfArea12 .affauGuide #content .tabSection02,
#pdfArea12 .cloneresultInfo #content > .info,
#pdfArea12 .cloneresultInfo #content .tabSection01,
#pdfArea12 .cloneresultInfo #content .tabSection02,
#pdfArea12 .cloneunivInfo #content > .info,
#pdfArea12 .cloneunivInfo #content .tabSection01,
#pdfArea12 .cloneunivInfo #content .tabSection02,
#pdfArea12 .clonejobInfo #content > .info,
#pdfArea12 .clonejobInfo #content .tabSection01,
#pdfArea12 .clonejobInfo #content .tabSection02{display:none}

/* 인포, 탭 제거 */
#pdfArea13 .persummary #content > .info,
#pdfArea13 .persummary #content .tabSection01,
#pdfArea13 .persummary #content .tabSection02,
#pdfArea13 .peranalysL1 #content > .info,
#pdfArea13 .peranalysL1 #content .tabSection01,
#pdfArea13 .peranalysL1 #content .tabSection02,
#pdfArea13 .peranalysL2 #content > .info,
#pdfArea13 .peranalysL2 #content .tabSection01,
#pdfArea13 .peranalysL2 #content .tabSection02,
#pdfArea13 .peranalysM #content > .info,
#pdfArea13 .peranalysM #content .tabSection01,
#pdfArea13 .peranalysM #content .tabSection02,
#pdfArea13 .pertrust #content > .info,
#pdfArea13 .pertrust #content .tabSection01,
#pdfArea13 .pertrust #content .tabSection02,
#pdfArea13 .affsummary #content > .info,
#pdfArea13 .affsummary #content .tabSection01,
#pdfArea13 .affsummary #content .tabSection02,
#pdfArea13 .affanalys #content > .info,
#pdfArea13 .affanalys #content .tabSection01,
#pdfArea13 .affanalys #content .tabSection02,
#pdfArea13 .affmajAnalys1 #content > .info,
#pdfArea13 .affmajAnalys1 #content .tabSection01,
#pdfArea13 .affmajAnalys1 #content .tabSection02,
#pdfArea13 .affmajAnalys2 #content > .info,
#pdfArea13 .affmajAnalys2 #content .tabSection01,
#pdfArea13 .affmajAnalys2 #content .tabSection02,
#pdfArea13 .affauGuide #content > .info,
#pdfArea13 .affauGuide #content .tabSection01,
#pdfArea13 .affauGuide #content .tabSection02,
#pdfArea13 .cloneresultInfo #content > .info,
#pdfArea13 .cloneresultInfo #content .tabSection01,
#pdfArea13 .cloneresultInfo #content .tabSection02,
#pdfArea13 .cloneunivInfo #content > .info,
#pdfArea13 .cloneunivInfo #content .tabSection01,
#pdfArea13 .cloneunivInfo #content .tabSection02,
#pdfArea13 .clonejobInfo #content > .info,
#pdfArea13 .clonejobInfo #content .tabSection01,
#pdfArea13 .clonejobInfo #content .tabSection02{display:none}

/* 인포, 탭 제거 */
#pdfArea14 .persummary #content > .info,
#pdfArea14 .persummary #content .tabSection01,
#pdfArea14 .persummary #content .tabSection02,
#pdfArea14 .peranalysL1 #content > .info,
#pdfArea14 .peranalysL1 #content .tabSection01,
#pdfArea14 .peranalysL1 #content .tabSection02,
#pdfArea14 .peranalysL2 #content > .info,
#pdfArea14 .peranalysL2 #content .tabSection01,
#pdfArea14 .peranalysL2 #content .tabSection02,
#pdfArea14 .peranalysM #content > .info,
#pdfArea14 .peranalysM #content .tabSection01,
#pdfArea14 .peranalysM #content .tabSection02,
#pdfArea14 .pertrust #content > .info,
#pdfArea14 .pertrust #content .tabSection01,
#pdfArea14 .pertrust #content .tabSection02,
#pdfArea14 .affsummary #content > .info,
#pdfArea14 .affsummary #content .tabSection01,
#pdfArea14 .affsummary #content .tabSection02,
#pdfArea14 .affanalys #content > .info,
#pdfArea14 .affanalys #content .tabSection01,
#pdfArea14 .affanalys #content .tabSection02,
#pdfArea14 .affmajAnalys1 #content > .info,
#pdfArea14 .affmajAnalys1 #content .tabSection01,
#pdfArea14 .affmajAnalys1 #content .tabSection02,
#pdfArea14 .affmajAnalys2 #content > .info,
#pdfArea14 .affmajAnalys2 #content .tabSection01,
#pdfArea14 .affmajAnalys2 #content .tabSection02,
#pdfArea14 .affauGuide #content > .info,
#pdfArea14 .affauGuide #content .tabSection01,
#pdfArea14 .affauGuide #content .tabSection02,
#pdfArea14 .cloneresultInfo #content > .info,
#pdfArea14 .cloneresultInfo #content .tabSection01,
#pdfArea14 .cloneresultInfo #content .tabSection02,
#pdfArea14 .cloneunivInfo #content > .info,
#pdfArea14 .cloneunivInfo #content .tabSection01,
#pdfArea14 .cloneunivInfo #content .tabSection02,
#pdfArea14 .clonejobInfo #content > .info,
#pdfArea14 .clonejobInfo #content .tabSection01,
#pdfArea14 .clonejobInfo #content .tabSection02{display:none}

/* 인포, 탭 제거 */
#pdfArea15 .persummary #content > .info,
#pdfArea15 .persummary #content .tabSection01,
#pdfArea15 .persummary #content .tabSection02,
#pdfArea15 .peranalysL1 #content > .info,
#pdfArea15 .peranalysL1 #content .tabSection01,
#pdfArea15 .peranalysL1 #content .tabSection02,
#pdfArea15 .peranalysL2 #content > .info,
#pdfArea15 .peranalysL2 #content .tabSection01,
#pdfArea15 .peranalysL2 #content .tabSection02,
#pdfArea15 .peranalysM #content > .info,
#pdfArea15 .peranalysM #content .tabSection01,
#pdfArea15 .peranalysM #content .tabSection02,
#pdfArea15 .pertrust #content > .info,
#pdfArea15 .pertrust #content .tabSection01,
#pdfArea15 .pertrust #content .tabSection02,
#pdfArea15 .affsummary #content > .info,
#pdfArea15 .affsummary #content .tabSection01,
#pdfArea15 .affsummary #content .tabSection02,
#pdfArea15 .affanalys #content > .info,
#pdfArea15 .affanalys #content .tabSection01,
#pdfArea15 .affanalys #content .tabSection02,
#pdfArea15 .affmajAnalys1 #content > .info,
#pdfArea15 .affmajAnalys1 #content .tabSection01,
#pdfArea15 .affmajAnalys1 #content .tabSection02,
#pdfArea15 .affmajAnalys2 #content > .info,
#pdfArea15 .affmajAnalys2 #content .tabSection01,
#pdfArea15 .affmajAnalys2 #content .tabSection02,
#pdfArea15 .affauGuide #content > .info,
#pdfArea15 .affauGuide #content .tabSection01,
#pdfArea15 .affauGuide #content .tabSection02,
#pdfArea15 .cloneresultInfo #content > .info,
#pdfArea15 .cloneresultInfo #content .tabSection01,
#pdfArea15 .cloneresultInfo #content .tabSection02,
#pdfArea15 .cloneunivInfo #content > .info,
#pdfArea15 .cloneunivInfo #content .tabSection01,
#pdfArea15 .cloneunivInfo #content .tabSection02,
#pdfArea15 .clonejobInfo #content > .info,
#pdfArea15 .clonejobInfo #content .tabSection01,
#pdfArea15 .clonejobInfo #content .tabSection02{display:none}

/* 01 - 검사결과 */
#pdfArea .surveyresult #content .header .btnArea,
#pdfArea .surveyresult #content .section08{display:none}
#pdfArea .surveyresult #content{overflow:hidden}
#pdfArea .surveyresult #content .section04 td{text-align:left}
#pdfArea .surveyresult #content table.tResultCloneResult tbody td svg text{font-size:0px}
#pdfArea .surveyresult #content table.tResultPersent .chartBar278{background:url("../images/pdf/chart_bar_bg_599.png") no-repeat}
#pdfArea .surveyresult #content .section05{height:405px}
#pdfArea .surveyresult #content.surveyResult .info span{height:57px}
#pdfArea .surveyresult #content.surveyResult .section.section01 .title,
#pdfArea .surveyresult #content.surveyResult .section.section02 .title,
#pdfArea .surveyresult #content.surveyResult .section.section05 .title,
#pdfArea .surveyresult #content.surveyResult .section.section06 .title{line-height:53px}
#pdfArea .surveyresult #content.surveyResult .section.section03{padding-top:37px}
#pdfArea .surveyresult #content.surveyResult .section.section04{padding-top:40px}
#pdfArea .surveyresult #content.surveyResult .section.section05,
#pdfArea .surveyresult #content.surveyResult .section.section06{padding-top:24px}
#pdfArea .surveyresult #content.surveyResult .section.section05 table,
#pdfArea .surveyresult #content.surveyResult .section.section06 table{margin-top:3px}



/*********************************************************************/

#pdfArea2{background-color:#fff;display:none}
#pdfArea2 .pdfWrap{display:inline-block;background-color:#fff;height:1410px;border:1px solid #dcdcdc;overflow:auto}
#pdfArea2 .pdfWrap.clonejobInfo{height:1410px}
#pdfArea2 .pdfWrap #footer{display:none}

#pdfArea3{background-color:#fff;display:none}
#pdfArea3 .pdfWrap{display:inline-block;background-color:#fff;height:1410px;border:1px solid #dcdcdc;overflow:auto}
#pdfArea3 .pdfWrap.clonejobInfo{height:1410px}
#pdfArea3 .pdfWrap #footer{display:none}

#pdfArea4{background-color:#fff;display:none}
#pdfArea4 .pdfWrap{display:inline-block;background-color:#fff;height:1410px;border:1px solid #dcdcdc;overflow:auto}
#pdfArea4 .pdfWrap.clonejobInfo{height:1410px}
#pdfArea4 .pdfWrap #footer{display:none}

#pdfArea5{background-color:#fff;display:none}
#pdfArea5 .pdfWrap{display:inline-block;background-color:#fff;height:1410px;border:1px solid #dcdcdc;overflow:auto}
#pdfArea5 .pdfWrap.clonejobInfo{height:1410px}
#pdfArea5 .pdfWrap #footer{display:none}

#pdfArea6{background-color:#fff;display:none}
#pdfArea6 .pdfWrap{display:inline-block;background-color:#fff;height:1410px;border:1px solid #dcdcdc;overflow:auto}
#pdfArea6 .pdfWrap.clonejobInfo{height:1410px}
#pdfArea6 .pdfWrap #footer{display:none}

#pdfArea7{background-color:#fff;display:none}
#pdfArea7 .pdfWrap{display:inline-block;background-color:#fff;height:1410px;border:1px solid #dcdcdc;overflow:auto}
#pdfArea7 .pdfWrap.clonejobInfo{height:1410px}
#pdfArea7 .pdfWrap #footer{display:none}

#pdfArea8{background-color:#fff;display:none}
#pdfArea8 .pdfWrap{display:inline-block;background-color:#fff;height:1410px;border:1px solid #dcdcdc;overflow:auto}
#pdfArea8 .pdfWrap.clonejobInfo{height:1410px}
#pdfArea8 .pdfWrap #footer{display:none}

#pdfArea9{background-color:#fff;display:none}
#pdfArea9 .pdfWrap{display:inline-block;background-color:#fff;height:1410px;border:1px solid #dcdcdc;overflow:auto}
#pdfArea9 .pdfWrap.clonejobInfo{height:1410px}
#pdfArea9 .pdfWrap #footer{display:none}

#pdfArea10{background-color:#fff;display:none}
#pdfArea10 .pdfWrap{display:inline-block;background-color:#fff;height:1410px;border:1px solid #dcdcdc;overflow:auto}
#pdfArea10 .pdfWrap.clonejobInfo{height:1410px}
#pdfArea10 .pdfWrap #footer{display:none}

#pdfArea11{background-color:#fff;display:none}
#pdfArea11 .pdfWrap{display:inline-block;background-color:#fff;height:1410px;border:1px solid #dcdcdc;overflow:auto}
#pdfArea11 .pdfWrap.clonejobInfo{height:1410px}
#pdfArea11 .pdfWrap #footer{display:none}

#pdfArea12{background-color:#fff;display:none}
#pdfArea12 .pdfWrap{display:inline-block;background-color:#fff;height:1410px;border:1px solid #dcdcdc;overflow:auto}
#pdfArea12 .pdfWrap.clonejobInfo{height:1410px}
#pdfArea12 .pdfWrap #footer{display:none}

#pdfArea13{background-color:#fff;display:none}
#pdfArea13 .pdfWrap{display:inline-block;background-color:#fff;height:1410px;border:1px solid #dcdcdc;overflow:auto}
#pdfArea13 .pdfWrap.clonejobInfo{height:1410px}
#pdfArea13 .pdfWrap #footer{display:none}

#pdfArea14{background-color:#fff;display:none}
#pdfArea14 .pdfWrap{display:inline-block;background-color:#fff;height:1410px;border:1px solid #dcdcdc;overflow:auto}
#pdfArea14 .pdfWrap.clonejobInfo{height:1410px}
#pdfArea14 .pdfWrap #footer{display:none}

#pdfArea15{background-color:#fff;display:none}
#pdfArea15 .pdfWrap{display:inline-block;background-color:#fff;height:1410px;border:1px solid #dcdcdc;overflow:auto}
#pdfArea15 .pdfWrap.clonejobInfo{height:1410px}
#pdfArea15 .pdfWrap #footer{display:none}


/* 탑, 버텀 백그라운드 이미지 제거 */
#pdfArea2 #content{background:none;padding-top:0px;margin-top:0}
#pdfArea2 #content .botBg{display:none}

#pdfArea3 #content{background:none;padding-top:0px;margin-top:0}
#pdfArea3 #content .botBg{display:none}

#pdfArea4 #content{background:none;padding-top:0px;margin-top:0}
#pdfArea4 #content .botBg{display:none}

#pdfArea5 #content{background:none;padding-top:0px;margin-top:0}
#pdfArea5 #content .botBg{display:none}

#pdfArea6 #content{background:none;padding-top:0px;margin-top:0}
#pdfArea6 #content .botBg{display:none}

#pdfArea7 #content{background:none;padding-top:0px;margin-top:0}
#pdfArea7 #content .botBg{display:none}

#pdfArea8 #content{background:none;padding-top:0px;margin-top:0}
#pdfArea8 #content .botBg{display:none}

#pdfArea9 #content{background:none;padding-top:0px;margin-top:0}
#pdfArea9 #content .botBg{display:none}

#pdfArea10 #content{background:none;padding-top:0px;margin-top:0}
#pdfArea10 #content .botBg{display:none}

#pdfArea11 #content{background:none;padding-top:0px;margin-top:0}
#pdfArea11 #content .botBg{display:none}

#pdfArea12 #content{background:none;padding-top:0px;margin-top:0}
#pdfArea12 #content .botBg{display:none}

#pdfArea13 #content{background:none;padding-top:0px;margin-top:0}
#pdfArea13 #content .botBg{display:none}

#pdfArea14 #content{background:none;padding-top:0px;margin-top:0}
#pdfArea14 #content .botBg{display:none}

#pdfArea15 #content{background:none;padding-top:0px;margin-top:0}
#pdfArea15 #content .botBg{display:none}

/* 아이콘 동그라미 재배치 */
#pdfArea2 .tResultIcon i{border-radius:45px;background-position:15px 15px}

#pdfArea3 .tResultIcon i{border-radius:45px;background-position:15px 15px}

#pdfArea4 .tResultIcon i{border-radius:45px;background-position:15px 15px}

#pdfArea5 .tResultIcon i{border-radius:45px;background-position:15px 15px}

#pdfArea6 .tResultIcon i{border-radius:45px;background-position:15px 15px}

#pdfArea7 .tResultIcon i{border-radius:45px;background-position:15px 15px}

#pdfArea8 .tResultIcon i{border-radius:45px;background-position:15px 15px}

#pdfArea9 .tResultIcon i{border-radius:45px;background-position:15px 15px}

#pdfArea10 .tResultIcon i{border-radius:45px;background-position:15px 15px}

#pdfArea11 .tResultIcon i{border-radius:45px;background-position:15px 15px}

#pdfArea12 .tResultIcon i{border-radius:45px;background-position:15px 15px}

#pdfArea13 .tResultIcon i{border-radius:45px;background-position:15px 15px}

#pdfArea14 .tResultIcon i{border-radius:45px;background-position:15px 15px}

#pdfArea15 .tResultIcon i{border-radius:45px;background-position:15px 15px}

/* 가로 100%채우기 */
#pdfArea2 .persummary #content .section02,
#pdfArea2 .persummary #content .section03,
#pdfArea2 .surveyresult #content .section03,
#pdfArea2 .surveyresult #content .section04{clear:both;width:auto;padding-right:20px;float:none}
#pdfArea2 #content{border:0px}

#pdfArea3 .persummary #content .section02,
#pdfArea3 .persummary #content .section03,
#pdfArea3 .surveyresult #content .section03,
#pdfArea3 .surveyresult #content .section04{clear:both;width:auto;padding-right:20px;float:none}
#pdfArea3 #content{border:0px}

#pdfArea4 .persummary #content .section02,
#pdfArea4 .persummary #content .section03,
#pdfArea4 .surveyresult #content .section03,
#pdfArea4 .surveyresult #content .section04{clear:both;width:auto;padding-right:20px;float:none}
#pdfArea4 #content{border:0px}

#pdfArea5 .persummary #content .section02,
#pdfArea5 .persummary #content .section03,
#pdfArea5 .surveyresult #content .section03,
#pdfArea5 .surveyresult #content .section04{clear:both;width:auto;padding-right:20px;float:none}
#pdfArea5 #content{border:0px}

#pdfArea6 .persummary #content .section02,
#pdfArea6 .persummary #content .section03,
#pdfArea6 .surveyresult #content .section03,
#pdfArea6 .surveyresult #content .section04{clear:both;width:auto;padding-right:20px;float:none}
#pdfArea6 #content{border:0px}

#pdfArea7 .persummary #content .section02,
#pdfArea7 .persummary #content .section03,
#pdfArea7 .surveyresult #content .section03,
#pdfArea7 .surveyresult #content .section04{clear:both;width:auto;padding-right:20px;float:none}
#pdfArea7 #content{border:0px}

#pdfArea8 .persummary #content .section02,
#pdfArea8 .persummary #content .section03,
#pdfArea8 .surveyresult #content .section03,
#pdfArea8 .surveyresult #content .section04{clear:both;width:auto;padding-right:20px;float:none}
#pdfArea8 #content{border:0px}

#pdfArea9 .persummary #content .section02,
#pdfArea9 .persummary #content .section03,
#pdfArea9 .surveyresult #content .section03,
#pdfArea9 .surveyresult #content .section04{clear:both;width:auto;padding-right:20px;float:none}
#pdfArea9 #content{border:0px}

#pdfArea10 .persummary #content .section02,
#pdfArea10 .persummary #content .section03,
#pdfArea10 .surveyresult #content .section03,
#pdfArea10 .surveyresult #content .section04{clear:both;width:auto;padding-right:20px;float:none}
#pdfArea10 #content{border:0px}

#pdfArea11 .persummary #content .section02,
#pdfArea11 .persummary #content .section03,
#pdfArea11 .surveyresult #content .section03,
#pdfArea11 .surveyresult #content .section04{clear:both;width:auto;padding-right:20px;float:none}
#pdfArea11 #content{border:0px}

#pdfArea12 .persummary #content .section02,
#pdfArea12 .persummary #content .section03,
#pdfArea12 .surveyresult #content .section03,
#pdfArea12 .surveyresult #content .section04{clear:both;width:auto;padding-right:20px;float:none}
#pdfArea12 #content{border:0px}

#pdfArea13 .persummary #content .section02,
#pdfArea13 .persummary #content .section03,
#pdfArea13 .surveyresult #content .section03,
#pdfArea13 .surveyresult #content .section04{clear:both;width:auto;padding-right:20px;float:none}
#pdfArea13 #content{border:0px}

#pdfArea14 .persummary #content .section02,
#pdfArea14 .persummary #content .section03,
#pdfArea14 .surveyresult #content .section03,
#pdfArea14 .surveyresult #content .section04{clear:both;width:auto;padding-right:20px;float:none}
#pdfArea14 #content{border:0px}

#pdfArea15 .persummary #content .section02,
#pdfArea15 .persummary #content .section03,
#pdfArea15 .surveyresult #content .section03,
#pdfArea15 .surveyresult #content .section04{clear:both;width:auto;padding-right:20px;float:none}
#pdfArea15 #content{border:0px}

/* 02 - 인성검사 결과 */
#pdfArea2 .persummary #content{overflow:hidden}
#pdfArea2 .persummary #content .header{background-color:#fff;color:#000;font-size:28px;font-weight:bold}
#pdfArea2 .persummary #content .tabInfo{border-top:1px solid #d7d7d7}
#pdfArea2 .persummary #content .section02{margin-bottom:40px;margin-right:0px;padding-right:0px}
#pdfArea2 .persummary #content .section03{padding-right:0px}
#pdfArea2 .persummary #content .section04{margin-bottom:30px;margin-top:40px}
#pdfArea2 .persummary #content table.tResultPersent .chartBar278{background:url("../images/pdf/chart_bar_bg_599.png") no-repeat}
#pdfArea2 .persummary #content .header{margin-top:30px}
#pdfArea2 .persummary #content.surveyMoreResult .sectionWrap{padding-top:10px}
#pdfArea2 .persummary #content.surveyMoreResult .sectionWrap .tabInfo{padding:46px 30px 55px 30px;margin-bottom:40px}
#pdfArea2 .persummary #content.surveyMoreResultSummary .sectionWrap .section01 .title{line-height:55px}
#pdfArea2 .persummary #content.surveyMoreResultSummary .sectionWrap .section01 ul li{line-height:20px}
#pdfArea2 .persummary #content.surveyMoreResultSummary .sectionWrap .section01{padding-bottom:50px;margin-bottom:40px}
#pdfArea2 .persummary table.tResultCre tbody th{height:107px}
#pdfArea2 .persummary table.tResultCre .chartBar322{background-size:100% 100%}
#pdfArea2 .persummary table.tResultCre tbody tr:last-child td{border-bottom:1px solid #cdcdcd}

/* 03 - 하위 인성별 수준분석 */
#pdfArea3 .peranalysL1 #content .header{background-color:#fff;color:#56688b;font-size:24px;font-weight:bold;margin-top:35px}
#pdfArea3 .peranalysL1 #content .tabInfo{border-top:1px solid #d7d7d7}
#pdfArea3 .peranalysL1 #content .section03{display:none}
#pdfArea3 .peranalysL1 #content.surveyMoreResult .sectionWrap{padding-top:5px}
#pdfArea3 .peranalysL1 table.tResultAnalysLPersent tbody tr td,
#pdfArea3 .peranalysL1 table.tResultAnalysLPersent thead tr th{height:49px}
#pdfArea3 .peranalysL1 table.tResultAnalysLPersent .chartBar362{background-size:100% 100%}
#pdfArea3 .peranalysL1 #content.surveyMoreResultAnalysL .sectionWrap .section01{margin-bottom:60px}
#pdfArea3 .peranalysL1 #content.surveyMoreResultAnalysL .sectionWrap .section02{padding:40px 54px 35px 54px}
#pdfArea3 .peranalysL1 #content.surveyMoreResultAnalysL .sectionWrap .section02 .analysLChart{margin-top:50px}

/* 04 - 인성검사 상세결과 */
#pdfArea4 .peranalysL2 #content .tabInfo,
#pdfArea4 .peranalysL2 #content .section01,
#pdfArea4 .peranalysL2 #content .section02,
#pdfArea4 .peranalysL2 #content .header,
#pdfArea4 .peranalysL2 #content .section03 .saBtn{display:none}
#pdfArea4 .peranalysL2 #content{border:0px}
#pdfArea4 .peranalysL2 #content .sectionWrap{padding:0px}
#pdfArea4 .peranalysL2 #content .section03{padding:0 20px;padding-bottom:20px}
#pdfArea4 .peranalysL2 #content.surveyMoreResultAnalysL .sectionWrap .section03 .title{margin-top:45px;margin-bottom:5px}

/* 05 - 인성이란 */
/*#pdfArea .peranalysL3{width:1000px}*/
#pdfArea5 .peranalysL3 .header{display: block;font-size: 20px;font-weight: bold;color: #56688b;line-height: 49px;text-indent: 30px;margin-top:42px;margin-bottom:5px}
#pdfArea5 .peranalysL3{width:960px;padding:0 20px}

/* 06 - 주요인성군별 수준분석 */
#pdfArea6 .peranalysM #content{overflow:hidden}
#pdfArea6 .peranalysM #content .header{background-color:#fff;color:#56688b;font-size:24px;font-weight:bold;margin-top:35px}
#pdfArea6 .peranalysM #content .tabInfo{border-top:1px solid #d7d7d7;padding:50px 30px 53px 30px;margin-bottom:25px}
#pdfArea6 .peranalysM #content .section03{margin-bottom:30px;margin-top:17px}
#pdfArea6 .peranalysM #content .section03 .saBtn{display:none}
#pdfArea6 .peranalysM #content.surveyMoreResultAnalysM .sectionWrap .section01 .content svg path{border:0px}
#pdfArea6 .peranalysM #content.surveyMoreResult .sectionWrap{padding-top:5px}
#pdfArea6 .peranalysM #content.surveyMoreResultAnalysM .sectionWrap .section01 .title,
#pdfArea6 .peranalysM #content.surveyMoreResultAnalysM .sectionWrap .section02 .title{height:55px}
#pdfArea6 .peranalysM #content.surveyMoreResultAnalysM .sectionWrap .section03 .title{height:53px}

/* 07 - 검사신뢰도 */
#pdfArea7 .pertrust{width:960px;padding:0 20px}
#pdfArea7 .pertrust .header{display: block;font-size: 20px;font-weight: bold;color: #56688b;line-height: 49px;text-indent: 30px;margin-top:44px}
#pdfArea7 .pertrust #content .header{background-color:#fff;color:#56688b;font-size:24px;font-weight:bold;text-indent: 0px;margin-top:24px}
#pdfArea7 .pertrust #content .tabInfo{border-top:1px solid #d7d7d7;margin-top:17px;padding:51px 30px;margin-bottom:40px}
#pdfArea7 .pertrust #content{border:0px;width:960px}
#pdfArea7 .pertrust #content .section01{border:0;padding:0}
#pdfArea7 .pertrust #content .sectionWrap{padding:0px}
#pdfArea7 .pertrust table.tLayerAnalysM{margin-top:5px}
#pdfArea7 .pertrust table.tLayerAnalysM tbody td{line-height:16px;padding:0 10px;height:110px}
#pdfArea7 .pertrust table.tResultCre tbody td.content{width:420px}
#pdfArea7 .pertrust table.tResultCre tbody tr:last-child td{border-bottom:1px solid #cdcdcd}

/* 08 - 진로적성검사결과 */
#pdfArea8 .affsummary #content{overflow:hidden}
#pdfArea8 .affsummary #content .header{background-color:#fff;color:#000;font-size:28px;font-weight:bold;margin-top:30px}
#pdfArea8 .affsummary #content .tabInfo{border-top:1px solid #d7d7d7;padding-bottom:23px;margin-bottom:30px}
#pdfArea8 .affsummary #content.surveyMoreResult .sectionWrap{padding-top:11px}
#pdfArea8 .affsummary #content.surveyMoreResult .sectionWrap .tabInfo .content{line-height:20px}
#pdfArea8 .affsummary #content.surveyMoreResultTrust .sectionWrap .section01{padding-top:15px;margin-bottom:40px}
#pdfArea8 .affsummary #content.surveyMoreResultTrust .sectionWrap .section01 ul li{line-height:20px}

/* 09 - 학업성향 분석 */
#pdfArea9 .affanalys #content{overflow:hidden}
#pdfArea9 .affanalys #content .header{background-color:#fff;color:#56688b;font-size:24px;font-weight:bold;padding-bottom:0;margin-top:35px}
#pdfArea9 .affanalys #content .tabInfo{border-top:1px solid #d7d7d7;padding-top:29px;margin-bottom:6px}
#pdfArea9 .affanalys #content .section02{display:none}
#pdfArea9 .affanalys #content .sectionWrap{padding-top:0;margin-top:26px}
#pdfArea9 .affanalys #content rect{width:20px}
#pdfArea9 .affanalys #content.surveyMoreResultAnalys .sectionWrap .section01 > .title{margin-bottom:6px}
#pdfArea9 .affanalys #content.surveyMoreResultAnalys .sectionWrap .section03 > .title{margin:5px 0}
#pdfArea9 .affanalys table.tResultAnalysTend tbody td{padding:15px}

/* 10 - 학과 선택 가이드 1 */
#pdfArea10 .affmajAnalys1 #content{overflow:hidden}
#pdfArea10 .affmajAnalys1 .surveyMoreResultAnalys .header,
#pdfArea10 .affmajAnalys1 .surveyMoreResultAnalys > .info,
#pdfArea10 .affmajAnalys1 .surveyMoreResultAnalys .tabSection01,
#pdfArea10 .affmajAnalys1 .surveyMoreResultAnalys .tabInfo,
#pdfArea10 .affmajAnalys1 .surveyMoreResultAnalys .section01,
#pdfArea10 .affmajAnalys1 .surveyMoreResultAnalys .section03,
#pdfArea10 .affmajAnalys1 #content .tableSection:nth-child(3),
#pdfArea10 .affmajAnalys1 #content .tableSection:nth-child(4){display:none}
#pdfArea10 .affmajAnalys1 #content .header{background-color:#fff;color:#56688b;font-size:24px;font-weight:bold;padding-top:0;padding-bottom:0}
#pdfArea10 .affmajAnalys1 #content .tabInfo{border-top:1px solid #d7d7d7;padding-top:14px;padding-bottom:34px;margin-bottom:25px}
#pdfArea10 .affmajAnalys1 #content.surveyMoreResult .sectionWrap{padding-top:15px}
#pdfArea10 .affmajAnalys1 #content.surveyMoreResultMajAnalys .sectionWrap .section01 > .title{height:54px}
#pdfArea10 .affmajAnalys1 table.tResultAnalysTend tbody td{padding:15px}

/* 11 - 학과 선택 가이드 2 */
#pdfArea11 .affmajAnalys2 .header,
#pdfArea11 .affmajAnalys2 .tabInfo,
#pdfArea11 .affmajAnalys2 #content .tableSection:nth-child(2){display:none}
#pdfArea11 .affmajAnalys2 #content{overflow:hidden}
#pdfArea11 .affmajAnalys2 #content .header{background-color:#fff;color:#56688b;font-size:24px;font-weight:bold}
#pdfArea11 .affmajAnalys2 #content .tabInfo{border-top:1px solid #d7d7d7}
#pdfArea11 .affmajAnalys2 #content .section02{display:none}
#pdfArea11 .affmajAnalys2 #content.surveyMoreResult .sectionWrap{margin-top:35px}
#pdfArea11 .affmajAnalys2 #content.surveyMoreResultMajAnalys .sectionWrap .section01 .tableSection{margin-bottom:40px}

/* 12 - 진로.직업 선택 가이드 */
#pdfArea12 .affauGuide #content{overflow:hidden}
#pdfArea12 .affauGuide #content .header{background-color:#fff;color:#56688b;font-size:24px;font-weight:bold;margin-top:12px;padding-bottom:0}
#pdfArea12 .affauGuide #content .tabInfo{border-top:1px solid #d7d7d7;padding-top:17px}
#pdfArea12 .affauGuide #content.surveyMoreResult .sectionWrap{padding-top:16px}
#pdfArea12 .affauGuide #content.surveyMoreResultMajAnalys .sectionWrap .section01 > .title{padding-top:6px}
#pdfArea12 .affauGuide #content.surveyMoreResultMajAnalys .sectionWrap .section01 .tableSection{margin-top:6px}
#pdfArea12 .affauGuide table.tResultAnalysTend tbody td{padding:20px}
#pdfArea12 .affauGuide table.tResultAnalysTend td .content{padding-top:15px}

/* 13 - 클론 매칭 */
#pdfArea13 .cloneresultInfo #content{overflow:hidden}
#pdfArea13 .cloneresultInfo #content.cloneResultInfo .header{background-color:#fff;color:#000;font-size:28px;font-weight:bold;margin-top:31px}
#pdfArea13 .cloneresultInfo #content .tabInfo{border-top:1px solid #d7d7d7;padding-top:15px;padding-bottom:31px}
#pdfArea13 .cloneresultInfo #content.cloneUnivInfo .header{background-color:#fff;color:#56688b;font-size:24px;font-weight:bold;padding-top:17px;padding-bottom:5px}
#pdfArea13 .cloneresultInfo #content.cloneUnivInfo .section02{display:none}
#content.surveyMoreResult .sectionWrap{padding-top:10px;padding-bottom:0}
#content.surveyMoreResult .sectionWrap .tabInfo .title{margin-bottom:3px}
#content.surveyMoreResult .sectionWrap .tabInfo .content{line-height:19px}
#content.cloneResultInfo .sectionWrap .section01{padding-top:16px;padding-bottom:23px}
#content.cloneResultInfo .sectionWrap .section01 ul li{line-height:22px}

/* 14 - 취업정보 1 */
#pdfArea14 .cloneunivInfo #content.cloneUnivInfo .header,
#pdfArea14 .cloneunivInfo #content.cloneUnivInfo .tabInfo,
#pdfArea14 .cloneunivInfo #content.cloneUnivInfo .section01{display:none}
#pdfArea14 .cloneunivInfo #content.cloneJoinInfo{overflow:hidden}
#pdfArea14 .cloneunivInfo #content.cloneJoinInfo .header{background-color:#fff;color:#56688b;font-size:24px;font-weight:bold}
#pdfArea14 .cloneunivInfo #content.cloneJoinInfo .tabInfo{border-top:1px solid #d7d7d7}
#pdfArea14 .cloneunivInfo #content.cloneJoinInfo .section02,
#pdfArea14 .cloneunivInfo #content.cloneJoinInfo .section03{display:none}
#pdfArea14 .cloneunivInfo #content table.tJoinInfoChart tbody td svg text{font-size:0px}

/* 15 - 취업정보 2 */
#pdfArea15 .clonejobInfo #content .header,
#pdfArea15 .clonejobInfo #content .tabInfo,
#pdfArea15 .clonejobInfo #content .section01{display:none}
#pdfArea15 .clonejobInfo #content .section01{display:none}