@charset "utf-8";

/* pdf loading */
#pdfLoading{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#ffffff;z-index:1001;display:none}
#pdfLoading img{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto}

/* container */
#container{position:relative;/*height:100%;*/padding:60px 0 0;min-width:1000px}

/* sub_content */
.teacherContainer #content,
.studentContainer #content,
.loginContainer #content{margin:0 auto;width:1000px;height:auto;overflow:hidden;width:1000px}

/* subTeacher */
.teacherContainer{background:url("../images/tch/bg_teacher.jpg") top center no-repeat}
.teacherContainer #content{border:1px solid #dcdcdc;width:921px;margin-top:30px;padding:39px}
.loginContainer #content{border:1px solid #dcdcdc;width:921px;margin-top:30px;padding:39px}

/* 회원관련 */
.loginContainer .floatSection{display:inline-block}
.loginContainer .btnArea{width:100%;text-align:center}
.loginContainer .conTitle{font-size:28px;color:#000;font-weight:bold}
.loginContainer .step{padding:18px;font-size:16px;font-weight:bold;color:#56688b}
.loginContainer .step span{color:#ec7063;font-weight:900;margin-right:10px}
.loginContainer .secTitle{padding-left:20px;margin-bottom:5px;font-size:20px;color:#000;height:33px;line-height:33px}
.loginContainer .radioSection{display:inline-block;height:14px}
.loginContainer .radioSection label,
.loginContainer .radioSection input{float:left}
.loginContainer .radioSection label{font-size:16px;font-weight:bold;line-height:20px}
.loginContainer .radioSection input[type="radio"]{width:20px;height:20px;margin-right:10px;background:url("../images/login/input_radio_off.png") center center no-repeat}
.loginContainer .radioSection input[type="radio"]:checked{background-image:url("../images/login/input_radio_on.png")}
.loginContainer .checkboxSection input[type="checkbox"]{position:relative;top:4px;width:18px;height:18px;border:1px solid #b4b4b4;cursor:pointer;background-color:#fff}
.loginContainer .checkboxSection input[type="checkbox"]:checked{background:url("../images/mng/icon_checkbox.png") #fff no-repeat}
.loginContainer .checkboxSection label{font-size:14px;font-weight:bold;color:#000}
.loginContainer input[type="text"],
.loginContainer input[type="password"]{border:1px solid #b4b4b4;height:34px}
.loginContainer select{padding-left:5px;padding-right:30px;height:36px;border:1px solid #dcdcdc;background:url("../images/member/bg_mem_select_arrow.png") #fff right center no-repeat}
.loginContainer i.icon{width:32px;height:32px;display:inline-block;float:left;margin-right:6px}
.loginContainer i.icon_people{background:url("../images/member/icon_member_name.png") center center no-repeat}
.loginContainer i.icon_building{background:url("../images/member/icon_member_school.png") center center no-repeat}
.loginContainer i.icon_id{background:url("../images/member/icon_member_id.png") center center no-repeat}
.loginContainer i.icon_pass{background:url("../images/member/icon_member_nowpass.png") center center no-repeat}
.loginContainer i.icon_passcheck{background:url("../images/member/icon_member_repasscheck.png") center center no-repeat}
.loginContainer i.icon_repass{background:url("../images/member/icon_member_repass.png") center center no-repeat}
.loginContainer i.icon_school{background:url("../images/member/icon_member_school.png") center center no-repeat}
.loginContainer i.icon_classinfo{background:url("../images/member/icon_member_class.png") center center no-repeat}
.loginContainer i.icon_classinfonext{background:url("../images/member/icon_member_class_next.png") center center no-repeat}
.loginContainer i.icon_parenthp{background:url("../images/member/icon_member_parenthp.png") center center no-repeat}
.loginContainer i.icon_parentname{background:url("../images/member/icon_member_parentname.png") center center no-repeat}
.loginContainer i.icon_sms{background:url("../images/member/icon_member_sms.png") center center no-repeat}
.loginContainer i.icon_stuclass{background:url("../images/member/icon_member_stuclass.png") center center no-repeat}
.loginContainer i.icon_stuinfo{background:url("../images/member/icon_member_stuinfo.png") center center no-repeat}
.loginContainer i.icon_stuname{background:url("../images/member/icon_member_stuname.png") center center no-repeat}
.loginContainer .tabSection01{position:relative;left:-39px;margin:20px 0;width:1000px;height:50px;padding:0px 17px;background-color:#f7f7f7;background:url("../images/au/tab_section_bg.png") 0px bottom repeat-x}
.loginContainer .tabSection01 span{display:inline-block;width:314px;height:48px;font-size:16px;font-weight:bold;text-align:center;line-height:48px;color:#000;background-color:#dbe0e8;border:1px solid #cdcdcd;border-top-left-radius:5px;border-top-right-radius:5px;margin:0 2px}
.loginContainer .tabSection01 span.on{background-color:#fff;border-bottom:1px solid #fff}

/* 아이디 비밀번호 찾기 */
.searchInfo .section{border:6px solid #d6d6d6}
.searchInfo .section01{padding:25px 83px}
.searchInfo .section02{padding:20px;width:400px}

/* 약관동의 */
.lawConfirm .section{width:918px;height:238px;border:1px solid #cdcdcd}
.lawConfirm .section .top{width:858px;padding:0 30px;height:48px;border-bottom:1px solid #cdcdcd;background-color:#e3e2e2}
.lawConfirm .section .top .title{font-size:16px;font-weight:bold;line-height:48px;display:inline-block;color:#000}
.lawConfirm .section .top .check{float:right;line-height:48px}
.lawConfirm .section .bot{width:916px;height:187px;padding:1px;overflow-y:scroll}
.lawConfirm .section .bot .title{font-size:16px;font-weight:bold;color:#000;padding:12px 24px}
.lawConfirm .section .bot .subTitle{font-size:14px;font-weight:bold;color:#000;padding:13px 24px}
.lawConfirm .section .bot .conTitle{font-size:14px;line-height:18px;color:#616161;padding:10px 24px 5px}
.lawConfirm .section .bot .content{font-size:13px;line-height:20px;color:#616161;padding:0 24px;margin-bottom:20px}
.lawConfirm .section .bot .content ul li{line-height:20px;}

/* 회원정보입력 */
.userInsert .section{border:1px solid #cdcdcd;padding:30px 60px}

/* 가입신청완료 */
.joinComplete .section{margin:0 auto;display:block;width:520px;overflow:hidden;padding:70px 0}
.joinComplete .section div{float:left}
.joinComplete .section .logo{width:113px}
.joinComplete .section .content{padding:50px 0 0 20px}
.joinComplete .section .content .tit{font-size:28px;color:#56688b;font-weight:900}
.joinComplete .section .content .con{font-size:20px;color:#000;font-weight:900}
.joinComplete .section .content .con span{color:#ec7063}

/* etc */
/* introduce */
.introduce .pbg,
.introduce .top,
.introduce .mid,
.introduce,
.bot,
.opt{padding-left:20px}
.introduce .title{margin-bottom:36px}
.introduce .pbg{margin-bottom:36px;font-size:16px;color:#424242;font-weight:bold}
.introduce .top{margin-bottom:30px;font-size:20px;color:#000}
.introduce .mid{margin-bottom:10px;font-size:16px;color:#424242}
.introduce .bot{margin-bottom:30px;font-size:14px;color:#424242;line-height:24px}
.introduce .opt{margin:10px 0;font-size:13px;color:#424242;line-height:24px}

/* privatePolicy */
.privatePolicy .pbg,
.privatePolicy .top,
.privatePolicy .mid,
.privatePolicy .bot{padding-left:20px}
.privatePolicy .title{margin-bottom:36px}
.privatePolicy .pbg{margin-bottom:36px;font-size:16px;color:#424242;font-weight:bold}
.privatePolicy .top{margin-bottom:30px;font-size:16px;color:#424242;font-weight:bold}
.privatePolicy .bot{margin-bottom:30px;font-size:14px;color:#424242;line-height:24px}

/* lawPolicy */
.lawPolicy .pbg,
.lawPolicy .top,
.lawPolicy .mid,
.lawPolicy .bot,
.lawPolicy .end{padding-left:20px}
.lawPolicy .title{margin-bottom:36px}
.lawPolicy .pbg{margin-bottom:36px;font-size:16px;color:#424242;font-weight:bold}
.lawPolicy .top{margin-bottom:10px;font-size:16px;color:#424242;font-weight:bold}
.lawPolicy .bot{margin-bottom:30px;font-size:14px;color:#424242;line-height:24px}
.lawPolicy .end{margin-top:30px;font-size:16px;color:#424242;font-weight:bold}

/* emailPolicy */
.emailPolicy .pbg,
.emailPolicy .top,
.emailPolicy .mid,
.emailPolicy .bot,
.emailPolicy .imgArea{padding-left:20px}
.emailPolicy .title{margin-bottom:36px}
.emailPolicy .pbg{margin-bottom:36px;font-size:16px;color:#424242;font-weight:bold}
.emailPolicy .imgArea{width:160px;height:160px;marign-right:35px;float:left}
.emailPolicy .top{margin-top:30px;margin-bottom:20px;font-size:16px;color:#424242;font-weight:bold;float:left}
.emailPolicy .bot{font-size:14px;color:#424242;line-height:24px;float:left}

table.memberStyle01{color:#000;text-align:left}
table.memberStyle01 th{height:36px;font-size:16px;font-weight:bold;line-height:36px}
table.memberStyle01 td{padding:6px 0}

table.memberStyle02{color:#000;text-align:left}
table.memberStyle02 th{height:36px;font-size:16px;font-weight:bold;line-height:36px}
table.memberStyle02 td{padding:6px 0}

.loginCT{height:100%}
#content.login{width:400px;height:504px;margin:auto;position:absolute;top:0;left:0;right:0;bottom:0}
#content.login .logo{width:400px;height:280px;margin-top:20px;text-align:center}
#content.login .loginFormTop{position:absolute;z-index:1001}
#content.login .loginFormSection{position:relative;top:4px;padding-top:14px;border:4px solid #dddddd;border-radius:10px}
#content.login .loginFormSection #loginForm{margin-left:30px;margin-top:20px;padding:24px 0 18px 10px;overflow:hidden}
#content.login .loginFormSection #loginForm #loginInputWrap{width:220px;margin-right:10px;float:left}
#content.login .loginFormSection #loginForm #loginInputWrap .loginInputSection{width:220px;height:28px}
#content.login .loginFormSection #loginForm #loginInputWrap .loginInputSection label{display:inline-block;width:57px;height:28px;line-height:28px;font-size:13px;color:#555555;font-weight:bold}
#content.login .loginFormSection #loginForm #loginInputWrap .loginInputSection input{width:153px;height:20px;border:1px solid #d3d3d3}
#content.login .loginFormSection #loginForm #loginInputWrap .idSaveSection{margin-top:4px}
#content.login .loginFormSection #loginForm #loginInputWrap .idSaveSection input[type="checkbox"]{position:relative;top:2px;margin-left:60px}
#content.login .loginFormSection #loginForm #loginBtnWrap{width:83px;height:50px;float:left}
#content.login .loginFormSection #loginForm #loginBtnWrap .btnLogin{width:83px;height:50px;margin-top:3px;color:#fff;border:none;background-color:#00a6e5;font-size:14px}
#content.login .loginFormWrap .idpassSch{text-align:right;padding-right:15px}
#content.login .loginFormWrap .idpassSch a{display:inline-block;font-size:11px;color:#6c6c6c;background-color:#dddddd;padding:12px;border:1px solid #dddddd;border-bottom-left-radius:5px;border-bottom-right-radius:5px}

#content.tchJoinState{color:#000}
#content.tchJoinState .header{font-size:28px;font-weight:bold;margin-bottom:20px;display:inline-block}
#content.tchJoinState .joinPresent{margin-bottom:30px}
#content.tchJoinState .joinPresent .title{width:100%;text-align:center;font-size:20px;font-weight:bold;height:60px;line-height:60px}
#content.tchJoinState .joinStateList{}
#content.tchJoinState .searchWrap{overflow:hidden;padding:15px;border:1px solid #dcdcdc;background-color:#edecec;margin-bottom:20px;margin-bottom:30px;text-align:center}
#content.tchJoinState .searchWrap .section{display:inline-block;margin-right:20px;padding:10px 0}
#content.tchJoinState .searchWrap label{font-size:16px;font-weight:bold;color:#000000;margin-right:10px}
#content.tchJoinState .searchWrap .select{display:inline-block}
#content.tchJoinState .searchWrap .select select{padding-left:10px;padding-right:30px;height:26px;border:1px solid #dcdcdc;-webkit-appearance:none;appearance:none;background:url("../images/bg_select_arrow.png") #fff right center no-repeat}
#content.tchJoinState .searchWrap .select input{padding-left:10px;height:26px;border:1px solid #dcdcdc}
#content.tchJoinState .presentSearch{background-color:#ffffff;}

#content.tchUsrManage{color:#000}
#content.tchUsrManage .header{font-size:28px;font-weight:bold;margin-bottom:20px;display:inline-block}
#content.tchUsrManage .info{font-size:14px;margin-bottom:20px;display:block;color:#424242}
#content.tchUsrManage .usrManageList .title{width:100%;text-align:center;font-size:20px;font-weight:bold;height:60px;line-height:60px}
#content.tchUsrManage .searchWrap{overflow:hidden;padding:15px;border:1px solid #dcdcdc;background-color:#edecec;margin-bottom:20px;margin-bottom:30px;text-align:center}
#content.tchUsrManage .searchWrap .section{display:inline-block;margin-right:20px;padding:10px 0}
#content.tchUsrManage .searchWrap label{font-size:16px;font-weight:bold;color:#000000;margin-right:10px}
#content.tchUsrManage .searchWrap .select{display:inline-block;margin-right:10px}
#content.tchUsrManage .searchWrap .select select{padding-left:10px;padding-right:30px;height:26px;border:1px solid #dcdcdc;-webkit-appearance:none;appearance:none;background:url("../images/bg_select_arrow.png") #fff right center no-repeat}
#content.tchUsrManage .searchWrap .select input{padding-left:10px;height:26px;border:1px solid #dcdcdc}
#content.tchUsrManage .presentSearch{background-color:#ffffff;}

#content.tchInfo .header{font-size:28px;font-weight:bold;margin-bottom:20px;display:inline-block}
#content.tchInfo .container{padding:25px 90px;border-top:2px solid #b5b5b5;border-bottom:2px solid #b5b5b5}
#content.tchInfo .footer{width:100%;padding:20px 0;text-align:center}

/* sub_student */
.studentContainer{background:url("../images/bg_student.png") top center no-repeat}

#content.choice{padding:40px 70px;width:860px}
#content.choice .section{margin:20px;width:390px;height:auto;text-align:center;float:left}
#content.choice .section .choiceImg{width:390px;height:390px}
#content.choice .section .choiceText{width:390px;font-size:16px;line-height:20px;color:#737373;font-weight:600;padding:20px 0;display:inline-block}
#content.choice .section .choiceLink{width:390px;height:50px;display:table-cell;vertical-align:middle}
#content.choice .section .choiceLink a{width:250px;height:50px;display:inline-block;font-size:18px;line-height:46px;color:#fff;font-weight:600;background:url("../images/user/choice_btn.png") #7e99a2 220px center no-repeat}

#content.survey{}
#content.survey .section_top{position:relative;width:1000px;height:460px;margin-bottom:30px}
#content.survey .section_top .title{position:absolute;top:45px;height:78px;width:540px;font-size:34px;font-weight:600;line-height:78px;color:#fff;letter-spacing:-1.5px}
#content.survey .section_top .info{position:absolute;right:0px;top:120px;padding:16px 0 16px 20px;font-size:14px;line-height:24px;color:#fff;background:url("../images/au/survey_top_info_bg.png") repeat}
#content.survey .section_bot{position:relative}

#content.survey.auSurvey .section_top{background:url("../images/au/au_survey_top_bg.jpg") no-repeat}
#content.survey.auSurvey .section_top .title{left:480px}
#content.survey.auSurvey .section_top .info{height:218px;width:520px;letter-spacing:-0.2px}

#content.survey.selfSurvey .section_top{background:url("../images/self/self_survey_top_bg.jpg") no-repeat}
#content.survey.selfSurvey .section_top .title{left:505px}
#content.survey.selfSurvey .section_top .info{height:170px;width:500px;letter-spacing:-0.2px}

#content.surveyCheck{width:1000px;height:auto;position:relative;background:#fff}
#content.surveyCheck .section_top{width:1000px;height:23px;position:absolute;top:0px;left:0px}
#content.surveyCheck .section{height:auto;position:relative;margin-top:5px;padding:35px 40px 20px 37px;border:1px solid #dcdcdc;border-radius:10px}
#content.surveyCheck .section .info{display:inline-block;margin-bottom:10px}
#content.surveyCheck .section .info .title{font-size:28px;color:#000;letter-spacing:-0.4px;font-weight:600;margin-bottom:16px}
#content.surveyCheck .section .info .infoText{font-size:14px;color:#424242;letter-spacing:-0.4px}
#content.surveyCheck .section .clock{float:right;position:relative;top:18px;width:145px;height:55px;padding-left:53px;background:url("../images/au/clock.png") 8px 11px no-repeat;border:1px solid #dcdcdc;border-bottom:none;border-top-left-radius:5px;border-top-right-radius:5px}
#content.surveyCheck .section .clock span{display:block;float:left;line-height:55px;font-size:14px;color:#969696;letter-spacing:-0.4px}
#content.surveyCheck .section .clock p{display:inline;line-height:55px;font-size:24px;color:#ff9c00;letter-spacing:-0.4px;font-weight:600}
#content.surveyCheck .section .scalePaging{margin-top:20px}
#content.surveyCheck .section .scalePaging ul{width:170px;margin:0 auto}
#content.surveyCheck .section .scalePaging ul li{float:left;width:34px;height:24px;background:url("../images/au/paging_brg.png") right center no-repeat}
#content.surveyCheck .section .scalePaging ul li span{display:inline-block;width:24px;height:24px;background:url("../images/au/paging.png") no-repeat;text-align:center;line-height:24px}
#content.surveyCheck .section .scalePaging ul li.on span{background:url("../images/au/paging_on.png") no-repeat;color:#fff}
#content.surveyCheck .section .scalePaging ul li:last-child{float:left;display:inline-block;width:24px;height:24px;background:none}
#content.surveyCheck .section .scalePaging ul li:last-child span{background:url("../images/au/paging.png") no-repeat;text-align:center;line-height:24px}
#content.surveyCheck .section .scalePaging ul li:last-child.on span{background:url("../images/au/paging_on.png") no-repeat}
#content.surveyCheck .section .scalePaging .next{margin-left:10px}
#content.surveyCheck .section_bot{width:990px;height:80px;text-align:right;padding-right:10px}
#content.surveyCheck .section_bot span{margin-left:2px}
#content.surveyCheck .section_bot span a{height:40px;line-height:40px}
#content.surveyCheck .ts_bubble{left:-270px;top:-3px;width:216px;height:44px;display:none}

#content.surveyResult{width:1000px;height:auto;margin-top:20px;padding-top:33px;position:relative;border:1px solid #dcdcdc;background:url("../images/au/result_top_bg.png") #fff repeat-x}
#content.surveyResult > .header{height:40px;padding:20px;background-color:#56688b}
#content.surveyResult .header .title{display:inline-block;font-size:28px;font-weight:bold;color:#fff;margin-top:3px}
#content.surveyResult .header .btnArea{display:none/*inline-block*/;float:right}
#content.surveyResult .header .btnArea .resultHome{display:inline-block;font-size:14px;color:#fff;line-height:18px;width:110px;height:40px;padding-left:50px;background:url("../images/au/result_resulthome.png") no-repeat}
#content.surveyResult .header .btnArea .download{display:inline-block;font-size:14px;color:#fff;line-height:18px;width:110px;height:40px;padding-left:50px;background:url("../images/au/result_download.png") no-repeat}
#content.surveyResult .info{padding:20px 19px;display:inline-block;border-bottom:1px solid #dcdcdc;background-color:#f7f7f7}
#content.surveyResult .info span{border:1px solid #56688b;border-right:none;background-color:#dbe0e8;display:inline-block;float:left;font-size:16px;font-weight:bold;width:159px;height:58px;text-align:center;line-height:58px}
#content.surveyResult .info .header{}
#content.surveyResult .info .content{background-color:#fff}
#content.surveyResult .info .content:last-child{border-right:1px solid #56688b}
#content.surveyResult .section{}
#content.surveyResult .section.section01{width:299px;height:247px;float:left;padding:10px 19px 0 19px}
#content.surveyResult .section.section01 .title,
#content.surveyResult .section.section02 .title,
#content.surveyResult .section.section05 .title,
#content.surveyResult .section.section06 .title{display:inline-block;font-size:20px;font-weight:bold;color:#56688b;line-height:59px;text-indent:22px}
#content.surveyResult .section.section02{width:597px;height:247px;float:left;padding:10px 0 0 45px}
#content.surveyResult .section.section03{width:500px;height:188px;float:left;padding:30px 0 0 19px}
#content.surveyResult .section.section04{width:440px;height:188px;float:left;padding:30px 0 0 15px}
#content.surveyResult .section.section05{width:439px;height:381px;float:left;padding:19px 0 0 19px}
#content.surveyResult .section.section06{width:501px;height:381px;float:left;padding:19px 0 0 20px}
#content.surveyResult .section.section07{width:1000px;height:77px;float:left;padding:7px 0 0 0px;text-align:center}
#content.surveyResult .section.section07 span{line-height:77px;color:#56688b;font-weight:bold;font-size:14px}
#content.surveyResult .section.section08{width:1000px;height:46px;float:left;text-align:center}
#content.surveyResult .section.section08 span{display:inline-block;height:46px}
#content.surveyResult .botBg{width:1000px;height:30px;padding-top:40px;float:left;background:url("../images/au/result_bot_bg.png") 0 bottom repeat-x}

#content.surveyMoreResult{width:1000px;height:auto;margin-top:20px;padding-top:33px;position:relative;border:1px solid #dcdcdc;background:url("../images/au/result_top_bg.png") #fff repeat-x}
#content.surveyMoreResult .botBg{width:1000px;height:30px;padding-top:40px;float:left;background:url("../images/au/result_bot_bg.png") 0 bottom repeat-x}
#content.surveyMoreResult > .header{height:40px;padding:20px;background-color:#56688b}
#content.surveyMoreResult .header .title{display:inline-block;font-size:28px;font-weight:bold;color:#fff}
#content.surveyMoreResult .header .btnArea a:nth-child(2){/*display:none*/}
#content.surveyMoreResult .header .btnArea{display:inline-block;float:right}
#content.surveyMoreResult .header .btnArea .resultHome{display:inline-block;font-size:14px;color:#fff;line-height:18px;width:110px;height:40px;padding-left:50px;background:url("../images/au/result_resulthome.png") no-repeat}
#content.surveyMoreResult .header .btnArea .download{display:inline-block;font-size:14px;color:#fff;line-height:18px;width:110px;height:40px;padding-left:50px;background:url("../images/au/result_download.png") no-repeat}
#content.surveyMoreResult > .info{padding:20px 19px;height:60px;background-color:#f7f7f7}
#content.surveyMoreResult .info span{border:1px solid #56688b;border-right:none;background-color:#dbe0e8;display:inline-block;float:left;font-size:16px;font-weight:bold;width:159px;height:58px;text-align:center;line-height:58px}
#content.surveyMoreResult .info .header{}
#content.surveyMoreResult .info .content{background-color:#fff}
#content.surveyMoreResult .info .content:last-child{border-right:1px solid #56688b}
#content.surveyMoreResult .tabSection01{width:1000px;height:50px;padding:0px 17px;background:#f7f7f7 url("../images/au/tab_section_bg.png") repeat-x 0px bottom}
#content.surveyMoreResult .tabSection01 span{display:inline-block;width:314px;height:48px;font-size:16px;font-weight:bold;text-align:center;line-height:48px;color:#000;background-color:#dbe0e8;border:1px solid #cdcdcd;border-top-left-radius:5px;border-top-right-radius:5px;margin:0 2px}
#content.surveyMoreResult .tabSection01 span.on{background-color:#fff;border-bottom:1px solid #fff}
#content.surveyMoreResult .sectionWrap{padding:20px 19px}
#content.surveyMoreResult .sectionWrap .tabSection02{width:100%;height:50px;background:url("../images/au/tab_section_bg.png") 0px bottom repeat-x}
#content.surveyMoreResult .sectionWrap .tabSection02 a{margin:0 3px;float:left}
#content.surveyMoreResult .sectionWrap .tabSection02 span{display:inline-block;width:234px;height:48px;font-size:16px;font-weight:bold;text-align:center;line-height:48px;color:#000;background-color:#e3e2e2;border:1px solid #cdcdcd;border-top-left-radius:5px;border-top-right-radius:5px}
#content.surveyMoreResult .sectionWrap .tabSection02 span.on{background-color:#fff;border-bottom:1px solid #fff}
#content.surveyMoreResult .sectionWrap .tabSection02 a:first-child{margin-left:0px}
#content.surveyMoreResult .sectionWrap .tabSection02 a:last-child{margin-right:0px}
#content.surveyMoreResult .sectionWrap .tabInfo{clear:both;padding:24px 30px;border:1px solid #d7d7d7;border-top:0px;margin-bottom:20px}
#content.surveyMoreResult .sectionWrap .tabInfo .title{display:block;font-size:20px;font-weight:bold;color:#56688b;line-height:49px}
#content.surveyMoreResult .sectionWrap .tabInfo .content{font-size:14px;color:#424242;line-height:24px}

#content.surveyMoreResultSummary .sectionWrap .section01{padding:30px;border:1px solid #d7d7d7;margin-bottom:20px}
#content.surveyMoreResultSummary .sectionWrap .section01 .title{display:block;font-size:20px;font-weight:bold;color:#56688b;line-height:49px}
#content.surveyMoreResultSummary .sectionWrap .section01 ul li{font-size:14px;color:#424242;line-height:24px;font-weight:bold}
#content.surveyMoreResultSummary .sectionWrap .section01 ul li span{font-size:13px;color:#01aeeb}
#content.surveyMoreResultSummary .sectionWrap .section02{width:418px;height:188px;float:left;margin-right:42px}
#content.surveyMoreResultSummary .sectionWrap .section03{width:500px;height:188px;float:left}
#content.surveyMoreResultSummary .sectionWrap .section04{width:100%;margin-top:20px;float:left}

#content.surveyMoreResultAnalysL .sectionWrap .section01{margin-bottom:30px}
#content.surveyMoreResultAnalysL .sectionWrap .section01 .title{display:block;font-size:20px;font-weight:bold;color:#56688b;line-height:49px;text-indent:30px}
#content.surveyMoreResultAnalysL .sectionWrap .section02{border:6px solid #dbe0e8;padding:24px 54px;overflow:hidden}
#content.surveyMoreResultAnalysL .sectionWrap .section02 .title{margin-bottom:10px;width:80px;float:left}
#content.surveyMoreResultAnalysL .sectionWrap .section02 .title span{display:inline-block;color:#fff;width:80px;height:30px;line-height:30px;font-size:14px;text-align:center;background-color:#56688b}
#content.surveyMoreResultAnalysL .sectionWrap .section02 .content{margin-bottom:10px;margin-left:10px;width:700px;height:30px;float:left}
#content.surveyMoreResultAnalysL .sectionWrap .section02 .content ul li{display:inline-block;height:30px;line-height:30px}
#content.surveyMoreResultAnalysL .sectionWrap .section02 .content li:nth-child(2){line-height:10px;color:#7d9ba6}
#content.surveyMoreResultAnalysL .sectionWrap .section02 .analysLChart{float:left;width:100%;text-align:center;margin-top:25px;margin-bottom:20px}
#content.surveyMoreResultAnalysL .sectionWrap .section02 .info{float:left;width:100%;text-align:center;color:#7d9ba6}
#content.surveyMoreResultAnalysL .sectionWrap .section03{position:relative}
#content.surveyMoreResultAnalysL .sectionWrap .section03 .title{display:block;font-size:20px;font-weight:bold;color:#56688b;line-height:49px;text-indent:30px}
#content.surveyMoreResultAnalysL .sectionWrap .section03 .saBtn{display:inline-block;position:absolute;right:0px;top:9px}

#content.surveyMoreResultAnalysM .sectionWrap .section01{width:470px;height:350px;float:left}
#content.surveyMoreResultAnalysM .sectionWrap .section01 .title{display:block;font-size:20px;font-weight:bold;color:#56688b;line-height:49px;text-indent:30px}
#content.surveyMoreResultAnalysM .sectionWrap .section01 .content{width:468px;height:284px;border:1px solid #d7d7d7;background:url("../images/au/chart_triangle_bg.png") no-repeat}
#content.surveyMoreResultAnalysM .sectionWrap .section01 .content svg{margin:34px 0 0 124px}/*border:1px solid #000;*/
#content.surveyMoreResultAnalysM .sectionWrap .section01 .content svg path{border:5px solid blue}
#content.surveyMoreResultAnalysM .sectionWrap .section02{width:468px;height:350px;float:left;margin-left:20px}
#content.surveyMoreResultAnalysM .sectionWrap .section02 .title{display:block;font-size:20px;font-weight:bold;color:#56688b;line-height:49px;text-indent:30px}
#content.surveyMoreResultAnalysM .sectionWrap .section02 table:nth-child(2){margin-bottom:20px}
#content.surveyMoreResultAnalysM .sectionWrap .section02 .info{display:inline-block;color:#7d9ba6;text-indent:20px;margin-top:10px}
#content.surveyMoreResultAnalysM .sectionWrap .section03{float:left;width:100%;position:relative}
#content.surveyMoreResultAnalysM .sectionWrap .section03 .title{display:inline-block;font-size:20px;font-weight:bold;color:#56688b;line-height:49px;text-indent:30px}
#content.surveyMoreResultAnalysM .sectionWrap .section03 .saBtn{display:inline-block;position:absolute;right:0px;top:9px}

#content.surveyMoreResultTrust .sectionWrap .section01{padding:30px;border:1px solid #d7d7d7;margin-bottom:20px}
#content.surveyMoreResultTrust .sectionWrap .section01 .title{display:block;font-size:20px;font-weight:bold;color:#56688b;line-height:49px}
#content.surveyMoreResultTrust .sectionWrap .section01 ul li{font-size:14px;color:#424242;line-height:24px;font-weight:bold}
#content.surveyMoreResultTrust .sectionWrap .section01 ul li span{font-size:13px;color:#01aeeb}
#content.surveyMoreResultTrust .sectionWrap .section02{margin-bottom:30px}

#content.surveyMoreResultAnalys .sectionWrap .section01{width:100%}
#content.surveyMoreResultAnalys .sectionWrap .section01 > .title{display:block;font-size:20px;font-weight:bold;color:#56688b;line-height:49px;text-indent:30px}
#content.surveyMoreResultAnalys .sectionWrap .section02{border:1px solid #d7d7d7;padding:10px 30px 30px 30px;margin-bottom:20px}
#content.surveyMoreResultAnalys .sectionWrap .section02 > .title{display:block;font-size:20px;font-weight:bold;color:#56688b;line-height:32px}
#content.surveyMoreResultAnalys .sectionWrap .section02 > .content{display:inline-block;padding:5px 10px;min-width:78px;font-size:16px;text-align:center;color:#fff;margin-top:10px;margin-right:7px;border:1px solid #339cde;border-radius:15px;background-color:#339cde}
#content.surveyMoreResultAnalys .sectionWrap .section02 > .info{display:block;clear:both;margin-top:30px;color:#7d9ba6}
#content.surveyMoreResultAnalys .sectionWrap .section03 > .title{display:block;font-size:20px;font-weight:bold;color:#56688b;line-height:49px;text-indent:30px}
#content.surveyMoreResultAnalys .sectionWrap .section03 > .subSection01{width:100%;height:59px;line-height:59px;border:1px solid #d7d7d7;font-size:18px;color:#424242;font-weight:bold;text-indent:30px}
#content.surveyMoreResultAnalys .sectionWrap .section03 > .subSection02{width:100%;border:1px solid #d7d7d7;overflow:hidden}
#content.surveyMoreResultAnalys .sectionWrap .section03 > .subSection02 .tableSection{margin:0 50px 20px 30px;width:350px;float:left}
#content.surveyMoreResultAnalys .sectionWrap .section03 > .subSection02 .tableSection .title{display:block;font-size:20px;font-weight:bold;color:#56688b;line-height:49px}
#content.surveyMoreResultAnalys .sectionWrap .section03 > .subSection02 .chartSection{width:500px;margin-top:49px;float:left}
#content.surveyMoreResultAnalys .sectionWrap .section03 > .subSection02 .chartSection .chartBar,
#content.surveyMoreResultAnalys .sectionWrap .section03 > .subSection02 .chartSection .chartBar2{width:470px;height:240px;background:url("../images/au/chart_bar_bg.png") no-repeat}
#content.surveyMoreResultAnalys .sectionWrap .section03 > .subSection02 .chartSection .chartBar text,
#content.surveyMoreResultAnalys .sectionWrap .section03 > .subSection02 .chartSection .chartBar2 text{font-weight:bold}

#content.surveyMoreResultAnalys .sectionWrap .section03 > .subSection02 .chartSection .chartBar2{padding-left:40px;padding-top:10px}
#content.surveyMoreResultAnalys .sectionWrap .section03 > .subSection02 .chartSection .chartBar2 .barWrap{width:84px;height:199px;position:relative;display:inline-block;}
#content.surveyMoreResultAnalys .sectionWrap .section03 > .subSection02 .chartSection .chartBar2 .barWrap .bar{position:absolute;bottom:0px;left:22px;width:40px;}
#content.surveyMoreResultAnalys .sectionWrap .section03 > .subSection02 .chartSection .chartBar2 .barWrap .text{position:absolute;bottom:-25px;text-align:center;width:84px}

#content.surveyMoreResultMajAnalys .sectionWrap .section01{width:100%}
#content.surveyMoreResultMajAnalys .sectionWrap .section01 > .title{display:block;font-size:20px;font-weight:bold;color:#56688b;line-height:49px;text-indent:30px}
#content.surveyMoreResultMajAnalys .sectionWrap .section01 .tableSection{margin-bottom:20px}

#content.cloneResultInfo .sectionWrap .section01{padding:30px;border:1px solid #d7d7d7;margin-bottom:20px}
#content.cloneResultInfo .sectionWrap .section01 .title{display:block;font-size:20px;font-weight:bold;color:#56688b;line-height:49px}
#content.cloneResultInfo .sectionWrap .section01 ul li{font-size:14px;color:#424242;line-height:24px;font-weight:bold}
#content.cloneResultInfo .sectionWrap .section01 ul li span{font-size:13px;color:#01aeeb}

#content.cloneUnivInfo .sectionWrap .section01 > .title{display:block;font-size:20px;font-weight:bold;color:#56688b;line-height:49px;text-indent:30px}
#content.cloneUnivInfo .sectionWrap .section01 .tableSection{margin-bottom:20px}
#content.cloneUnivInfo .sectionWrap .section02 > .title{display:block;font-size:20px;font-weight:bold;color:#56688b;line-height:49px;text-indent:30px}
#content.cloneUnivInfo .sectionWrap .section02 .tableSection{margin-bottom:20px}

#content.cloneJoinInfo .sectionWrap .section01 > .title{display:block;font-size:20px;font-weight:bold;color:#56688b;line-height:49px;text-indent:30px}
#content.cloneJoinInfo .sectionWrap .section01 .tableSection{margin-bottom:20px}
#content.cloneJoinInfo .sectionWrap .section01 .info{padding-left:30px;color:#7d9ba6}
#content.cloneJoinInfo .sectionWrap .section02{width:459px;float:left}
#content.cloneJoinInfo .sectionWrap .section02 > .title{display:block;font-size:20px;font-weight:bold;color:#56688b;line-height:49px;text-indent:30px}
#content.cloneJoinInfo .sectionWrap .section03{clear:both}
#content.cloneJoinInfo .sectionWrap .section03 > .title{display:block;font-size:20px;font-weight:bold;color:#56688b;line-height:49px;text-indent:30px}
#content.cloneJoinInfo .sectionWrap .section03 .tableSection{margin-bottom:20px}
#content.cloneJoinInfo .sectionWrap .section03 .info{padding-left:30px;color:#7d9ba6}



table.tTchInfo{border-collapse:collapse;width:100%;border:0px;font-size:16px;font-weight:bold;color:#000;text-align:center}
table.tTchInfo tr.pT30 th,
table.tTchInfo tr.pT30 td{padding-top:30px}
table.tTchInfo th{height:46px;vertical-align:top}
table.tTchInfo th i{margin-right:10px}
table.tTchInfo th span{display:block;float:left;width:168px;height:33px;line-height:33px;text-align:left}
table.tTchInfo td{height:46px}
table.tTchInfo td:nth-child(3){font-weight:600;font-size:14px}
table.tTchInfo td ul{width:100%}
table.tTchInfo td ul li{width:100%;height:33px;line-height:33px;text-align:left;text-indent:18px;background:url("../images/member/icon_member_input_bg.png") bottom left no-repeat;border-bottom:1px solid #b4b4b4;margin-top:7px}
table.tTchInfo td ul li span.status{font-weight:normal;font-size:14px}
table.tTchInfo td ul li span.status.ok{color:#839ab5}
table.tTchInfo td ul li span.status.no{color:#adadad}
table.tTchInfo td ul li span.status.ready{color:#ec7063}
table.tTchInfo td input{width:298px;height:34px;border:1px solid #b4b4b4}
table.tTchInfo td .btnArea{float:right;display:inline-block;padding-top:4px;line-height:0}
table.tTchInfo td .saBtn{text-indent:0;text-align:right}
table.tTchInfo td .saBtn a{font-weight:normal}
table.tTchInfo th i{display:block;float:left;width:26px;height:30px;background-position:center center;background-repeat:no-repeat}
table.tTchInfo th i.icon_tchName{background:url("../images/member/icon_member_name.png")}
table.tTchInfo th i.icon_tchId{background:url("../images/member/icon_member_id.png")}
table.tTchInfo th i.icon_tchPass{background:url("../images/member/icon_member_nowpass.png")}
table.tTchInfo th i.icon_tchRepassCheck{background:url("../images/member/icon_member_repasscheck.png")}
table.tTchInfo th i.icon_tchNextClass{background:url("../images/member/icon_member_nextclass.png")}
table.tTchInfo th i.icon_tchRepass{background:url("../images/member/icon_member_repass.png")}
table.tTchInfo th i.icon_tchSchool{background:url("../images/member/icon_member_school.png")}
table.tTchInfo th i.icon_tchNowClass{background:url("../images/member/icon_member_class.png")}

table.tJoinPresent{border-collapse:collapse;width:100%;border:0px;font-size:16px;color:#000;text-align:center}
table.tJoinPresent tbody th{color:#fff;font-weight:normal;background-color:#ffad01;height:80px;border-bottom:1px solid #ffad01;border-top:1px solid #ffad01;font-weight:bold}
table.tJoinPresent tbody td{height:40px;border-bottom:1px solid #dcdcdc;border-top:1px solid #dcdcdc;font-weight:bold}
table.tJoinPresent tbody td.sky{color:#fff;background-color:#339cde;border-bottom:1px solid #339cde;border-top:1px solid #339cde}
table.tJoinPresent tbody td.blue{color:#fff;background-color:#297db2;border-bottom:1px solid #297db2;border-top:1px solid #297db2}

table.tJoinStateList{border-collapse:collapse;width:100%;border:0px;font-size:14px;color:#000;text-align:center}
table.tJoinStateList thead th{border-top:2px solid #b5b5b5;border-bottom:2px solid #b5b5b5;height:58px;font-weight:bold}
table.tJoinStateList tbody td{height:38px;border-bottom:1px solid #dcdcdc}
table.tJoinStateList tbody td:nth-child(1){color:#737373}
table.tJoinStateList tbody td .saBtn{}

table.tUsrManageList{border-collapse:collapse;width:100%;border:0px;font-size:14px;color:#000;text-align:center}
table.tUsrManageList thead th{border-top:2px solid #b5b5b5;border-bottom:2px solid #b5b5b5;height:58px;font-weight:bold}
table.tUsrManageList tbody td{height:38px;border-bottom:1px solid #dcdcdc}
table.tUsrManageList tbody td .saBtn:first-child{margin-right:7px}
table.tUsrManageList tbody td:nth-child(1){color:#737373}

table.tResultAnalysTend{border-collapse:collapse;width:100%;border:0px;font-size:14px;color:#424242;text-align:center}
table.tResultAnalysTend th,
table.tResultAnalysTend td{border:1px solid #d7d7d7}
table.tResultAnalysTend th{padding:19px 17px;vertical-align:top}
table.tResultAnalysTend th .iconTitle{display:inline-block;width:146px;height:38px;line-height:38px;background-color:#d9edf4;font-weight:bold;color:#000;border:1px solid #d7d7d7}
table.tResultAnalysTend th .iconWrap{display:inline-block;width:146px;height:147px;border:1px solid #d7d7d7}
table.tResultAnalysTend th .iconSubject{display:inline-block;width:146px;height:41px;color:#000;font-size:18px;font-weight:bold}
table.tResultAnalysTend th i{display:inline-block;width:80px;height:80px;margin:13px 0;border:4px solid #ebebeb;border-radius:50px}
table.tResultAnalysTend th i.hand{background:url("../images/au/result_status_hand.png") center center no-repeat}
table.tResultAnalysTend th i.heart{background:url("../images/au/result_status_heart.png") center center no-repeat}
table.tResultAnalysTend th i.clock{background:url("../images/au/result_status_clock.png") center center no-repeat}
/* 5가지 학업성향 분석*/
table.tResultAnalysTend th i.pps01{background:url("../images/au/icon/icon_01_01.png") center center no-repeat}
table.tResultAnalysTend th i.pps02{background:url("../images/au/icon/icon_01_02.png") center center no-repeat}
table.tResultAnalysTend th i.pps03{background:url("../images/au/icon/icon_01_03.png") center center no-repeat}
table.tResultAnalysTend th i.pps04{background:url("../images/au/icon/icon_01_04.png") center center no-repeat}
table.tResultAnalysTend th i.pps05{background:url("../images/au/icon/icon_01_05.png") center center no-repeat}

/* 46개 학과 */
table.tResultAnalysTend th i.maj_01{background:url("../images/au/icon/icon_04_01.png") center center no-repeat}
table.tResultAnalysTend th i.maj_02{background:url("../images/au/icon/icon_04_02.png") center center no-repeat}
table.tResultAnalysTend th i.maj_03{background:url("../images/au/icon/icon_04_03.png") center center no-repeat}
table.tResultAnalysTend th i.maj_04{background:url("../images/au/icon/icon_04_04.png") center center no-repeat}
table.tResultAnalysTend th i.maj_05{background:url("../images/au/icon/icon_04_05.png") center center no-repeat}
table.tResultAnalysTend th i.maj_06{background:url("../images/au/icon/icon_04_06.png") center center no-repeat}
table.tResultAnalysTend th i.maj_07{background:url("../images/au/icon/icon_04_07.png") center center no-repeat}
table.tResultAnalysTend th i.maj_08{background:url("../images/au/icon/icon_04_08.png") center center no-repeat}
table.tResultAnalysTend th i.maj_09{background:url("../images/au/icon/icon_04_09.png") center center no-repeat}
table.tResultAnalysTend th i.maj_10{background:url("../images/au/icon/icon_04_10.png") center center no-repeat}
table.tResultAnalysTend th i.maj_11{background:url("../images/au/icon/icon_04_11.png") center center no-repeat}
table.tResultAnalysTend th i.maj_12{background:url("../images/au/icon/icon_04_12.png") center center no-repeat}
table.tResultAnalysTend th i.maj_13{background:url("../images/au/icon/icon_04_13.png") center center no-repeat}
table.tResultAnalysTend th i.maj_14{background:url("../images/au/icon/icon_04_14.png") center center no-repeat}
table.tResultAnalysTend th i.maj_15{background:url("../images/au/icon/icon_04_15.png") center center no-repeat}
table.tResultAnalysTend th i.maj_16{background:url("../images/au/icon/icon_04_16.png") center center no-repeat}
table.tResultAnalysTend th i.maj_17{background:url("../images/au/icon/icon_04_17.png") center center no-repeat}
table.tResultAnalysTend th i.maj_18{background:url("../images/au/icon/icon_04_18.png") center center no-repeat}
table.tResultAnalysTend th i.maj_19{background:url("../images/au/icon/icon_04_19.png") center center no-repeat}
table.tResultAnalysTend th i.maj_20{background:url("../images/au/icon/icon_04_20.png") center center no-repeat}
table.tResultAnalysTend th i.maj_21{background:url("../images/au/icon/icon_04_21.png") center center no-repeat}
table.tResultAnalysTend th i.maj_22{background:url("../images/au/icon/icon_04_22.png") center center no-repeat}
table.tResultAnalysTend th i.maj_23{background:url("../images/au/icon/icon_04_23.png") center center no-repeat}
table.tResultAnalysTend th i.maj_24{background:url("../images/au/icon/icon_04_24.png") center center no-repeat}
table.tResultAnalysTend th i.maj_25{background:url("../images/au/icon/icon_04_25.png") center center no-repeat}
table.tResultAnalysTend th i.maj_26{background:url("../images/au/icon/icon_04_26.png") center center no-repeat}
table.tResultAnalysTend th i.maj_27{background:url("../images/au/icon/icon_04_27.png") center center no-repeat}
table.tResultAnalysTend th i.maj_28{background:url("../images/au/icon/icon_04_28.png") center center no-repeat}
table.tResultAnalysTend th i.maj_29{background:url("../images/au/icon/icon_04_29.png") center center no-repeat}
table.tResultAnalysTend th i.maj_30{background:url("../images/au/icon/icon_04_30.png") center center no-repeat}
table.tResultAnalysTend th i.maj_31{background:url("../images/au/icon/icon_04_31.png") center center no-repeat}
table.tResultAnalysTend th i.maj_32{background:url("../images/au/icon/icon_04_32.png") center center no-repeat}
table.tResultAnalysTend th i.maj_33{background:url("../images/au/icon/icon_04_33.png") center center no-repeat}
table.tResultAnalysTend th i.maj_34{background:url("../images/au/icon/icon_04_34.png") center center no-repeat}
table.tResultAnalysTend th i.maj_35{background:url("../images/au/icon/icon_04_35.png") center center no-repeat}
table.tResultAnalysTend th i.maj_36{background:url("../images/au/icon/icon_04_36.png") center center no-repeat}
table.tResultAnalysTend th i.maj_37{background:url("../images/au/icon/icon_04_37.png") center center no-repeat}
table.tResultAnalysTend th i.maj_38{background:url("../images/au/icon/icon_04_38.png") center center no-repeat}
table.tResultAnalysTend th i.maj_39{background:url("../images/au/icon/icon_04_39.png") center center no-repeat}
table.tResultAnalysTend th i.maj_40{background:url("../images/au/icon/icon_04_40.png") center center no-repeat}
table.tResultAnalysTend th i.maj_41{background:url("../images/au/icon/icon_04_41.png") center center no-repeat}
table.tResultAnalysTend th i.maj_42{background:url("../images/au/icon/icon_04_42.png") center center no-repeat}
table.tResultAnalysTend th i.maj_43{background:url("../images/au/icon/icon_04_43.png") center center no-repeat}
table.tResultAnalysTend th i.maj_44{background:url("../images/au/icon/icon_04_44.png") center center no-repeat}
table.tResultAnalysTend th i.maj_45{background:url("../images/au/icon/icon_04_45.png") center center no-repeat}
table.tResultAnalysTend th i.maj_46{background:url("../images/au/icon/icon_04_46.png") center center no-repeat}

table.tResultAnalysTend th i.sky{background-color:#339cde}
table.tResultAnalysTend th i.blue{background-color:#56688b}
table.tResultAnalysTend th i.red{background-color:#c76161}
table.tResultAnalysTend tbody td{padding:30px;text-align:left}
table.tResultAnalysTend td.titleSec{padding:20px 22px}
table.tResultAnalysTend td p{font-size:18px;color:#424242;font-weight:bold}
table.tResultAnalysTend td .title{display:block;color:#fff;font-weight:bold;height:30px;line-height:30px;background-color:#56688b;text-align:center;clear:both}
table.tResultAnalysTend td .content{display:block;padding-top:5px;line-height:25px}

table.tAuGuide{border-collapse:collapse;width:100%;border:0px;font-size:14px;color:#424242;text-align:center}
table.tAuGuide td{border:1px solid #d7d7d7}
table.tAuGuide tbody td{padding:30px;text-align:left}
table.tAuGuide td .title{display:block;color:#fff;font-weight:bold;padding:0 15px;height:30px;line-height:30px;background-color:#56688b;text-align:center;clear:both;float:left}
table.tAuGuide td .subTitle{clear:both;display:block;color:#339cde;font-size:16px;padding-top:20px;font-weight:900}
table.tAuGuide td .content{display:block;float:left;padding-top:20px}

table.tUnivInfoClone{border-collapse:collapse;width:100%;border:0px;font-size:14px;color:#000;text-align:center}
table.tUnivInfoClone th,
table.tUnivInfoClone td{border:1px solid #d7d7d7}
table.tUnivInfoClone th{font-weight:600;background-color:#e9edef}
table.tUnivInfoClone th.info{font-size:20px;font-weight:900;color:#fff;background-color:#3266a5}
table.tUnivInfoClone td{padding:12px 20px;text-align:left;font-weight:600}

table.tUnivInfoTerm{border-collapse:collapse;width:100%;border:0px;font-size:14px;color:#424242;text-align:center}
table.tUnivInfoTerm th,
table.tUnivInfoTerm td{border:1px solid #d7d7d7}
table.tUnivInfoTerm th{color:#000;font-weight:600;background-color:#e3e2e2}
table.tUnivInfoTerm td{padding:8px 20px;line-height:24px;text-align:left}

table.tJoinInfoChart{border-collapse:collapse;width:100%;border:0px;font-size:14px;color:#000;text-align:center}
table.tJoinInfoChart th,
table.tJoinInfoChart td{border:1px solid #d7d7d7}
table.tJoinInfoChart thead th{height:39px;font-weight:bold;background-color:#f3f9ff}
table.tJoinInfoChart thead td{text-indent:20px;text-align:left}
table.tJoinInfoChart tbody td{height:280px;padding-left:250px;border-top:none}
table.tJoinInfoChart tbody td .chart_pie_title{display:block;margin:20px 0 10px 0;text-align:left;font-size:14px;font-weight:bold}
table.tJoinInfoChart tbody td svg{display:block;float:left;margin-left:60px}
table.tJoinInfoChart tbody td svg text{color:#737373;font-size:10px}
table.tJoinInfoChart tbody td ul{display:block;float:left;width:160px;text-align:left;padding:30px 0 0 40px}
table.tJoinInfoChart tbody td ul li{display:block;width:200px;height:30px}
table.tJoinInfoChart tbody td ul li *{vertical-align:middle}
table.tJoinInfoChart tbody td ul li i{width:14px;height:14px;display:inline-block}
table.tJoinInfoChart tbody td ul li i.color_tag_00dab9{background-color:#00dab9}
table.tJoinInfoChart tbody td ul li i.color_tag_e44296{background-color:#e44296}
table.tJoinInfoChart tbody td ul li i.color_tag_507ff4{background-color:#507ff4}
table.tJoinInfoChart tbody td ul li i.color_tag_ffae00{background-color:#ffae00}
table.tJoinInfoChart tbody td ul li i.color_tag_5C1B1B{background-color:#5C1B1B}

table.tJoinInfoPersent{border-collapse:collapse;width:100%;border:0px;font-size:14px;color:#424242;font-weight:600;line-height:39px;text-align:center}
table.tJoinInfoPersent th,
table.tJoinInfoPersent td{border:1px solid #d7d7d7}
table.tJoinInfoPersent tbody th,
table.tJoinInfoPersent tbody td{border-top:0}
table.tJoinInfoPersent thead th{color:#000;font-weight:600;background-color:#e3e2e2}
table.tJoinInfoPersent tbody th{background-color:#f3f9ff}

table.tResultTrust{border-collapse:collapse;width:100%;border:0px;font-size:14px;color:#000;text-align:center}
table.tResultTrust th,
table.tResultTrust td{border:1px solid #d7d7d7}
table.tResultTrust tbody th{height:93px;font-weight:bold;background-color:#f7f9fa}
table.tResultTrust tbody td{text-align:left;padding:20px;line-height:24px}

table.tResultAnalysMMoreResult{border-collapse:collapse;width:100%;border:0px;font-size:14px;color:#000;text-align:center}
table.tResultAnalysMMoreResult th,
table.tResultAnalysMMoreResult td{border:1px solid #d7d7d7}
table.tResultAnalysMMoreResult thead th{background-color:#e3e2e2;height:38px;font-weight:bold}
table.tResultAnalysMMoreResult tbody th{background-color:#e9edef;height:39px;font-weight:bold}
table.tResultAnalysMMoreResult tbody td.hei{color:#3266a5;background-color:#f3f9ff}
table.tResultAnalysMMoreResult tbody td.mid{color:#3c9c2c;background-color:#f8fff3}
table.tResultAnalysMMoreResult tbody td.low{color:#c76161;background-color:#fff3f3}

table.tResultAnalysMMoreResultInfo{border-collapse:collapse;width:100%;border:0px;font-size:14px;color:#000;text-align:center}
table.tResultAnalysMMoreResultInfo thead th{color:#fff;height:30px;font-weight:bold}
table.tResultAnalysMMoreResultInfo thead th.hei{background-color:#3266a5}
table.tResultAnalysMMoreResultInfo thead th.mid{background-color:#3c9c2c}
table.tResultAnalysMMoreResultInfo thead th.low{background-color:#c76161}
table.tResultAnalysMMoreResultInfo td{height:39px;border:1px solid #d7d7d7;border-top:0px;font-weight:bold}

table.tLayerAnalysM{border-collapse:collapse;width:100%;border:0px;color:#000;text-align:center}
table.tLayerAnalysM tbody th{font-size:14px;color:#56688b;background-color:#f3f9ff;border:1px solid #d7d7d7;font-weight:bold}
table.tLayerAnalysM tbody td{font-size:13px;color:#000;line-height:22px;text-align:left;padding:20px;background-color:#fff;border:1px solid #d7d7d7}
table.tLayerAnalysM tbody tr.cellspacing{height:10px}

table.tLayerAnalysL{border-collapse:collapse;width:100%;border:0px;color:#000;text-align:center}
table.tLayerAnalysL tbody th{font-size:14px;color:#56688b;background-color:#f3f9ff;border:1px solid #d7d7d7;font-weight:bold}
table.tLayerAnalysL tbody td{font-size:13px;color:#000;line-height:22px;text-align:left;padding:20px;background-color:#fff;border:1px solid #d7d7d7}

table.tResultAnalysLMoreResult{border-collapse:collapse;width:100%;border:0px;font-size:14px;color:#000;text-align:center}
table.tResultAnalysLMoreResult th,
table.tResultAnalysLMoreResult td{border:1px solid #d7d7d7}
table.tResultAnalysLMoreResult thead{border-bottom:none}
table.tResultAnalysLMoreResult thead th{background-color:#e3e2e2;height:38px;font-weight:bold}
table.tResultAnalysLMoreResult tbody th{background-color:#e9edef;height:39px;font-weight:bold}
table.tResultAnalysLMoreResult tbody td:nth-child(3){text-align:left;padding:10px}
table.tResultAnalysLMoreResult tbody td.hei{color:#3266a5;background-color:#f3f9ff}
table.tResultAnalysLMoreResult tbody td.mid{color:#3c9c2c;background-color:#f8fff3}
table.tResultAnalysLMoreResult tbody td.low{color:#c76161;background-color:#fff3f3}
table.tResultAnalysLMoreResult tbody td.desc{font-weight:normal}

table.tResultAnalysLPersent{border-collapse:collapse;width:100%;border:0px;font-size:14px;color:#000;text-align:center}
table.tResultAnalysLPersent th,
table.tResultAnalysLPersent td{border:1px solid #d7d7d7}
table.tResultAnalysLPersent thead th{font-weight:bold}
table.tResultAnalysLPersent thead td{border-bottom:0}
table.tResultAnalysLPersent thead tr th{height:38px;background-color:#e3e2e2}
/*table.tResultAnalysLPersent thead tr th:first-child,*/
table.tResultAnalysLPersent thead tr td:last-child,
table.tResultAnalysLPersent thead tr td:nth-child(2){background:none}
table.tResultAnalysLPersent thead tr th.pst{height:38px;background-color:#e9edef;color:#7d9ba6}
table.tResultAnalysLPersent tbody tr th{height:39px;background-color:#e9edef;font-weight:bold}
table.tResultAnalysLPersent tbody tr td{height:39px}
table.tResultAnalysLPersent tbody tr td.stnScore01{background-color:#f9f6f1;font-weight:normal}
table.tResultAnalysLPersent tbody tr td.stnScore02{background-color:#f9f1f8;font-weight:normal}
table.tResultAnalysLPersent tbody tr td.stnScore03{background-color:#f3f9f1;font-weight:normal}
table.tResultAnalysLPersent tbody tr td.low{background-color:#f3f9ff}
table.tResultAnalysLPersent tbody tr td.hei{background-color:#fff3f3}
table.tResultAnalysLPersent tbody tr td span.hei{color:#3266a5}
table.tResultAnalysLPersent tbody tr td span.mid{color:#3c9c2c}
table.tResultAnalysLPersent tbody tr td span.low{color:#c76161}

table.tResultCre{border-collapse:collapse;width:100%;border:0px;font-size:14px;color:#000;text-align:center}
table.tResultCre thead th{background-color:#dbe0e8;font-weight:bold;height:38px}
table.tResultCre thead{border:0px}
table.tResultCre th,
table.tResultCre td{border-left:1px solid #cdcdcd;border-top:1px solid #cdcdcd}
table.tResultCre th:last-child,
table.tResultCre td:last-child{border-right:1px solid #cdcdcd}
table.tResultCre tbody{border-bottom:1px solid #cdcdcd}
table.tResultCre tbody th{}
table.tResultCre tbody td:last-child{font-weight:bold}
table.tResultCre tbody td.content{padding:10px;line-height:22px;text-align:left}
table.tResultCre tbody td:nth-child(12){background-color:#fff3f3}

table.tResultCloneResult{border-collapse:collapse;width:100%;border:0px;font-size:14px;color:#000;text-align:center}
table.tResultCloneResult th,
table.tResultCloneResult td{border:1px solid #d7d7d7}
table.tResultCloneResult thead th{height:39px;font-weight:bold;border-bottom:none;background-color:#f3f9ff}
table.tResultCloneResult thead td{text-indent:20px;text-align:left;border-bottom:none}
table.tResultCloneResult tbody td{height:239px}
table.tResultCloneResult tbody td .chart_pie_title{position:absolute;left:21px;top:10px;font-size:14px;font-weight:bold}
table.tResultCloneResult tbody td svg{display:block;float:left;margin:20px 0 0 40px}
table.tResultCloneResult tbody td svg text{color:#737373;font-size:10px}
table.tResultCloneResult tbody td ul{display:block;float:left;width:160px;text-align:left;padding:70px 0 0 50px}
table.tResultCloneResult tbody td ul li{display:block;width:200px;height:30px;vertical-align:middle}
table.tResultCloneResult tbody td ul li *{vertical-align:middle}
table.tResultCloneResult tbody td ul li i{width:14px;height:14px;display:inline-block}
table.tResultCloneResult tbody td ul li i.color_tag_00dab9{background-color:#00dab9}
table.tResultCloneResult tbody td ul li i.color_tag_e44296{background-color:#e44296}
table.tResultCloneResult tbody td ul li i.color_tag_507ff4{background-color:#507ff4}
table.tResultCloneResult tbody td ul li i.color_tag_ffae00{background-color:#ffae00}
table.tResultCloneResult tbody td ul li i.color_tag_5C1B1B{background-color:#5C1B1B}

table.tResultCloneMatch{border-collapse:collapse;width:100%;border:0px;font-size:14px;color:#000;text-align:center}
table.tResultCloneMatch tbody th,
table.tResultCloneMatch tbody td{border:1px solid #d7d7d7}
table.tResultCloneMatch tbody th{height:42px;font-weight:bold;background-color:#f3f9ff}
table.tResultCloneMatch tbody td{text-indent:20px;text-align:left}
table.tResultCloneMatch tbody td span{font-weight:bold;color:#ff8400}

table.tResultClsJob{border-collapse:collapse;width:100%;border:0px;font-size:14px;color:#000;text-align:center}
table.tResultClsJob tbody th,
table.tResultClsJob tbody td{border:1px solid #d7d7d7}
table.tResultClsJob tbody th{font-weight:bold;height:93px;background-color:#f7f9fa}
table.tResultClsJob tbody td{line-height:22px;padding:0 20px}

table.tResultPersent{border-collapse:collapse;width:100%;border:0px;font-size:14px;color:#000;text-align:center}
table.tResultPersent th,
table.tResultPersent td{border:1px solid #d7d7d7}
table.tResultPersent thead th{font-weight:bold}
table.tResultPersent thead td{border-bottom:0}
table.tResultPersent thead tr th{height:38px;background-color:#e3e2e2}
/*
table.tResultPersent thead tr td:first-child,
table.tResultPersent thead tr td:last-child,
table.tResultPersent thead tr td:nth-child(2){background:none}
*/
table.tResultPersent thead tr td{height:27px;background-color:#e9edef;color:#7d9ba6;font-size:12px;font-weight:normal}
table.tResultPersent tbody tr th{height:39px;background-color:#e9edef}
table.tResultPersent tbody tr td{}
table.tResultPersent tbody tr td.low{background-color:#f3f9ff}
table.tResultPersent tbody tr td.hei{background-color:#fff3f3}
table.tResultPersent tbody tr td span.hei{color:#3266a5}
table.tResultPersent tbody tr td span.mid{color:#3c9c2c}
table.tResultPersent tbody tr td span.low{color:#c76161}

table.tResultIcon{border-collapse:collapse;width:100%;border:0px;font-size:14px;color:#000;text-align:center}
table.tResultIcon thead tr th,
table.tResultIcon thead td{border:1px solid #cdcdcd;border-bottom:none;line-height:38px}
table.tResultIcon thead tr th{background-color:#d9edf4;font-weight:bold}
table.tResultIcon thead tr td{background-color:#e3e2e2}
table.tResultIcon tbody tr td{border:1px solid #cdcdcd;border-bottom:none}
table.tResultIcon tbody tr:last-child td{border-bottom:1px solid #cdcdcd}
table.tResultIcon tbody tr td{padding:13px 0px}
table.tResultIcon tbody tr td span{display:block;margin-top:18px}
table.tResultIcon tbody tr td i{display:inline-block;width:80px;height:80px;border:4px solid #ebebeb;border-radius:50px}

/* 검사결과 고정 아이콘 */
table.tResultIcon tbody tr td i.hand{background:url("../images/au/result_status_hand.png") center center no-repeat}
table.tResultIcon tbody tr td i.heart{background:url("../images/au/result_status_heart.png") center center no-repeat}
table.tResultIcon tbody tr td i.clock{background:url("../images/au/result_status_clock.png") center center no-repeat}

/* 검사결과 공통코드별 아이콘 */
/* 5가지 학업성향 */
table.tResultIcon tbody tr td i.pps01{background:url("../images/au/icon/icon_01_01.png") center center no-repeat}
table.tResultIcon tbody tr td i.pps02{background:url("../images/au/icon/icon_01_02.png") center center no-repeat}
table.tResultIcon tbody tr td i.pps03{background:url("../images/au/icon/icon_01_03.png") center center no-repeat}
table.tResultIcon tbody tr td i.pps04{background:url("../images/au/icon/icon_01_04.png") center center no-repeat}
table.tResultIcon tbody tr td i.pps05{background:url("../images/au/icon/icon_01_05.png") center center no-repeat}

/* 11가지 인성 */
table.tResultIcon tbody tr td i.persub_01{background:url("../images/au/icon/icon_02_01.png") center center no-repeat}
table.tResultIcon tbody tr td i.persub_02{background:url("../images/au/icon/icon_02_02.png") center center no-repeat}
table.tResultIcon tbody tr td i.persub_03{background:url("../images/au/icon/icon_02_03.png") center center no-repeat}
table.tResultIcon tbody tr td i.persub_04{background:url("../images/au/icon/icon_02_04.png") center center no-repeat}
table.tResultIcon tbody tr td i.persub_05{background:url("../images/au/icon/icon_02_05.png") center center no-repeat}
table.tResultIcon tbody tr td i.persub_06{background:url("../images/au/icon/icon_02_06.png") center center no-repeat}
table.tResultIcon tbody tr td i.persub_07{background:url("../images/au/icon/icon_02_07.png") center center no-repeat}
table.tResultIcon tbody tr td i.persub_08{background:url("../images/au/icon/icon_02_08.png") center center no-repeat}
table.tResultIcon tbody tr td i.persub_09{background:url("../images/au/icon/icon_02_09.png") center center no-repeat}
table.tResultIcon tbody tr td i.persub_10{background:url("../images/au/icon/icon_02_10.png") center center no-repeat}
table.tResultIcon tbody tr td i.persub_11{background:url("../images/au/icon/icon_02_11.png") center center no-repeat}

/* 3가지 주요인성군 */
table.tResultIcon tbody tr td i.permain_01{background:url("../images/au/icon/icon_03_01.png") center center no-repeat}
table.tResultIcon tbody tr td i.permain_02{background:url("../images/au/icon/icon_03_02.png") center center no-repeat}
table.tResultIcon tbody tr td i.permain_03{background:url("../images/au/icon/icon_03_03.png") center center no-repeat}

/* 46개 학과 */
table.tResultIcon tbody tr td i.maj_01{background:url("../images/au/icon/icon_04_01.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_02{background:url("../images/au/icon/icon_04_02.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_03{background:url("../images/au/icon/icon_04_03.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_04{background:url("../images/au/icon/icon_04_04.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_05{background:url("../images/au/icon/icon_04_05.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_06{background:url("../images/au/icon/icon_04_06.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_07{background:url("../images/au/icon/icon_04_07.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_08{background:url("../images/au/icon/icon_04_08.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_09{background:url("../images/au/icon/icon_04_09.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_10{background:url("../images/au/icon/icon_04_10.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_11{background:url("../images/au/icon/icon_04_11.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_12{background:url("../images/au/icon/icon_04_12.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_13{background:url("../images/au/icon/icon_04_13.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_14{background:url("../images/au/icon/icon_04_14.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_15{background:url("../images/au/icon/icon_04_15.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_16{background:url("../images/au/icon/icon_04_16.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_17{background:url("../images/au/icon/icon_04_17.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_18{background:url("../images/au/icon/icon_04_18.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_19{background:url("../images/au/icon/icon_04_19.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_20{background:url("../images/au/icon/icon_04_20.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_21{background:url("../images/au/icon/icon_04_21.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_22{background:url("../images/au/icon/icon_04_22.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_23{background:url("../images/au/icon/icon_04_23.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_24{background:url("../images/au/icon/icon_04_24.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_25{background:url("../images/au/icon/icon_04_25.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_26{background:url("../images/au/icon/icon_04_26.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_27{background:url("../images/au/icon/icon_04_27.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_28{background:url("../images/au/icon/icon_04_28.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_29{background:url("../images/au/icon/icon_04_29.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_30{background:url("../images/au/icon/icon_04_30.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_31{background:url("../images/au/icon/icon_04_31.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_32{background:url("../images/au/icon/icon_04_32.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_33{background:url("../images/au/icon/icon_04_33.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_34{background:url("../images/au/icon/icon_04_34.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_35{background:url("../images/au/icon/icon_04_35.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_36{background:url("../images/au/icon/icon_04_36.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_37{background:url("../images/au/icon/icon_04_37.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_38{background:url("../images/au/icon/icon_04_38.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_39{background:url("../images/au/icon/icon_04_39.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_40{background:url("../images/au/icon/icon_04_40.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_41{background:url("../images/au/icon/icon_04_41.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_42{background:url("../images/au/icon/icon_04_42.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_43{background:url("../images/au/icon/icon_04_43.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_44{background:url("../images/au/icon/icon_04_44.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_45{background:url("../images/au/icon/icon_04_45.png") center center no-repeat}
table.tResultIcon tbody tr td i.maj_46{background:url("../images/au/icon/icon_04_46.png") center center no-repeat}

/* 검사결과 아이콘 배경 */
table.tResultIcon tbody tr td i.sky{background-color:#339cde}
table.tResultIcon tbody tr td i.blue{background-color:#56688b}
table.tResultIcon tbody tr td i.red{background-color:#c76161}

table.tSurvey{border-collapse:collapse;width:100%;border:0px}
table.tSurvey th,
table.tSurvey td{border-bottom:1px solid #b5b5b5}
table.tSurvey thead tr td{font-size:20px;font-weight:600;color:#000;line-height:40px}
table.tSurvey thead tr th{font-size:12px;color:#7d9ba6;line-height:39px}
table.tSurvey tbody tr td{font-size:16px;color:#000;line-height:50px}
table.tSurvey tbody tr td{text-align:center}
/*table.tSurvey tbody tr td:first-child{text-align:center}*/

table.tScaleSurvey{border-collapse:collapse;width:100%;border:0px;letter-spacing:-0.4px}
table.tScaleSurvey thead tr th{padding:8px 0;font-size:12px;color:#7d9ba6;border-bottom:1px solid #b5b5b5;border-top:1px solid #b5b5b5}
table.tScaleSurvey thead tr th:nth-child(3),
table.tScaleSurvey thead tr th:nth-child(7){background-color:#e9edef}
table.tScaleSurvey thead tr th:nth-child(4),
table.tScaleSurvey thead tr th:nth-child(6){background-color:#f7f9fa}
table.tScaleSurvey thead tr th:nth-child(5){background-color:#f1f1f1}
table.tScaleSurvey tbody tr:nth-child(2n){background-color:#fcfcfc}
table.tScaleSurvey tbody tr th{font-size:14px;padding:9px 0;border-bottom:1px solid #dcdcdc}
table.tScaleSurvey tbody tr #qes{font-size:14px;border-bottom:1px solid #dcdcdc;text-align:left;padding-left:10px;}
table.tScaleSurvey tbody tr td{font-size:14px;border-bottom:1px solid #dcdcdc}
table.tScaleSurvey tbody tr th{color:#737373}
table.tScaleSurvey tbody tr td{color:#000;background:url("../images/au/scale_bg01.png") 0px bottom no-repeat;text-align:center}
table.tScaleSurvey tbody tr td:nth-child(2){background:none}
table.tScaleSurvey tbody tr td i{cursor:pointer;display:inline-block;width:60px;height:32px;background:url("../images/au/survey_off.png") center center no-repeat;float:left}
table.tScaleSurvey tbody tr td i.on{background-image:url("../images/au/survey_on.png")}

table.tCkeckSurvey{border-collapse:collapse;width:100%;border:0px;letter-spacing:-0.4px;text-align:center;table-layout:fixed}
table.tCkeckSurvey th,
table.tCkeckSurvey td{padding:10px 0;border-left:1px solid #b5b5b5;border-bottom:1px solid #b5b5b5}
table.tCkeckSurvey th:first-child,
table.tCkeckSurvey td:first-child{border-left:none}
table.tCkeckSurvey tbody th,
table.tCkeckSurvey tbody td,
table.tCkeckSurvey tfoot th,
table.tCkeckSurvey tfoot td{border-bottom-color:#dcdcdc}
table.tCkeckSurvey thead{border-top:1px solid #b5b5b5}
table.tCkeckSurvey thead tr th{font-size:24px;color:#ff9c00}
table.tCkeckSurvey thead tr td{font-size:14px;color:#000;padding-left:25px;padding-right:25px;line-height:20px}
table.tCkeckSurvey tbody tr th,
table.tCkeckSurvey tbody tr td{font-size:12px;color:#7d9ba6}
table.tCkeckSurvey tbody tr th{background-color:#e9edef}
table.tCkeckSurvey tbody tr td{background-color:#f7f9fa}
table.tCkeckSurvey tbody tr td.vs_bc{background-color:#f1f1f1}
table.tCkeckSurvey tfoot tr td {padding:0;cursor:pointer}
table.tCkeckSurvey tfoot tr td i{display:inline-block;width:90px;height:40px;background:url("../images/au/survey_off.png") no-repeat 50% 50%}
table.tCkeckSurvey tfoot tr td i.on{width:90px;height:40px;background-image:url("../images/au/survey_check.png")}

/*
table.style01{border-collapse:collapse;width:100%;border:0px;font-size:14px;color:#000;text-align:center}
table.style01 thead{border-top:2px solid #b5b5b5;border-bottom:2px solid #b5b5b5}
table.style01 thead th{padding:22px 0;font-weight:bold}
table.style01 tbody th,
 table.style01 tbody td{border-bottom:1px solid #dcdcdc}
table.style01 tbody tr:nth-child(2n) td,
 table.style01 tbody tr:nth-child(2n) th{background-color:#fcfcfc}
table.style01 tbody th{color:#737373}
table.style01 tbody td{padding:11px 0}
table.style01 td .select.calendar{height:28px;flex:none;-webkit-flex:none;-ms-flex:none}
table.style01 td .select.calendar .info{font-size:12px}
table.style01 td .select.calendar input{width:88px;height:26px;display:inline-block;padding-left:10px;border:1px solid #dcdcdc;background:url("../images/mng/icon_calendar.png") #fff right center no-repeat;cursor:pointer}
table.style01 .select.checkbox input[type="checkbox"]{width:18px;height:18px;border:1px solid #b4b4b4;-webkit-appearance:none;appearance:none;cursor:pointer}
table.style01 .select.checkbox input[type="checkbox"]:checked{background:url("../images/mng/icon_checkbox.png") no-repeat}
table.style01 td input[type="text"]{padding-left:10px;height:26px;border:1px solid #dcdcdc;margin-right:5px}
table.style01 td .select{display:inline-block}
table.style01 td select{padding-left:10px;padding-right:30px;height:26px;border:1px solid #dcdcdc;-webkit-appearance:none;appearance:none;background:url("../images/bg_select_arrow.png") #fff right center no-repeat}
table.style01 .radioSection input[type="radio"]{width:20px;height:20px;margin-right:10px;-webkit-appearance:none;appearance:none;background:url("../images/login/input_radio_off.png") center center no-repeat}
table.style01 .radioSection input[type="radio"]:checked{background-image:url("../images/login/input_radio_on.png")}
*/

.tableWrap{position:relative;padding-top:64px;width:100%;overflow:hidden;border-top:2px solid #b5b5b5}
.tableWrap > div{overflow:auto;border-top:2px solid #b5b5b5}
table.style01{border-collapse:collapse;width:760px;border:0px;font-size:14px;color:#000;text-align:center}
table.style01 thead{}
table.style01 thead tr{position:absolute;top:0;display:block;width:760px}
table.style01 thead tr th{width:195px;padding:22px 0;font-weight:bold}
table.style01 tbody{display:block;height:230px}
table.style01 tbody tr{height:auto}
table.style01 tbody tr th{color:#737373}
table.style01 tbody tr th,
.tableWrap .style01 tbody tr td{border-bottom:1px solid #dcdcdc}
table.style01 tbody tr:nth-child(even) td,
table.style01 tbody tr:nth-child(2n) th{background-color:#fcfcfc}
table.style01 tbody tr td{width:195px;padding:11px 0}
table.style01 td .select.calendar{height:28px;flex:none;-webkit-flex:none;-ms-flex:none}
table.style01 td .select.calendar .info{font-size:12px}
table.style01 td .select.calendar input{width:88px;height:26px;display:inline-block;padding-left:10px;border:1px solid #dcdcdc;background:url("../images/mng/icon_calendar.png") #fff right center no-repeat;cursor:pointer}
table.style01 .select.checkbox input[type="checkbox"]{width:18px;height:18px;border:1px solid #b4b4b4;-webkit-appearance:none;appearance:none;cursor:pointer}
table.style01 .select.checkbox input[type="checkbox"]:checked{background:url("../images/mng/icon_checkbox.png") no-repeat}
table.style01 td input[type="text"]{padding-left:10px;height:26px;border:1px solid #dcdcdc;margin-right:5px}
table.style01 td .select{display:inline-block}
/*
table.style01 td select{padding-left:10px;padding-right:30px;height:26px;border:1px solid #dcdcdc;-webkit-appearance:none;appearance:none;background:url("../images/bg_select_arrow.png") #fff right center no-repeat}
table.style01 .radioSection input[type="radio"]{width:20px;height:20px;margin-right:10px;-webkit-appearance:none;appearance:none;background:url("../images/login/input_radio_off.png") center center no-repeat}
table.style01 .radioSection input[type="radio"]:checked{background-image:url("../images/login/input_radio_on.png")}
*/


.layerPopup.perSurvey{width:600px;hieght:420px;display:none}
.layerPopup.perSurvey .layerHeader{width:100%;height:50px;background-color:#56688b}
.layerPopup.perSurvey .layerHeader .title{display:inline-block;font-size:18px;font-weight:600;color:#fff;line-height:50px;text-indent:30px;letter-spacing:-0.4px}
.layerPopup.perSurvey .layerHeader .layerClose{float:right;margin:16px 20px 0 0}
.layerPopup.perSurvey .layerContainer{padding:10px;width:580px;height:350px;background-color:#ebebeb}
.layerPopup.perSurvey .layerContainer .conHeader{width:100%;height:30px}
.layerPopup.perSurvey .layerContainer .conHeader span{display:inline-block;font-size:16px;font-weight:600;color:#010101;line-height:30px;text-indent:20px}
.layerPopup.perSurvey .layerContainer .conContainer{width:578px;hieght:253px;border:1px solid #d7d7d7;margin-bottom:10px}
.layerPopup.perSurvey .layerContainer .conContainer .secTittle{padding:20px;border-bottom:1px solid #d7d7d7}
.layerPopup.perSurvey .layerContainer .conContainer .secTittle p{display:inline-block;font-size:14px;font-weight:600;color:#56688b}
.layerPopup.perSurvey .layerContainer .conContainer .secContent{width:578px;hieght:196px}
.layerPopup.perSurvey .layerContainer .conContainer .secContent dl{overflow:hidden;padding:10px 23px 10px 30px}
.layerPopup.perSurvey .layerContainer .conContainer .secContent dl dt{font-size:13px;font-weight:600;color:#01aeeb;clear:both;float:left;padding:10px 5px 10px 0;letter-spacing:-0.4px}
.layerPopup.perSurvey .layerContainer .conContainer .secContent dl dd{font-size:13px;font-weight:600;color:#000;width:495px;float:left;display:block;padding:10px 0;letter-spacing:-0.4px}
.layerPopup.perSurvey .layerContainer .conFooter{clear:both;text-align:center}

.layerPopup.affSurvey{width:600px;hieght:420px;display:none}
.layerPopup.affSurvey .layerHeader{width:100%;height:50px;background-color:#56688b}
.layerPopup.affSurvey .layerHeader .title{display:inline-block;font-size:18px;font-weight:600;color:#fff;line-height:50px;text-indent:30px;letter-spacing:-0.4px}
.layerPopup.affSurvey .layerHeader .layerClose{float:right;margin:16px 20px 0 0}
.layerPopup.affSurvey .layerContainer{padding:10px;width:580px;height:350px;background-color:#ebebeb}
.layerPopup.affSurvey .layerContainer .conHeader{width:100%;height:30px}
.layerPopup.affSurvey .layerContainer .conHeader span{display:inline-block;font-size:16px;font-weight:600;color:#010101;line-height:30px;text-indent:20px}
.layerPopup.affSurvey .layerContainer .conContainer{width:578px;hieght:253px;border:1px solid #d7d7d7;margin-bottom:10px}
.layerPopup.affSurvey .layerContainer .conContainer .secTittle{padding:20px;border-bottom:1px solid #d7d7d7}
.layerPopup.affSurvey .layerContainer .conContainer .secTittle p{display:inline-block;font-size:14px;font-weight:600;color:#56688b}
.layerPopup.affSurvey .layerContainer .conContainer .secContent{width:578px;hieght:196px}
.layerPopup.affSurvey .layerContainer .conContainer .secContent dl{overflow:hidden;padding:10px 23px 10px 30px}
.layerPopup.affSurvey .layerContainer .conContainer .secContent dl dt{font-size:13px;font-weight:600;color:#01aeeb;clear:both;float:left;padding:10px 5px 10px 0;letter-spacing:-0.4px}
.layerPopup.affSurvey .layerContainer .conContainer .secContent dl dd{font-size:13px;font-weight:600;color:#000;width:495px;float:left;display:block;padding:10px 0;letter-spacing:-0.4px}
.layerPopup.affSurvey .layerContainer .conFooter{clear:both;text-align:center}

.layerPopup.selfSurvey{width:600px;hieght:420px;display:none}
.layerPopup.selfSurvey .layerHeader{width:100%;height:50px;background-color:#56688b}
.layerPopup.selfSurvey .layerHeader .title{display:inline-block;font-size:18px;font-weight:600;color:#fff;line-height:50px;text-indent:30px;letter-spacing:-0.4px}
.layerPopup.selfSurvey .layerHeader .layerClose{float:right;margin:16px 20px 0 0}
.layerPopup.selfSurvey .layerContainer{padding:10px;width:580px;height:350px;background-color:#ebebeb}
.layerPopup.selfSurvey .layerContainer .conHeader{width:100%;height:30px}
.layerPopup.selfSurvey .layerContainer .conHeader span{display:inline-block;font-size:16px;font-weight:600;color:#010101;line-height:30px;text-indent:20px}
.layerPopup.selfSurvey .layerContainer .conContainer{width:578px;hieght:253px;border:1px solid #d7d7d7;margin-bottom:10px}
.layerPopup.selfSurvey .layerContainer .conContainer .secTittle{padding:20px;border-bottom:1px solid #d7d7d7}
.layerPopup.selfSurvey .layerContainer .conContainer .secTittle p{display:inline-block;font-size:14px;font-weight:600;color:#56688b}
.layerPopup.selfSurvey .layerContainer .conContainer .secContent{width:578px;hieght:196px}
.layerPopup.selfSurvey .layerContainer .conContainer .secContent dl{overflow:hidden;padding:10px 23px 10px 30px}
.layerPopup.selfSurvey .layerContainer .conContainer .secContent dl dt{font-size:13px;font-weight:600;color:#01aeeb;clear:both;float:left;padding:10px 5px 10px 0;letter-spacing:-0.4px}
.layerPopup.selfSurvey .layerContainer .conContainer .secContent dl dd{font-size:13px;font-weight:600;color:#000;width:495px;float:left;display:block;padding:10px 0;letter-spacing:-0.4px}
.layerPopup.selfSurvey .layerContainer .conFooter{clear:both;text-align:center}

.layerPopup.analysL{width:780px;height:600px;display:none}
.layerPopup.analysL .layerHeader{width:100%;height:50px;background-color:#56688b}
.layerPopup.analysL .layerHeader .title{display:inline-block;font-size:18px;font-weight:600;color:#fff;line-height:50px;text-indent:30px;letter-spacing:-0.4px}
.layerPopup.analysL .layerHeader .layerClose{float:right;margin:16px 20px 0 0}
.layerPopup.analysL .layerContainer{background-color:#ebebeb}
.layerPopup.analysL .layerContainer .conContainer{height:483px;overflow-y:scroll;overflow-x:hidden;border-bottom:1px solid #d7d7d7;padding:10px}
.layerPopup.analysL .layerContainer .conFooter{clear:both;text-align:center;padding:10px 0}

.layerPopup.analysM{width:760px;height:525px;display:none}
.layerPopup.analysM .layerHeader{width:100%;height:50px;background-color:#56688b}
.layerPopup.analysM .layerHeader .title{display:inline-block;font-size:18px;font-weight:600;color:#fff;line-height:50px;text-indent:30px;letter-spacing:-0.4px}
.layerPopup.analysM .layerHeader .layerClose{float:right;margin:16px 20px 0 0}
.layerPopup.analysM .layerContainer{background-color:#ebebeb;padding:10px}
.layerPopup.analysM .layerContainer .conContainer{}
.layerPopup.analysM .layerContainer .conFooter{clear:both;text-align:center;padding:10px 0}

.layerPopup.usrManage{width:400px;display:none;background-color:#ebebeb;padding:10px}
.layerPopup.usrManage .layerHeader{width:100%;height:40px}
.layerPopup.usrManage .layerHeader .title{display:inline-block;font-size:18px;font-weight:bold;color:#000;line-height:28px;text-indent:20px;letter-spacing:-0.4px}
.layerPopup.usrManage .layerHeader .layerClose{float:right;margin:5px 10px 0 0}
.layerPopup.usrManage .layerContainer{padding:85px 0;background-color:#fff;text-align:center;font-size:16px;color:#000;margin-bottom:10px}
.layerPopup.usrManage .layerFooter{clear:both;text-align:center}

.layerPopup.usrManage2{width:400px;display:none;background-color:#ebebeb;padding:10px}
.layerPopup.usrManage2 .layerHeader{width:100%;height:40px}
.layerPopup.usrManage2 .layerHeader .title{display:inline-block;font-size:18px;font-weight:bold;color:#000;line-height:28px;text-indent:20px;letter-spacing:-0.4px}
.layerPopup.usrManage2 .layerHeader .layerClose{float:right;margin:5px 10px 0 0}
.layerPopup.usrManage2 .layerContainer{padding:85px 0;background-color:#fff;text-align:center;font-size:16px;color:#000;margin-bottom:10px}
.layerPopup.usrManage2 .layerFooter{clear:both;text-align:center}


.layerPopup.usrManage3{width:400px;display:none;background-color:#ebebeb;padding:10px}
.layerPopup.usrManage3 .layerHeader{width:100%;height:40px}
.layerPopup.usrManage3 .layerHeader .title{display:inline-block;font-size:18px;font-weight:bold;color:#000;line-height:28px;text-indent:20px;letter-spacing:-0.4px}
.layerPopup.usrManage3 .layerHeader .layerClose{float:right;margin:5px 10px 0 0}
.layerPopup.usrManage3 .layerContainer{padding:85px 0;background-color:#fff;text-align:center;font-size:16px;color:#000;margin-bottom:10px}
.layerPopup.usrManage3 .layerFooter{clear:both;text-align:center}

.layerPopup.tchInfoLayer{width:400px;display:none;background-color:#ebebeb;padding:10px}
.layerPopup.tchInfoLayer .layerHeader{width:100%;height:40px}
.layerPopup.tchInfoLayer .layerHeader .title{display:inline-block;font-size:18px;font-weight:900;color:#000;line-height:28px;text-indent:20px;letter-spacing:-0.4px}
.layerPopup.tchInfoLayer .layerHeader .layerClose{float:right;margin:5px 10px 0 0}
.layerPopup.tchInfoLayer .layerContainer{padding:0 40px;background-color:#fff;text-align:center;font-size:16px;color:#000;margin-bottom:10px}
.layerPopup.tchInfoLayer .layerContainer .message{width:320px;display:table-cell;vertical-align:middle;height:115px;font-weight:bold}
.layerPopup.tchInfoLayer .layerContainer .selectWrap{width:340px;height:48px}
.layerPopup.tchInfoLayer .layerFooter{clear:both;text-align:center}
.layerPopup.tchInfoLayer .layerContainer .selectWrap label{font-size:16px;font-weight:bold;height:28px}
.layerPopup.tchInfoLayer .layerContainer .selectWrap .select{height:28px;display:inline-block}
.layerPopup.tchInfoLayer .layerContainer .selectWrap .select select{height:26px;border:1px solid #dcdcdc;-webkit-appearance:none;appearance:none;background:url("../images/bg_select_arrow.png") right center no-repeat}

.layerPopup.userInfoLayer{width:450px;display:none;background-color:#ebebeb;padding:10px}
.layerPopup.userInfoLayer .layerHeader{width:100%;height:40px}
.layerPopup.userInfoLayer .layerHeader .title{display:inline-block;font-size:18px;font-weight:900;color:#000;line-height:28px;text-indent:20px;letter-spacing:-0.4px}
.layerPopup.userInfoLayer .layerHeader .layerClose{float:right;margin:5px 10px 0 0}
.layerPopup.userInfoLayer .layerContainer{padding:0 20px;background-color:#fff;text-align:center;font-size:16px;color:#000;margin-bottom:10px}
.layerPopup.userInfoLayer .layerContainer .message{width:100%;height:80px;padding-top:30px;/*display:table-cell;*/vertical-align:middle;font-weight:bold;text-align:center}
.layerPopup.userInfoLayer .layerContainer .selectWrap{width:100%;height:48px}
.layerPopup.userInfoLayer .layerFooter{clear:both;text-align:center}
.layerPopup.userInfoLayer .layerContainer .selectWrap label{font-size:16px;font-weight:bold;height:28px}
.layerPopup.userInfoLayer .layerContainer .selectWrap .select{height:28px;display:inline-block}
.layerPopup.userInfoLayer .layerContainer .selectWrap .select select{height:26px;border:1px solid #dcdcdc;-webkit-appearance:none;appearance:none;background:url("../images/bg_select_arrow.png") right center no-repeat}


.layerPopup.searchInfoSchool{width:860px;display:none}
.layerPopup.userInsertSchool{width:860px;display:none}
.layerPopup.userApplyClass{width:500px;display:none}

.layerPopup.style01 .layerHeader{width:100%;height:50px;background-color:#56688b}
.layerPopup.style01 .layerHeader .title{display:inline-block;font-size:18px;font-weight:bold;color:#fff;line-height:50px;text-indent:30px}
.layerPopup.style01 .layerHeader .layerClose{float:right;margin:20px 16px 0 0}
.layerPopup.style01 .layerContainer{padding:18px 20px;background-color:#ebebeb}
.layerPopup.style01 .layerContainer h1.title{font-size:20px;color:#010101;text-indent:10px;font-weight:bold;margin-bottom:18px}
.layerPopup.style01 .layerContainer h1.info{display:block;font-size:14px;color:#424242;font-weight:normal;margin-bottom:15px}
.layerPopup.style01 .layerContainer .conContainer{border:1px solid #d7d7d7;padding:19px;background-color:#fff;border-bottom:none}
.layerPopup.style01 .layerContainer .conContainer .searchWrap{border:1px solid #dcdcdc;background-color:#edecec;padding:15px;margin-bottom:20px;margin-bottom:30px;text-align:center}
.layerPopup.style01 .layerContainer .conContainer .searchWrap .section{display:inline-block;margin-right:20px;padding:10px 0}
.layerPopup.style01 .layerContainer .conContainer .searchWrap label{font-size:16px;font-weight:bold;color:#000;margin-right:4px}
.layerPopup.style01 .layerContainer .conContainer .searchWrap .select{display:inline-block}
.layerPopup.style01 .layerContainer .conContainer .searchWrap .select select{padding-left:5px;padding-right:30px;height:26px;border:1px solid #dcdcdc;-webkit-appearance:none;appearance:none;background:url("../images/bg_select_arrow.png") #fff right center no-repeat}
.layerPopup.style01 .layerContainer .conContainer .searchWrap .select input{padding-left:3px;height:26px;border:1px solid #dcdcdc}
.layerPopup.style01 .layerContainer .conContainer .tableWrap{padding-bottom:30px;border-bottom:1px solid #d7d7d7}
.layerPopup.style01 .layerContainer .conFooter{clear:both;text-align:center;padding:10px;border:1px solid #d7d7d7;border-top:none;background-color:#fff}
.layerPopup.style01 .layerFooter{clear:both;text-align:center}