/*
 * Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
	font-family:'Nanum Gothic';
	font-style:normal;
	font-weight: 400;
	src: url(../webfont-nanumgothic/NanumGothic-Regular.eot);
	src: url(../webfont-nanumgothic/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
		 url(../webfont-nanumgothic/NanumGothic-Regular.woff2) format('woff2'),
		 url(../webfont-nanumgothic/NanumGothic-Regular.woff) format('woff'),
		 url(../webfont-nanumgothic/NanumGothic-Regular.ttf) format('truetype')
}

@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 700;
	src: url(../webfont-nanumgothic/NanumGothic-Bold.eot);
	src: url(../webfont-nanumgothic/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
		 url(../webfont-nanumgothic/NanumGothic-Bold.woff2) format('woff2'),
		 url(../webfont-nanumgothic/NanumGothic-Bold.woff) format('woff'),
		 url(../webfont-nanumgothic/NanumGothic-Bold.ttf) format('truetype')
}

@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 800;
	src: url(../webfont-nanumgothic/NanumGothic-ExtraBold.eot);
	src: url(../webfont-nanumgothic/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
		 url(../webfont-nanumgothic/NanumGothic-ExtraBold.woff2) format('woff2'),
		 url(../webfont-nanumgothic/NanumGothic-ExtraBold.woff) format('woff'),
		 url(../webfont-nanumgothic/NanumGothic-ExtraBold.ttf) format('truetype')
}